/* ZERO STYLES */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    color: #292929;
    line-height: 1;
    display: flex;
    flex-direction: column; 
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #292929;
}

img {
    vertical-align: bottom;
}

button {
    cursor: pointer;
}
    
.container {
    max-width: 1520px;
    margin: 0 auto;
    padding: 0px 30px;
    box-sizing: content-box;
}



/* BLOCKS */
.button {
    width: 365px;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    text-align: center;
    padding: 17px 0px 18px 0px;
    border-radius: 30px;
    background: #FFCA44;
}
.button_link {
    display: inline-block;
    background: #F4F4F4;
}

.title {
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -0.04em;
}
.title > span {
    color: #83B32B;
}

.link-icon-wrap {
    display: flex;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: #F4F4F4;
    justify-content: center;
    align-items: center;
}



/* HEADER */
.header {
    padding-top: 30px;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    height: 100%;
    margin-right: 40px;
}
.header__menu {
    margin-right: 41px;
}
.header__menu-items {
    display: flex;
}
.header__menu-item:not(:last-child) {
    margin-right: 20px;
}
.header__menu-item > select {
    max-width: 147px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0%;
    color: #000;
}
.header__menu-link {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0%;
    color: #000;
}
.header__contacts {
    display: flex;
}
.header__contacts-numbers {
    display: flex;
    flex-direction: column;
    margin-right: 16px;
}
.header__contacts-numbers > * {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}
.header__contact-address {
    max-width: 136px;
    font-size: 12px;
    line-height: 20px;
    color: #646666;
    margin-right: 14px;
}
.header__contacts-button {
    max-width: 160px;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    padding: 12px 18px;
    border-radius: 20px;
    background: #000;
}


/* MAIN */
.main {
    flex: 1 1 auto;
}

/* 2 блок */
.stats {
    padding: 20px 0px 100px 0px;
}
.stats__items {
    display: flex;
}
.stats__item:not(:last-child) {
    margin-right: 20px;
}
.stats__item {
    padding: 30px 0px 30px 40px;
    background: #F4F4F4;
    border-radius: 8px;
}
.stats__item-title {
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -0.05em;
}
.stats__item-text {
    font-size: 20px;
    line-height: 30px;
}

/* 3 блок */
.stocks {
    padding-bottom: 100px;
}
.stocks__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stocks__items {
    display: flex;
    margin-bottom: 60px;
}
.stock__item {
    overflow: hidden;
    max-height: 460px;
}
.stock__item:not(:last-child) {
    margin-right: 20px;
}
.stock__item-body {
    border: 1px solid #D9D9D9;
    border-radius: 8px;
}
.stock__img {
    width: 100%;
}
.stock__title {
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: -0.05em;
    padding: 30px 0px 40px 40px;
}

/* 4 блок */
.cottage-complexes {
    padding-bottom: 101px;
}
.cottage-complexes__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cottage-complexes__title {
    align-self: flex-start;
    margin-bottom: 50px;
}
.cottage-complexes__cards {
    display: flex;
    margin-bottom: 60px;
}
.cottage-complexes__card {
    max-height: 780px;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    overflow: hidden;
}
.cottage-complexes__card:not(:last-child) {
    margin-right: 20px;
}
.cottage-complexes__card-items {
}
.cottage-complexes__card-img-wrap {
    position: relative;
}
.cottage-complexes__card-img {
    max-width: 100%;
}
.img-pre-title {
    position: absolute;
    top: 40px;
    left: 40px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.75);
}
.cottage-complexes__card-description {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px 40px 35px;
}
.cottage-complexes__card-texts {
    margin-top: 10px;
}
.cottage-complexes__card-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.05em;
    margin-bottom: 10px;
}
.cottage-complexes__card-text {
    font-size: 20px;
    line-height: 25px;
    color: #646666;
}
.cottage-complexes__link {
    
}

/* 5 блок */
.complexes-map {
    padding-bottom: 99px;
}
.complexes-map__wrapper {
    border: 1px solid #D9D9D9;
    padding: 40px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
}

.complexes-map__title {
    margin-bottom: 50px;
}
.complexes-map__map {
    height: 600px;
    width: 100%;
    margin-bottom: 40px;
}
.complexes-map__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
}
.complexes-map__description-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 10px;
}
.complexes-map__description-text {
    font-style: 20px;
    line-height: 30px;
    color: #646666;
}
.complexes-map__buttons {
    display: flex;
}
.complexes-map__buttons > *:not(:last-child) {
    margin-right: 20px;
}
.complexes-map__more-link {
}
.complexes-map__consult-button {
}

/* 6 блок */
.features {
    padding-bottom: 110px;
}
.features__title { 
    margin-bottom: 50px;
}
.features__cards {
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
}
.features__card {
    flex: 1 1 33%;
}
.features__card-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.features__card-img {
    max-height: 120px;
    margin-bottom: 20px;
}
.features__card-text {
    max-width: 309px;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.05em;
}

/* 7 блок */
.reports {
    padding-bottom: 100px;
}
.reports__container {
}
.reports__title {
    margin-bottom: 30px;
}
.reports__text {
    font-size: 30px;
    font-weight: 500;
    color: #000;
    margin-bottom: 44px;
}
.reports__slider {
}
.slider {
    height: 400px;
}

/* 8 блок */
.advantages {
    padding-bottom: 111px;
}
.advantages__container {
}
.advantages__title {
    margin-bottom: 50px;
}
.advantages__items {
    display: flex;
    flex-wrap: wrap;
    row-gap: 54px;
}
.advantages__item {
    flex: 1 1 33%;
}
.advantages____item-icon {
    margin-bottom: 21px;
}
.advantages__item-description {
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.05em;
    max-width: 466px;
}
.advantages__item-description > span {
    font-weight: 700;
    color: #83B32B;
}

/* 9 блок */
.payment {
    padding-bottom: 99px;
}
.payment__container {
}
.payment__wrapper {
    border: 1px solid #D9D9D9;
    padding: 40px 0px 40px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.payment__title {
    margin-bottom: 50px;
}
.payment__items {
    align-self:normal;
    margin-bottom: 54px;
    display: flex;
    flex-wrap: wrap;
}
.payment__item {
    flex: 1 1 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.payment__icon {
    height: 120px;
    margin-bottom: 26px;
}
.payment__name {
    font-size: 30px;
    letter-spacing: -0.05em;
}
.payment__link {
}

/* 10 блок */
.viewing {
    padding-bottom: 99px;
}
.viewing__container {
}
.viewing__title {
    margin-bottom: 49px;
}
.viewing__cards {
    display: flex;
}
.viewing__card {
    max-height: 600px;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    overflow: hidden;
}
.viewing__card:not(:last-child) {
    margin-right: 20px;
}
.viewing__card-items {
    display: flex;
    flex-direction: column;
}
.viewing__card-img {
    max-width: 100%;
}
.vewing__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px;
}
.viewing__card-button {
}

/* FOOTER */
.footer {
    padding: 60px 0px 98px 0px;
}
.footer__container {
    display: flex;
    justify-content: space-between;
}
.footer__container > *:not(:first-child) {
    margin-top: 120px;
}
.footer__logo {
    margin-bottom: 47px;
}
.footer__contacts-numbers {
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;
}
.footer__contacts-numbers > * {
    font-size: 30px;
    font-weight: 600;
}
.footer__contacts-numbers > *:not(:last-child) {
    margin-bottom: 14px;
}
.footer__contact-address {
    max-width: 185px;
    font-size: 16px;
    line-height: 30px;
    color: #646666;
    margin-bottom: 80px;
}
.footer__email {
    font-size: 16px;
    font-weight: 600;
    color: #83B32B;
}
.footer__menu {
    display: flex;
}
.footer__menu-items:not(:last-child) {
    margin-right: 220px;
}
.footer__menu-item {
    margin-bottom: 15px;
}
.footer__menu-link {
    font-size: 16px;
    color: #646666;
    text-transform: uppercase;
}
.footer__socials {
    max-width: 300px;
}
.social__links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.social__link {
    display: inline-block;
    height: 60px;
}
.social__link-icon {
    max-width: 60px;
}
.footer__button {
    max-width: 300px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    text-align: center;
    padding: 17px 61px;
    border-radius: 30px;
    background: #000;
}