/* ZERO STYLES */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
    --swiper-theme-color: #292929;
  }

  @supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
  }

html,
body {
    height: 100%;
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #292929;
    line-height: 1.2;
    letter-spacing: .0em;
    display: flex;
    flex-direction: column; 
}

a {
    text-decoration: none;
    color: #292929;
}

ol, ul {
    padding: 0;
}

img, iframe {
    vertical-align: bottom;
}

button {
    cursor: pointer;
}

/* не могу использовать container, так как в Bootstrap есть такое же свойство, и там задана ширина 100%, что не даёт уменьшаться содержимому автоматически при изменении разрешения, вместо этого там реализованы разные широты для разных разрещений медиа запросами */
.my-container {
    max-width: 1540px;
    margin: 0 auto;
    padding: 0px 30px;
    box-sizing: content-box;
    overflow-x: hidden;
}

@media (max-width: 1600px) {
     .my-container {
        padding: 0 3em;  /* чтоб влезли слайдеры, и не было скрола снизу (надо посмотреть на основные разрешения оптимальные значения) */
    }
}
@media (max-width: 1130px) {
    .my-container {
       padding: 0 2em;  /* чтоб влезли слайдеры, и не было скрола снизу (надо посмотреть на основные разрешения оптимальные значения) */
   }
}
@media (max-width: 991px) {
    .my-container {
       padding: 0 1em;  /* чтоб влезли слайдеры, и не было скрола снизу (надо посмотреть на основные разрешения оптимальные значения) */
   }
}
@media (max-width: 794px) {
    .my-container {
       padding: 0 10px;  /* чтоб влезли слайдеры, и не было скрола снизу (надо посмотреть на основные разрешения оптимальные значения) */
   }
}



/* BLOCKS */
.button {
    width: 365px;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    text-align: center;
    padding: 17px 0px 18px 0px;
    border-radius: 30px;
    background: #FFCA44;
}
.button_link {
    display: inline-block;
    background: #F4F4F4;
}
.button:hover {
    background: #f5c140;
}
.button_link:hover {
    background: #d1d1d1;
}

.title {
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -0.04em;
}
.title > span {
    color: #83B32B;
}
@media (max-width: 1440px) {
    .title {
      font-size: 50px;
      line-height: 60px;
    }
  }
  @media (max-width: 1130px) {
    .title {
      font-size: 42px;
      line-height: 52px;
    }
  }
  
  @media (max-width: 991px) {
    .title {
      font-size: 40px;
      line-height: 50px;
    }
  }
  
  @media (max-width: 768px) {
    .title {
      font-size: 30px;
      line-height: 40px;
    }
  }
  @media (max-width: 500px) {
    .title {
      font-size: 24px;
      line-height: 30px;
    }
  }

.link-icon-wrap {
    display: flex;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: #F4F4F4;
    justify-content: center;
    align-items: center;
}
.link-icon-wrap:hover {
    background: #d1d1d1;
}

.bordered-block {
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    overflow: hidden;
}

.text-block_fSize_20 {
    font-size: 20px;
    line-height: 25px;
}
@media (max-width: 1400px) {
    .text-block_fSize_20 {
        font-size: 18px;
        line-height: 24px;
    }
}
  @media (max-width: 991px) {
    .text-block_fSize_20 {
        font-size: 17px;
        line-height: 23px;
    }
  }
  @media (max-width: 794px) {
    .text-block_fSize_20 {
        font-size: 18px;
        line-height: 24px;
    }
  }
  @media (max-width: 500px) {
    .text-block_fSize_20 {
        font-size: 16px;
        line-height: 22px;
    }
  }
  @media (max-width: 425px) {
    .text-block_fSize_20 {
        font-size: 14px;
        line-height: 20px;
    }
  }



/* HEADER */
.header {
    padding-top: 30px;
    overflow: visible;
}
.header__container {
    display: flex;
    align-items: center;
    overflow: visible;
}
.header__logo {
    height: 100%;
    margin-right: 40px;
}
.header__menu {
    margin-right: 41px;
}
.header__menu-items {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}
.header__menu-item:not(:last-child) {
    margin-right: 20px;
}
.header__menu-link:hover {
    color: #83B32B;
}
@media (max-width: 1600px) {
    .header__menu-items {
        flex-wrap: wrap;
        max-width: 450px;
        row-gap: 5px;
    }
    .header__menu {
        margin-right: 0px;
    }
}
@media (max-width: 1209px) {
    .header__menu-items {
        flex-wrap: wrap;
        max-width: 360px;
    }
}
.dropdown-toggle::after {
    display: inline-block;
    margin-left: 4px;
    vertical-align: middle;
    border-top: 5px solid #83B32B;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    content: "";
}
.dropdown-toggle[aria-expanded="true"]::after {
    transform: scale(-1);
}
.dropdown {
    max-width: 151px;
}
.dropdown-menu {
    padding-top: 9px;
    padding-bottom: 9px;
    background: #83B32B;
    width: 300px;
    border: 1px solid #83B32B;
    position: relative;
}
.dropdown-menu::before {
    display: inline-block;
    position: absolute;
    vertical-align: middle;
    border-bottom: 10px solid #83B32B;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: "";
    left: 128px;
    top: -10px;
}
.dropdown-divider {
    margin: 0;
}
.dropdown-item {
    display: block;
    color: #FFF!Important;
    font-size: 14px!Important;
    font-weight: 400!Important;
}
.dropdown-item {
    padding-top: 10px;
    padding-bottom: 10px;
}
.dropdown-item:hover {
    color: #83B32B!Important;
    background-color: #FFF;
    border: 0;
}
.dropdown .show {
    color: #83B32B!Important; 
}
.dropdown-menu {
    transform: translate3d(-25%, 40px, 0px)!Important;
}
.dropdown-item {
    text-transform: uppercase;
}
.header__menu-link {
    font-size: 14px;
    font-weight: 500;
    color: #000;
}
.header__contacts {
    display: flex;
    margin-left: auto;
}
.header__contacts-numbers {
    display: flex;
    flex-direction: column;
    margin-right: 16px;
}
.header__contacts-numbers > * {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}
.header__contact-address {
    max-width: 136px;
    font-size: 12px;
    line-height: 20px;
    color: #646666;
    margin-right: 14px;
}
.header__contacts-button {
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    padding: 12px 18px;
    border-radius: 20px;
    background: #000;
}
.header__contacts-button:hover {
    color: #FFF;
    background: #3a3a3a;
}
@media (min-width: 1257px) {
    .header__mobile-menu {
        display: none;
    }
}
@media (max-width: 1256px) {
    .header__menu {
        display: none;
    }
}
@media (max-width: 889px) {
    .header__contacts {
        display: none;
    }
    .header__container {
        justify-content: space-between;
    }
}
.burger-menu {
    width: 40px;
    height: 40px;
    background-color: #EFF6FF;
    border-radius: 50%;
    cursor: pointer;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.burger-menu__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.burger-menu__items span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #83B32B;
    border-radius: 2px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.burger-menu__items span:not(:last-child) {
    margin-bottom: 3px;
}
.burger-menu.open span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.burger-menu.open span:nth-child(2) {
    opacity: 0;
}

.burger-menu.open span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}



/* MAIN */
.main {
    flex: 0 1 auto;
}

/* 1 блок */
.top-block {
    padding-top: 39px;
    padding-bottom: 20px;
}
.top-block__container {
    display: flex;
}
.top-block__left {
    border-radius: 8px;
    margin-right: 20px;
    overflow: hidden;
    max-height: 760px;
}
.top-block__left-wrapper {
    background: linear-gradient(to bottom, #EFF6FF 78%, transparent);
    padding: 40px 21px 0px 40px;
    position: relative;
    z-index: 2;
}
.top-block__left-img {
    position: relative;
    bottom: 102px;
    z-index: 0;
}
@media (max-width: 1600px) {
    .top-block__left {
        display: flex;
        flex-direction: column;
    }
    .top-block__left-wrapper {
        background: linear-gradient(to bottom, #EFF6FF 88%, transparent);
    }
    .top-block__left {
        position: relative;
    }
    .top-block__left-img {
        position: absolute;
        width: 100%;
    }
}
@media (min-width: 1387px) and (max-width: 1600px) {
    .top-block__left-img {
        bottom: 0;
    }
}
.top-block__title {
    max-width: 710px;
    margin-bottom: 20px;
    font-size: 64px;
}

@media (max-width: 1600px) {
    .top-block__title {
        font-size: 58px;
    }
}
@media (max-width: 1516px) {
    .top-block__title {
        font-size: 54px;
    }
    .top-block__unique-offers-item {
        font-size: 18px;
        line-height: 23px;
    }
}
@media (max-width: 1516px) {
    .top-block__title {
        font-size: 54px;
    }
}
@media (max-width: 1430px) {
    .top-block__title {
        font-size: 52px;
    }
}
@media (max-width: 1386px) {
    .top-block__title {
        font-size: 50px;
    }
    .top-block__unique-offers-item {
        font-size: 18px;
        line-height: 21px;
    }
    .top-block__left-img {
        bottom: 0;
        border-radius: 0px 0px 8px 8px;
    }
}
@media (max-width: 1386px) {
    .top-block__left-wrapper {
        background: linear-gradient(to bottom, #EFF6FF 92%, transparent);
    }
    .top-block__title {
        font-size: 48px;
    }
}
@media (max-width: 1301px) {
    .top-block__left-wrapper {
        background: linear-gradient(to bottom, #EFF6FF 91%, transparent);
    }
    .top-block__title {
        font-size: 45px;
    }
    .top-block__unique-offers-item {
        font-size: 16px;
        line-height: 20px;
    }
}
@media (max-width: 1237px) {
    .top-block__left-wrapper {
        background: linear-gradient(to bottom, #EFF6FF 91%, transparent);
    }
    .top-block__title {
        font-size: 42px;
    }
    .top-block__unique-offers-item {
        font-size: 15px;
        line-height: 20px;
    }
    .top-block__left-img {
        bottom: 10px;
    }
}
@media (max-width: 1172px) {
    .top-block__left-wrapper {
        background: linear-gradient(to bottom, #EFF6FF 91%, transparent);
    }
    .top-block__title {
        font-size: 40px;
        line-height: 50px;
    }
    .top-block__unique-offers-item {
        font-size: 15px;
        line-height: 20px;
    }
    .top-block__left-img {
        bottom: 10px;
    }
}
@media (max-width: 1130px) {
    .top-block__container {
        display: flex;
        flex-direction: column;
    }
    .top-block__container > * {
        width: 100%;
    }
}
.top-block__unique-offers {
    margin-bottom: 25px;
}
.top-block__unique-offers-item {
    font-size: 20px;
    line-height: 25px;
    margin-left: 22px;
    margin-bottom: 5px;
}
.top-block__unique-offers-item > span {
    color: #646666;
}
.top-block__button {
    margin-bottom: 10px;
}
.top-block__button-icon {
    margin-left: 18px;
}
.top-block__catalog-info {
    font-size: 12px;
    color: #7B7C7E;
    display: flex;
    justify-content: space-between;
    max-width: 365px;
}
.top-block__catalog-file-size {
}
.top-block__catalog-update {
} 
.top-block__right {
    width: 760px;
}

.top-block__container > * {
    width: 50%;
}
@media (max-width: 1600px) {
    .top-block__container > * {
        width: 50%;
    }
    .top-block__advantages {
        background-size: 100% auto;
    }
}
.top-block__slider {
    margin-bottom: 4px;
    width: 100%;
}
.top-block__slide {
    border-radius: 8px;
    height: 340px;
    width: 365px;
    overflow: hidden;
}
.top-block__slide-logo {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    top: 20px;
    left: 20px;
    z-index: 2;
}
.top-block__slide-logo-img {
    margin-bottom: 5px;
}
.top-block__slide-logo-text {
}
.top-block__slide-img {
    height: 100%;
    object-fit: contain;
    position: relative;
}
.top-block__slide-link {
    position: absolute;
    right: 15px;
    bottom: 20px;
}
.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-block__swiper-pagination {
    position: relative;
}
.top-block__swiper > .swiper-wrapper {
    margin-bottom: 15px;
}
.top-block__advantages {
    border-radius: 8px;
    background: url('../img/top-block/advantages-bg.jpg') no-repeat;
    overflow: hidden;
}
.top-block__advantages-body {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent);
    padding: 40px;
}
.top-block__advantages-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.04em;
    color: #FFF;
    margin-bottom: 20px;
}
.top-block__advantages-items {
    font-size: 20px;
    line-height: 25px;
    color: #FFF;
    max-width: 310px;
    margin-bottom: 35px;
}
.top-block__advantages-item {
    margin-left: 22px;
}
.top-block__advantages-item:not(:last-child) {
    margin-bottom: 10px;
}
.top-block__advantages-link {
    background: #E2E3DD;
}
.top-block__advantages-link-icon {
    display: inline-block;
    max-width: 14px;
    max-height: 14px;
    transform: rotate(45deg);
    vertical-align: middle;
    margin-left: 8px;
}
@media (min-width: 1130px) and (max-width: 1600px) {
      .top-block__container > * {
        max-width: 50%;
      }
      .top-block__slide {
        width: 365px;
        height: auto;
        aspect-ratio: 365 / 340; /* соотношение сторон для сохранения пропорций */
        border-radius: 8px; 
        overflow: hidden; 
    }
  }

/* 2 блок */
.stats {
    padding-bottom: 100px;
}
.stats__items {
    display: flex;
}
.stats__item:not(:last-child) {
    margin-right: 20px;
}
.stats__item {
    flex: 0 1 33.333%;
    padding: 30px 0px 30px 40px;
    background: #F4F4F4;
    border-radius: 8px;
}
.stats__item-title {
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -0.05em;
}
.stats__item-text {
    font-size: 20px;
    line-height: 30px;
}
@media (max-width: 1400px) {
    .stats__item-title {
        font-size: 58px!Important;
        line-height: 68px!Important;
    }
    .stats__item-text {
        font-size: 18px;
        line-height: 28px;
    }
  }
  @media (max-width: 1230px) {
    .stats__item-text {
        font-size: 16px;
        line-height: 26px;
    }
    .stats__item-text {
        margin-right: 30px;
    }
  }
  @media (max-width: 1129px) {
    .stats__item-title {
        font-size: 50px!Important;
        line-height: 70px;
    }
    .stats__item-text {
        font-size: 18px;
        line-height: 28px;
    }
    .stats__item-text {
        margin-right: 30px;
    }
  }
  @media (max-width: 991px) {
    .stats__item-title {
        font-size: 60px!Important;
        line-height: 70px!Important;
    }
    .stats__items {
        flex-wrap: wrap;
        row-gap: 20px;
    }
    .stats__item:nth-child(2){
        margin-right: 0;
    }
    .stats__item:not(:last-child) {
        flex: 0 1 50%;
    }
    .stats__item:nth-child(1) {
        flex: 0 1 calc(50% - 20px);
    }
    .stats__item:last-child {
        flex-basis: 100%;
    }
    .stats__item-text {
        font-size: 20px;
        line-height: 30px;
    }
  }
  @media (max-width: 890px) {
    .stats__item-text {
        font-size: 18px;
        line-height: 28px;
    }
  }
  @media (max-width: 826px) {
    .stats__item-text {
        font-size: 17px;
        line-height: 27px;
    }
  }
  @media (max-width: 794px) {
    .stats__items {
        flex-wrap: wrap;
        row-gap: 10px;
    }
    .stats__item {
        padding: 10px 0px 20px 20px;
    }
    .stats__item:nth-child(1) {
        flex: 0 1 100%;
    }
    .stats__item:not(:last-child) {
        margin-right: 0;
        flex: 0 1 100%;
    }
    .stats__item-text {
        font-size: 20px;
        line-height: 30px;
    }
  }
  @media (max-width: 425px) {
    .stats__item-text {
        font-size: 16px;
        line-height: 20px;
    }
  }

/* 3 блок */
.stocks {
    padding-bottom: 100px;
}
.stocks__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stocks__items {
    display: flex;
    margin-bottom: 60px;
}
.stocks__items > * {
    flex: 0 1 50%;
}
.stock__item {
    overflow: hidden;
}
.stock__item:not(:last-child) {
    margin-right: 20px;
}
.stock__item-body {
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    max-height: 460px;
}
.stock__img {
    width: 100%;
    aspect-ratio: 490 / 350;
}
.stock__title {
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: -0.05em;
    padding: 30px 0px 40px 39px;
}
.stocks__slider {
    display: none;
}
.stocks__swiper-pagination {
    position: relative;
}
.stocks__swiper > .swiper-wrapper {
    margin-bottom: 15px;
}
@media (max-width: 1400px) {
    .stock__title {
        font-size: 28px;
        line-height: 38px;
    }
}
  @media (max-width: 1230px) {
    .stock__title {
        font-size: 26px;
        line-height: 36px;
    }
  }
  @media (max-width: 1170px) {
    .stock__title {
        padding: 20px 0px 30px 19px;
    }
    .stock__title {
        font-size: 23px;
        line-height: 36px;
    }
  }
  @media (max-width: 991px) {
    .stocks__items {
        display: none;
    }
    .stocks__slider {
        display: flex;
        margin-bottom: 35px;
        width: 100%;
    }
  }
  @media (max-width: 794px) {
    .stock__title {
        padding: 20px 0px 20px 20px;
    }
  }
  @media (max-width: 700px) {
    .stocks__slider {
        margin-bottom: 25px;
    }
    .stock__item {
        width: 100%;
    }
    .swiper-slide {
        width: 100% !important;
    }
    .stock__item-body {
        max-height: none;
    }
    .stock__title {
        font-size: 28px;
        line-height: 38px;
    }
  }
  @media (max-width: 500px) {
    .stocks__slider {
        margin-bottom: 30px;
    }
    .stock__title {
        font-size: 26px;
        line-height: 36px;
    }
  }
  @media (max-width: 425px) {
    .stocks__slider {
        margin-bottom: 17px;
    }
    .stock__title {
        font-size: 20px;
        line-height: 30px;
        padding: 15px 0px 20px 15px;
    }
  }
  @media (max-width: 375px) {
    .stock__title {
        font-size: 16px;
        line-height: 20px;
        padding: 10px 0px 10px 10px;
    }
  }

/* 4 блок */
.cottage-complexes {
    padding-bottom: 101px;
}
.cottage-complexes__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cottage-complexes__title {
    align-self: flex-start;
    margin-bottom: 50px;
}
.cottage-complexes__cards {
    display: flex;
    margin-bottom: 60px;
    width: 100%;
}
.cottage-complexes__card {
    flex: 1 1 50%;
    max-width: 760px;
    max-height: 780px;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    overflow: hidden;
}
.cottage-complexes__card:not(:last-child) {
    margin-right: 20px;
}
.cottage-complexes__card-items {
}
.cottage-complexes__card-img-wrap {
    position: relative;
}
.cottage-complexes__card-img {
    width: 100%;
    max-height: 600px;
    object-fit: cover; 
}
.img-pre-title {
    position: absolute;
    top: 40px;
    left: 40px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.75);
}
.cottage-complexes__card-description {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px 40px 35px;
}
.cottage-complexes__card-texts {
    margin-top: 10px;
}
.cottage-complexes__card-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.05em;
    margin-bottom: 10px;
}
.cottage-complexes__card-text {
    color: #646666;
}
.cottage-complexes__link {  
}
@media (max-width: 1400px) {
    .cottage-complexes__card-text > br {
        display: none;
    }
    .cottage-complexes__card-title {
        font-size: 33px;
        line-height: 39px;
    }
    .cottage-complexes__card-texts {
        max-width: 360px;
    }
    .link-icon-wrap {
        max-height: 60px;
        max-width: 60px;
        min-height: 40px;
        min-width: 40px;
    }
}
  @media (max-width: 1230px) {
    .cottage-complexes__card-title {
        font-size: 31px;
        line-height: 37px;
    }
  }
  @media (max-width: 1170px) {
    .img-pre-title {
        left: 19px;
        top: 19px;
    }
    .cottage-complexes__card-description {
        padding: 28px 25px 40px 19px;
    }
    .cottage-complexes__card-title {
        font-size: 29px;
        line-height: 35px;
    }
    .link-icon-wrap {
        height: 55px;
        width: 55px;
    }
    .link-icon {
        height: 16px;
        width: 16px;
    }
  }
  @media (max-width: 1045px) {
    .cottage-complexes__card-description {
        padding: 24px 19px 36px 19px;
    }
    .cottage-complexes__card-title {
        font-size: 29px;
        line-height: 35px;
    }
    .cottage-complexes__card-texts {
        max-width: 320px;
    }
  }
  @media (max-width: 991px) {
    .img-pre-title {
        font-size: 15px;
    }
    .cottage-complexes__card-title {
        font-size: 27px;
        line-height: 33px;
    }
    .link-icon-wrap {
        height: 50px;
        width: 50px;
    }
    .link-icon {
        height: 15px;
        width: 15px;
    }
    .cottage-complexes__card-texts {
        max-width: 300px;
    }
  }
  @media (max-width: 847px) {
    .cottage-complexes__card-title {
        font-size: 27px;
        line-height: 33px;
    }
    .link-icon-wrap {
        height: 47px;
        width: 47px;
    }
    .link-icon {
        height: 15px;
        width: 15px;
    }
    .cottage-complexes__card-texts {
        max-width: 270px;
    }
  }
  @media (max-width: 794px) {
    .img-pre-title {
        top: 30px;
        left: 20px;
    }
    .cottage-complexes__card-description {
        padding: 28px 20px 30px 20px;
    }
    .cottage-complexes__card-title {
        font-size: 31px;
        line-height: 37px;
    }
    .cottage-complexes__cards {
       flex-wrap: wrap;
       row-gap: 10px;
    }
    .cottage-complexes__card {
        flex: 1 1 100%;
    }
    .cottage-complexes__card:not(:last-child) {
        margin-right: 0;
    }
    .cottage-complexes__card-texts {
        max-width: 470px;
    }
    .link-icon-wrap {
        height: 50px;
        width: 50px;
    }
    .link-icon {
        height: 16px;
        width: 16px;
    }
    .cottage-complexes__card-text {
        font-size: 19px;
        line-height: 24px;
    }
  }
  @media (max-width: 700px) {
    .cottage-complexes__card-title {
        font-size: 26px;
        line-height: 32px;
    }
  }
  @media (max-width: 600px) {
    .img-pre-title {
       left: 15px;
       top: 15px;
    }
    .cottage-complexes__card-description {
        padding: 16px 15px 26px 15px;
    }
    .cottage-complexes__card-text {
        font-size: 18px;
        line-height: 24px;
    }
  }
  @media (max-width: 516px) {
    .cottage-complexes__card-texts {
        margin-top: 5px;
    }
    .link-icon-wrap {
        height: 47px;
        width: 47px;
    }
    .link-icon {
        height: 15px;
        width: 15px;
    }
    .cottage-complexes__card-texts {
        max-width: 320px;
    }
  }
  @media (max-width: 500px) {
    .cottage-complexes__card-title {
        margin-bottom: 5px;
    }
    .img-pre-title {
        left: 12px;
        top: 12px;
        font-style: 12px;
     }
    .cottage-complexes__card-description {
        padding: 12px 12px 22px 12px;
    }
    .cottage-complexes__card-text {
        font-size: 16px;
        line-height: 22px;
    }
    .cottage-complexes__card-title {
        font-size: 25px;
        line-height: 31px;
    }
    .link-icon-wrap {
        height: 40px;
        width: 40px;
    }
    .link-icon {
        height: 14px;
        width: 14px;
    }
  }
  @media (max-width: 425px) {
    .cottage-complexes__card-title {
        font-size: 24px;
        line-height: 30px;
    }
    .cottage-complexes__card-text {
        font-size: 15px;
        line-height: 21px;
    }
    .cottage-complexes__card-texts {
        max-width: 250px;
    }
  }
  @media (max-width: 375px) {
    .img-pre-title {
        left: 10px;
        top: 10px;
     }
    .cottage-complexes__card-description {
        padding: 10px 10px 20px 10px;
    }
    .cottage-complexes__card-text {
        font-size: 14px;
        line-height: 20px;
    }
  }

/* 5 блок */
.complexes-map {
    padding-bottom: 99px;
}
.complexes-map__wrapper {
    padding: 40px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.complexes-map__title {
    margin-bottom: 50px;
}
@media (min-width: 992px) {
    .complexes-map__map {
        height: 600px;
        width: 100%;
    }
}
.complexes-map__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 40px 20px 30px 20px;
}
.complexes-map__description-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.05em;
    margin-bottom: 10px;
}
.complexes-map__description-text {
    font-size: 20px;
    line-height: 30px;
    color: #646666;
}
.complexes-map__buttons {
    display: flex;
}
.complexes-map__buttons > *:not(:last-child) {
    margin-right: 20px;
}
.complexes-map__more-link {
}
.complexes-map__consult-button {
}
@media (max-width: 1400px) {
    .complexes-map__title {
        margin-bottom: 40px;
    }
    .complexes-map__description-title {
        font-size: 33px;
        line-height: 39px;
    }
}
  @media (max-width: 1230px) {
    .complexes-map__description-title {
        font-size: 31px;
        line-height: 37px;
    }
  }
  @media (max-width: 1170px) {
    .complexes-map__title {
        margin-bottom: 35px;
    }
    .complexes-map__description-title {
        font-size: 29px;
        line-height: 35px;
    }
  }
  @media (max-width: 1045px) {
    .complexes-map__description {
        padding: 35px 20px 30px 20px;
    }
  }
  @media (max-width: 991px) {
    .complexes-map__wrapper {
        padding: 30px 0px 40px 0px;
    }
    .complexes-map__description-title {
        font-size: 27px;
        line-height: 33px;
    }
    .complexes-map__title {
        margin-bottom: 30px;
    }
    .complexes-map__map .ymaps-2-1-79-map {
        height: 470px!Important;
    }
  }
  @media (max-width: 847px) {
    .complexes-map__description-title {
        font-size: 27px;
        line-height: 33px;
    }
  }
  @media (max-width: 794px) {
    .complexes-map__wrapper {
        padding: 27px 0px 40px 0px;
    }
    .complexes-map__description {
        padding: 30px 20px 25px 20px;
    }
    .complexes-map__description-title {
        font-size: 31px;
        line-height: 37px;
    }
    .complexes-map__description-text {
        font-size: 19px;
        line-height: 24px;
    }
    .complexes-map__buttons {
        flex-direction: column;
        row-gap: 15px;
    }
    .complexes-map__buttons > *:not(:last-child) {
        margin-right: 0;
    }
    .complexes-map__title {
        margin-bottom: 25px;
    }
  }
  @media (max-width: 700px) {
    .complexes-map__description-title {
        font-size: 26px;
        line-height: 32px;
    }
  }
  @media (max-width: 600px) {
    .complexes-map__title {
        max-width: 300px;
        text-align: center;
        margin-bottom: 23px;
    }
    .complexes-map__wrapper {
        padding: 25px 0px 30px 0px;
    }
    .complexes-map__description-text {
        font-size: 18px;
        line-height: 24px;
        max-width: 480px;
        text-align: center;
    }
    .complexes-map__description {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .complexes-map__map .ymaps-2-1-79-map {
        height: 400px!Important;
    }
  }
  @media (max-width: 516px) {
    .complexes-map__title {
        margin-bottom: 20px;
    }
  }
  @media (max-width: 500px) {
    .complexes-map__wrapper {
        padding: 20px 0px 20px 0px;
    }
    .complexes-map__title {
        max-width: 250px;
    }
    .complexes-map__description {
        padding: 20px 10px 20px 10px;
    }
    .complexes-map__description-title {
        margin-bottom: 10px;
        font-size: 24px;
        line-height: 30px;
        max-width: 400px;
    }
    .complexes-map__description-text {
        font-size: 16px;
        line-height: 20px;
        max-width: 300px;
    }
    .complexes-map__buttons {
        row-gap: 10px;
        margin-bottom: 0;
    }
    .complexes-map__map .ymaps-2-1-79-map {
        height: 340px!Important;
    }
  }
  @media (max-width: 425px) {
    .complexes-map__map .ymaps-2-1-79-map {
        height: 320px!Important;
    }
  }
  @media (max-width: 375px) {
    .complexes-map__map .ymaps-2-1-79-map {
        height: 300px!Important;
    }
  }

/* 6 блок */
.features {
    padding-bottom: 110px;
}
.features__title { 
    margin-bottom: 50px;
}
.features__cards {
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
}
.features__card {
    flex: 1 1 33%;
}
.features__card-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.features__card-img {
    max-height: 120px;
    margin-bottom: 20px;
}
.features__card-text {
    max-width: 309px;
    letter-spacing: -0.05em;
}

/* 7 блок */
.reports {
    padding-bottom: 150px;
}
.reports__container {
    overflow: visible;
}
.reports__title {
    margin-bottom: 30px;
}
.reports__text {
    font-size: 30px;
    font-weight: 500;
    color: #000;
    margin-bottom: 44px;
}
.reports__slider {
    max-height: 350px;
    position: relative;
}
.reports__slide {
    border-radius: 8px;
    max-width: 490px;
    overflow: hidden;
}
.reports__slide-img {
}
@media (max-width: 1600px) {
    .reports__slide-img {
        height: auto;
        width: 100%;
    }
}
.reports__swiper {
}
.swiper-button-next::after, .swiper-button-prev::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
    background: #F4F4F4;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
    background: #d1d1d1;
}
.swiper-button-next, .swiper-button-prev {
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #F4F4F4;
    user-select: none;
}
.swiper-button-next {
    z-index: 100;
    right: -40px;
}
.swiper-button-prev {
    left: -40px;
}
.swiper-button__next-img {
    transform: rotate(45deg);
}
.swiper-button__prev-img {
    transform: rotate(225deg);
}

/* 8 блок */
.advantages {
    padding-bottom: 109px;
}
.advantages__container {
}
.advantages__title {
    margin-bottom: 50px;
}
.advantages__items {
    display: flex;
    flex-wrap: wrap;
    row-gap: 54px;
}
.advantages__item {
    flex: 1 1 33%;
}
.advantages____item-icon {
    margin-bottom: 21px;
}
.advantages__item-description {
    letter-spacing: -0.05em;
    max-width: 466px;
}
.advantages__item-description > span {
    font-weight: 700;
    color: #83B32B;
}

/* 9 блок */
.payment {
    padding-bottom: 100px;
}
.payment__container {
}
.payment__wrapper {
    border: 1px solid #D9D9D9;
    padding: 39px 0px 39px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.payment__title {
    margin-bottom: 50px;
}
.payment__items {
    align-self:normal;
    margin-bottom: 54px;
    display: flex;
    flex-wrap: wrap;
}
.payment__item {
    flex: 1 1 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.payment__icon {
    height: 120px;
    margin-bottom: 20px;
}
.payment__name {
    font-size: 30px;
    letter-spacing: -0.05em;
}
.payment__link {
}

/* 10 блок */
.viewing {
    padding-bottom: 101px;
}
.viewing__container {
}
.viewing__title {
    margin-bottom: 50px;
}
.viewing__cards {
    display: flex;
}
.viewing__card {
    max-height: 600px;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    overflow: hidden;
}
.viewing__card:not(:last-child) {
    margin-right: 20px;
}
.viewing__card-items {
    display: flex;
    flex-direction: column;
}
.viewing__card-img {
    max-width: 100%;
}
.vewing__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px;
}
.viewing__card-button {
}

/* 11 блок */
.what-saying {
    padding-bottom: 99px;
}
.what-saying__container {
}
.what-saying__wrapper {
    display: flex;
}
.what-saying__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 140px 0px 160px 40px;
    max-width: 662px;
    margin-right: 118px;
}
.what-saying__title {
    padding-bottom: 10px;
}
.what-saying__text {
    color: #646666;
}
.what-saying__video {
    max-width: 750px;
    position: relative;
    cursor: pointer;
}
.what-saying__video-poster {
    height: 100%;
}
@media (max-width: 1600px) {
    .what-saying__body {
        flex: 1 1 44%;
    }
    .what-saying__video-poster {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
@media (max-width: 1400px) {
    .what-saying__body {
        padding: 0px 0px 0px 40px;
    }
    .what-saying__text {
        font-size: 18px;
        line-height: 23px;
    }
}
.what-saying__vide-play-button {
    position: absolute;
    z-index: 2;
    height: 100px;
    width: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(234, 235, 229, 0.35);
    backdrop-filter: blur(45px);    
    border-radius: 50%;
    transition: background .3s;
}
.what-saying__vide-play-button::after {
    content: '';
    width: 0;
    height: 0;
    border-top: 17.5px solid transparent;
    border-bottom: 17.5px solid transparent;
    border-left: 30px solid #FFF; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
    transition: border-left .3s;
}
.what-saying__vide-play-button:hover {
    background: rgba(171, 172, 167, 0.35);
}
.what-saying__vide-play-button:hover::after {
    border-left: 30px solid #cccccc;
}

.modal-backdrop.show {
    opacity: 0.7;
}
.btn-close:hover {
    opacity: 1; 
}
.modal-body {
    padding-top: 0;
}
.modal-content {
    background-color: #FFF;
}
.modal-header {
    border-bottom: none;
    padding-bottom: 0;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 30px;
}
.what-saying__modal-video {
    height: 90%;
    width: 90%;
}
.what-saying__modal-video-title {
    font-size: 40px;
    font-weight: 500;
}
.what-saying__modal-video { 
    border-radius: 8px;
    overflow: hidden;
}
.what-saying__modal-video .vjs-control {
    background-color: rgba(0, 0, 0, 0.123);
    border-radius: 5px;
}

/* 12 блок */
.reviews {
    padding-bottom: 101px;
}
.reviews__container {
    overflow: visible;
}
.reviews__title {
    margin-bottom: 50px;
}
.reviews__slider {
    position: relative;
}
.reviews__slide {
    border-radius: 8px;
    width: 490px;
    height: 460px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reviews__slide-img {
    margin-top: 10px;
    height: auto;
}
.reviews__slider-wrapper {
    margin-bottom: 52px;
}
.reviews__slider-button-next, .reviews__slider-button-prev {
    top: 230px;
}

.reviews__slider .swiper-pagination {
    position: initial;
    margin-top: -13px;
}
/* 13 блок */
.consultation {
    padding-bottom: 94px;
}
.consultation__container {
}
.consultation__wrapper {
    display: flex;
    align-items: center;
}
.consultation__body {
    max-width: 702px;
    margin-left: 33px;
}
.consultation__title {
    margin-bottom: 10px;
}
.consultation__text {
    color: #646666;
    margin-bottom: 45px;
}
.consultation__button {
}
.consultation__img {
    display: inline-block;
    margin-left: 33px;
}

/* 14 блок */
.FAQ {
    padding-bottom: 95px;
}
.FAQ__container {
}
.FAQ__title {
    margin-bottom: 50px;
}
.FAQ__accordion {
}
.FAQ__accordion-button {
    padding: 29px 39px 33px 39px;
    font-size: 30px;
    font-weight: 500;
    color: #000;
    transition: padding .3s;
}
.FAQ__accordion-button[aria-expanded="true"] {
    padding-bottom: 13px;
}
.FAQ__accordion-body-text {
    color: #646666;
    padding: 0px 101px 35px 40px;
    transition: opacity .3s;
}
.accordion {
    --bs-accordion-active-bg: none;
}
.accordion-button:focus {
    box-shadow: none;
}
.accordion-button:not(.collapsed) {
    color: inherit;
    box-shadow: none;
}
.accordion-button:not(.collapsed)::after {
    background-image: url('../img/accordion-close.svg');
}
.accordion-button.collapsed::after {
    background-image: url('../img/accordion-open.svg');
}
.accordion-button::after {
    transition: transform 0.3s;
}
.accordion-collapse {
    transition: height .3s;
}

/* 15 блок */
.feedback {
    padding-bottom: 100px;
}
.feedback__container {
}
.my-container {
}
.feedback__wrapper {
    display: flex;
    align-items: center;
}
.feedback__img {
    margin-right: 59px;
}
.feedback__body {
    margin-right: 39px;
}
.feedback__title {
    margin-bottom: 10px;
}
.feedback__text {
    color: #646666;
    margin-bottom: 30px;
    padding-right: 16px;
}
.feedback__form {
    display: flex;
    flex-direction: column;
}
.feedback__form > *:not(:last-child) {
    margin-bottom: 20px;
}
.feedback__input-name {
    padding: 18px 20px;
}
.feedback__input-phone {
    padding: 18px 20px;
}
.feedback__form > input {
    border: 1px solid #D9D9D9;
    outline: none;
}
.feedback__button {
    width: 100%;
}

/* 16 блок */
.contacts {
}
.contacts__container {
}
.contacts__info-wrapper {
    position: relative;
    height: 1px;
    overflow: visible;
}
.contacts__info {
    position: absolute;
    z-index: 100;
    top: 100px;
    width: 490px;
    padding: 40px;
    border-radius: 8px;
    background: #FFF;
}
.contacts__title {
    margin-bottom: 30px;
}
.contacts__numbers {
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;
}
.contacts__phone {
    font-size: 30px;
    font-weight: 600;
}
.contacts__phone:not(:last-child) {
    margin-bottom: 14px;
}
.contacts__email {
    display: inline-block;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    color: #83B32B;
    margin-bottom: 30px;
}
.contacts__address {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: #646666;
    max-width: 245px;
}
.contacts__map {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 620px;
}

/* FOOTER */
.footer {
    padding: 60px 0px 98px 0px;
}
.footer__container {
    display: flex;
    justify-content: space-between;
}
.footer__container > *:not(:first-child) {
    margin-top: 120px;
}
.footer__logo {
    margin-bottom: 47px;
}
.footer__contacts-numbers {
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;
}
.footer__contacts-numbers > * {
    font-size: 30px;
    font-weight: 600;
}
.footer__contacts-numbers > *:not(:last-child) {
    margin-bottom: 14px;
}
.footer__contact-address {
    max-width: 185px;
    font-size: 16px;
    line-height: 30px;
    color: #646666;
    margin-bottom: 80px;
}
.footer__email {
    font-size: 16px;
    font-weight: 600;
    color: #83B32B;
}
.footer__menu {
    display: flex;
}
.footer__menu-items:not(:last-child) {
    margin-right: 220px;
}
.footer__menu-item {
    list-style-type: none;
    margin-bottom: 15px;
}
.footer__menu-link {
    font-size: 16px;
    color: #646666;
    text-transform: uppercase;
}
.footer__menu-link:hover {
    color: #83B32B;
}
.footer__socials {
    max-width: 300px;
}
.social__links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.social__link {
    display: inline-block;
    height: 60px;
}
.social__link-icon {
    max-width: 60px;
}
.footer__button {
    max-width: 300px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    text-align: center;
    padding: 17px 61px;
    border-radius: 30px;
    background: #000;
}
.footer__button:hover {
    color: #FFF;
    background: #3a3a3a;
}