/* ZERO STYLES */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    color: #292929;
    line-height: 1;
    display: flex;
    flex-direction: column; 
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #292929;
}

button {
    cursor: pointer;
}
    
.container {
    max-width: 1520px;
    margin: 0 auto;
    padding: 0px 30px;
    box-sizing: content-box;
}



/* BLOCKS */
.menu {
}
.menu__items {
    display: flex;
}
.menu__item {
}
.menu__item:not(:last-child) {
    margin-right: 20px;
}
.menu__item > select {
    max-width: 147px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0%;
    color: #000;
}
.menu__link {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0%;
    color: #000;
}



/* HEADER */
.header {
    padding-top: 30px;
}
.header__container {
    display: flex;
    align-items: center;
}
.header__logo {
    height: 100%;
    margin-right: 40px;
}
.header__menu {
    margin-right: 41px;
}
.header__contacts {
    display: flex;
}
.header__contacts > *:not(:last-child) {
    margin-right: 14px;
}
.header__contacts-numbers {
    display: flex;
    flex-direction: column;
}
.header__contacts-numbers > * {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}
.header__contacts-number-first {
}
.header__contacts-numbers-second {
}
.header__contact-address {
    max-width: 136px;
    font-size: 12px;
    line-height: 20px;
    color: #646666;
}
.header__contacts-button {
    max-width: 160px;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    padding: 12px 18px;
    border-radius: 20px;
    background: #000;
}


.main {
    flex: 1 1 auto;
    background: #83B32B;
}

.footer {
    padding: 60px 0px 98px 0px;
}
.footer__container {
    display: flex;
    justify-content: space-between;
}
.footer__container > *:not(:first-child) {
    margin-top: 120px;
}
.footer__contacts {
    /* margin-right: 85px; */
}
.footer__logo {
    margin-bottom: 47px;
}
.footer__contacts-numbers {
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;
}
.footer__contacts-numbers > * {
    font-size: 30px;
    font-weight: 600;
}
.footer__contacts-numbers > *:not(:last-child) {
    margin-bottom: 14px;
}
.footer__contacts-number-first {
}
.footer__contacts-numbers-second {
}
.footer__contact-address {
    max-width: 185px;
    font-size: 16px;
    line-height: 30px;
    color: #646666;
    margin-bottom: 80px;
}
.footer__email {
    font-size: 16px;
    font-weight: 600;
    color: #83B32B;
}
.footer__menu {
    display: flex;
    /* margin-right: 136px; */
}
.footer__menu-items {
}
.footer__menu-items:not(:last-child) {
    margin-right: 220px;
}
.footer__menu-item {
    margin-bottom: 15px;
}
.footer__menu-link {
    font-size: 16px;
    color: #646666;
    text-transform: uppercase;
}
.footer__socials {
    max-width: 300px;
}
.social__links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.social__link {
    display: inline-block;
    height: 60px;
}
.social__link-icon {
    max-width: 60px;
}
.footer__button {
    max-width: 300px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    text-align: center;
    padding: 17px 61px;
    border-radius: 30px;
    background: #000;
}