.top-banner__title {
    display: flex;
    flex-direction: column;
    line-height: 66px;
    max-width: 544px;
    margin-bottom: 32px;
}
.top-banner__text {
    max-width: 500px;
    margin-bottom: 48px;
}

@media (max-width: 1600px) {
    .top-banner__left {
        flex: 1 1 41.5%;
    }
    
    .top-banner__img-wrap {
        flex: 1 1 58.5%;
    }
    .top-banner__title {
        font-size: 50px;
    }
}

@media (max-width: 1440px) {
    .top-banner__text {
        font-size: 24px;
        line-height: 35px;
        margin-bottom: 45px;
    }
    
    .top-banner__list {
        margin-bottom: 35px;
    }
    
    .top-banner__item {
        font-size: 18px;
        line-height: 23px;
    }
}
@media (max-width: 1400px) {
    .top-banner__img-wrap {
        height: auto;
        width: 100%;
    }
    .top-banner__title {
        margin-bottom: 27px;
    }
}

@media (max-width: 1300px) {
    .top-banner__text {
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 41px;
    }

    .top-banner__title {
        font-size: 42px;
        line-height: 52px!Important;
    }

    .top-banner__title {
        margin-bottom: 24px;
        max-width: 400px;
    }

    .top-banner__list {
        margin-bottom: 30px;
    }
    
    .top-banner__item {
        font-size: 17px;
    }

    .top-banner__left {
        padding: 30px;
    }
}
@media (max-width: 1280px) {
    .top-banner__container {
        max-height: 500px;
    }
    .top-banner__button {
        max-width: 320px;
        font-size: 17px;
        padding: 16px 0px 16px 0px;
    }
    .top-banner__button-icon {
        margin-left: 6px;
    }
    .top-banner__catalog-info {
    max-width: 320px;
    }
    .top-banner__img-wrap {
        height: auto;
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .top-banner__text {
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 37px;
    }

    .top-banner__title {
        margin-bottom: 20px;
    }

    .top-banner__item {
        font-size: 15px;
        line-height: 21px;
    }

    .top-banner__item:not(:last-child) {
        margin-bottom: 5px;
    }
}
@media (max-width: 1170px) {
    .top-banner__left {
        padding: 25px;
    }
}

@media (max-width: 1130px) {
    .top-banner__text {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 32px;
    }

    .top-banner__item {
        font-size: 14px;
        line-height: 20px;
    }
}

@media (max-width: 991px) {
    .top-banner__left {
        padding: 20px;
    }
    .top-banner__title {
        margin-bottom: 17px;
    }
}

@media (max-width: 880px) {
    .top-banner__container {
        max-height: none;
        flex-direction: column;
        gap: 20px;
    }

    .top-banner__title {
        margin-bottom: 30px;
        max-width: 400px;
        font-size: 45px;
        line-height: 55px!Important;
    }

    .top-banner__container > * {
        flex: 1 1 100%;
        max-width: none;
    }

    .top-banner__text {
        font-size: 22px;
        line-height: 38px;
        margin-bottom: 38px;
    }
    
    .top-banner__button {
        max-width: 350px;
        font-size: 18px;
        padding: 16px 0px 16px 0px;
    }
    .top-banner__catalog-info {
        max-width: 350px;
        }
    .top-banner__list {
        margin-bottom: 40px;
    }
    
    .top-banner__item {
        font-size: 17px;
    }

    .top-banner__left {
        padding: 30px;
    }

    .top-banner__item:not(:last-child) {
        margin-bottom: 10px;
    }
}

@media (max-width: 700px) {
.top-banner__left {
    padding: 25px;
}
.top-banner__text {
    font-size: 21px;
    line-height: 28px;
    margin-bottom: 36px;
}

.top-banner__item {
    font-size: 15px;
    line-height: 21px;
}
.top-banner__button {
    max-width: 320px;
    font-size: 17px;
    padding: 16px 0px 16px 0px;
}
.top-banner__catalog-info {
    max-width: 320px;
    }

    .top-banner__button-icon {
        height: 22px;
        margin-left: 12px;
    }
}

@media (max-width: 794px) {
    .top-banner__text {
        margin-bottom: 33px;
        line-height: 32px;
    }
    .top-banner__list {
        margin-bottom: 35px;
    }
    .top-banner__title {
        margin-bottom: 26px;
    }
}

@media (max-width: 600px) {
    .top-banner__item:not(:last-child) {
        margin-bottom: 5px;
    }

    .top-banner__text {
        font-size: 21px;
        line-height: 26px;
        margin-bottom: 31px;
    }
    .top-banner__title {
        font-size: 33px;
        line-height: 43px!Important;
        display: block;
    }
    .top-banner__button {
        padding: 14px 0px 13px 0px;
    }
    .top-banner__title {
        margin-bottom: 21px;
    }
}

@media (max-width: 500px) {
    .top-banner__left {
        padding: 26px 13px 23px 13px;
    }
    .top-banner__left > *:not(.button) {
        padding: 0px 10px;
    }
    .top-banner__title {
        font-size: 28px;
        line-height: 39px!Important;
    }
    .top-banner__catalog-info {
        font-size: 10px;
    }
    .top-banner__button {
        font-size: 16px;
        padding: 13px 0px 12px 0px;
    }

    .top-banner__text {
        font-size: 18px;
        line-height: 20px;
    }
    
    .top-banner__list {
        margin-bottom: 30px;
    }
}

@media (max-width: 490px) {
    .top-banner__button {
        width: 100%;
        max-width: 280px;
    }
    .top-banner__title {
        margin-bottom: 18px;
        padding-right: 0px!Important;
        max-width: 300px;
    }
}

@media (max-width: 425px) {
    .top-banner__left {
        padding: 30px 5px 20px 10px;
    }

    .top-banner__item {
        font-size: 14px;
        line-height: 20px;
    }

    .top-banner__text {
        margin-bottom: 30px;
        max-width: 250px;
    }

    .top-banner__button-icon {
        height: 20px;
        margin-left: 8px;
    }
    .top-banner__title {
        margin-bottom: 15px;
        max-width: 400px;
    }
}


/* 3 БЛОК */
.project-desc {
    padding-bottom: 100px;
}
.project-desc__container {
}
.project-desc__wrapper {
    display: flex;
}
.project-desc__wrap-left {
    max-width: 760px;
    overflow: hidden;
    position: relative;
    height: 584px;
}
.project-desc__img {
    height: 100%;
    max-width: 760px;
    object-fit: cover;
    aspect-ratio: 760 / 497;
}
.project-desc__body {
    display: flex;
    flex-direction: column;
    padding: 36px;
    position: relative;
}
.project-desc__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}
.cottage-types__list {
    align-self: center;
    list-style: none;
}
.cottage-types__list-item {
    max-height: 22px;
    font-weight: 700;
    margin-bottom: 3px;
}
.cottage-types__list-item::before {
    content: '•';
    display: inline-block;
    font-size: 28px;
    color: #83B32B;
    margin-right: 13px;
}
.cottage-types__list-item:not(:last-child) {
    margin-bottom: 16px;
}
.cottage-types__payment-option {
    padding: 16px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F4F4F4;
    border-radius: 8px;
    max-width: 330px;
    width: 100%;
}
.cottage-types__payment-option-title {
    font-size: 16px;
    margin-bottom: 15px;
}
.cottage-types__payment-option-button {
    max-width: 222px;
    padding: 4.5px 0px;
    font-size: 14px;
    border: 1px solid #D9D9D9;
    background: #FDFDFD;
}
.project-desc__body-wrapper {
    display: flex;
    gap: 37px;
}
.project-desc__texts {
    max-width: 332px;
}
.project-desc__text {
    margin-bottom: 0px;
}
.project-desc__text:not(:last-child) {
    margin-bottom: 10px;
}
.project-desc__cottage-components {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.project-desc__cottage-component-items {
    margin-bottom: 32px;
}
.project-desc__cottage-component-item {
    display: flex;
    max-width: 245px;
}
.project-desc__cottage-component-item:not(:last-child) {
    margin-bottom: 20px;
}
.project-desc__cottage-component-icon {
    margin-right: 12px;
}
.project-desc__cottage-component-text {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    letter-spacing: -0.05em;
}
.project-desc__cottage-component-text>span {
    font-weight: 700;
    color: #83B32B;
    white-space: nowrap;
}
.project-desc__button {
    padding: 14px 0px;
    font-size: 18px;
    max-width: 301px;
    margin-bottom: 18px;
}

.project-desc__tabs {
    position: absolute;
    bottom: 30px;
    left: -50%;
    transform: translateX(-50%);
    border-radius: 30px;
    overflow: hidden;
    border: 0;
    background: #F4F4F4;
    z-index: 17;
}

.project-desc__tabs-button {
    border: 0!Important;
    margin: 0!Important;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    color: #292929;
    border-radius: 30px!Important;
    padding: 9px 23px;
}

.project-desc__tabs-button:hover {
    color: #83B32B;
}

.project-desc__tabs-button.active {
    background: #FFCA44!Important;
}

.project-desc__tab-content {
    width: 760px;
    height: 100%;
}

.project-desc__tab-pane {
    height: 100%;
}

.project-desc__slider {
    width: 100%;
    height: 100%;
    max-height: 584px;
}
.project-desc__swiper {
    height: 100%;
}
.project-desc__swiper-wrapper {
}
.project-desc__slide {
    width: 100%!important;
}
.project-desc__slide-wrap-img {
    height: 100%;
}
.project-desc__slide-img {
    height: 100%;
    max-width: 760px;
    object-fit: cover;
    aspect-ratio: 760 / 497;
}

@media (max-width: 1600px) {
    .project-desc__body {
        padding: 30px;
    }
    .project-desc__texts {
        font-size: 17px;
    }
    .project-desc__wrap-left {
        max-width: 730px;
        height: auto;
    }
    .project-desc__slider {
        max-width: 730px;
        max-height: none;
    }
}

@media (max-width: 1520px) {
    .project-desc__body-wrapper {
        gap: 32px;
    }

    .cottage-types__list-item {
        font-size: 16px;
        max-height: 22px;
    }
    .cottage-types__list-item::before {
        font-size: 24px;
        margin-right: 10px;
    }
    .project-desc__head {
        margin-bottom: 28px;
    }

    .project-desc__cottage-component-items {
        margin-bottom: 27px;
    }
    
    .project-desc__cottage-component-text {
        font-size: 15px;
    }
    
    .project-desc__button {
        font-size: 17px;
        margin-bottom: 15px;
    }
}

@media (max-width: 1440px) {
    .project-desc__body-wrapper {
        display: flex;
        gap: 26px;
    }

    .project-desc__text {
        font-size: 15px;
    }
    
    .project-desc__cottage-component-text {
        font-size: 14px;
    }
    
    .project-desc__button {
        font-size: 16px;
        padding: 13px 0px;
        margin-bottom: 15px;
    }
}

@media (max-width: 1400px) {
    .project-desc__wrap-left {
        max-width: 680px;
    }
    .project-desc__slider {
        max-width: 680px;
    }
    .project-desc__text {
        font-size: 16px;
    }
}

@media (max-width: 1370px) {
    .project-desc__wrapper {
        flex-direction: column;
    }

    .project-desc__img {
        height: 100%;
        width: 100%;
        max-width: none;
    }

    .project-desc__tab-content {
        width: 100%;
    }

    .project-desc__slide-wrap-img {
        width: 100%;
    }

    .project-desc__slider {
        max-width: none;
        max-height: 584px;
    }

    .project-desc__slide-img {
        width: 100%;
        max-width: none;
    }

    .project-desc__wrap-left {
        max-width: none;
        max-height: 580px;
        height: 100%;
    }

    .project-desc__tabs {
        bottom: calc(100% + 30px);
        left: 50%;
    }

    .project-desc__text {
        font-size: 18px;
    }
    
    .project-desc__text:not(:last-child) {
        margin-bottom: 10px;
    }
    
    .project-desc__cottage-component-items {
        margin-bottom: 32px;
    }
    
    .project-desc__cottage-component-text {
        font-size: 16px;
    }
    
    .project-desc__button {
        margin-bottom: 18px;
    }

    .project-desc__texts {
        max-width: 600px;
    }

    .project-desc__head {
        max-width: 1100px;
    }

    .project-desc__cottage-components {
        align-items: center;
        width: 100%;
    }
    .project-desc__cottage-components-inner {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 1300px) {
    .project-desc__body {
        padding: 30px;
    }
}

@media (max-width: 1260px) {
    .project-desc {
        padding-bottom: 90px;
    }
}

@media (max-width: 1170px) {
    .project-desc__body {
        padding: 25px;
    }
}

@media (max-width: 1070px) {
    .project-desc {
        padding-bottom: 80px;
    }
    .project-desc__text {
        font-size: 17px;
    }
    .project-desc__cottage-component-text {
        font-size: 16px;
    }
}

@media (max-width: 991px) {
    .project-desc__body {
        padding: 35px;
    }

    .project-desc__head {
        margin-bottom: 27px;
    }

    .project-desc__cottage-component-icon {
        margin-right: 15px;
    }

    .project-desc__cottage-component-items {
        margin-bottom: 30px;
    }
}

@media (max-width: 880px) {
    .project-desc {
        padding-bottom: 70px;
    }
}

@media (max-width: 850px) {
    .project-desc__body {
        padding: 30px;
    }

    .project-desc__cottage-component-icon {
        margin-right: 11px;
    }
}

@media (max-width: 794px) {
    .project-desc {
        padding-bottom: 60px;
    }

    .project-desc__body-wrapper {
        gap: 30px;
    }

    .project-desc__text {
        font-size: 16px;
    }
}

@media (max-width: 670px) {
    .project-desc__body {
        padding: 20px;
    }

    .project-desc__cottage-component-items {
        margin-bottom: 26px;
    }

    .cottage-types__payment-option-title {
        margin-bottom: 13px;
    }
}

@media (max-width: 650px) {
    .project-desc__body-wrapper {
        flex-direction: column;
        gap: 26px;
    }
    .project-desc__head {
        margin-bottom: 23px;
    }
    .project-desc__cottage-component-items {
        display: flex;
        flex-wrap: wrap;
    }
    .project-desc__cottage-component-item {
        display: flex;
        flex: 1 1 50%;
    }
    .project-desc__buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    .project-desc__cottage-component-icon {
        margin-right: 20px;
    }
    .project-desc__button {
        margin-bottom: 0px;
    }
    .project-desc__text {
        font-size: 15px;
    }
    .project-desc__tabs-button {
        font-size: 17px;
        padding: 9px 20px;
    }
}

@media (max-width: 560px) {
    .project-desc {
        padding-bottom: 50px;
    }
}

@media (max-width: 550px) {
    .project-desc__head {
        gap: 20px;
    }
    .cottage-types__payment-option {
        max-width: 250px;
    } 
    .project-desc__cottage-component-items {
        justify-content: center;
        flex: 1 1 100%;
    }
    .project-desc__cottage-component-item {
        flex: 1 1 100%;
    }
    .project-desc__cottage-component-icon {
        margin-right: 16px;
    }
    .cottage-types__payment-option-title {
        margin-bottom: 11px;
    }
}

@media (max-width: 500px) {
    .project-desc {
        padding-bottom: 40px;
    }

    .cottage-types__cottage-title {
        font-size: 24px;
    }

    .project-desc__cottage-component-items {
        margin-bottom: 20px;
    }

    .project-desc__text {
        font-size: 14px;
    }

    .project-desc__cottage-title {
        margin-bottom: 20px;
    }
    
    .project-desc__body-wrapper {
        flex-direction: column;
        gap: 20px;
    }
    .project-desc__cottage-component-icon {
        margin-right: 13px;
    }
    .cottage-types__payment-option-title {
        margin-bottom: 10px;
    }
}

@media (max-width: 490px) {
    .project-desc__tabs {
        position: relative;
        bottom: auto;
        top: 0;
        left: 50%;
        margin-bottom: 20px;
    }

    .project-desc__tabs-item {
        width: 50%;
    }
    
    .project-desc__tabs-button {
        width: 100%;
        font-size: 16px;
        padding: 9px 21px;
    }
    .project-desc__head {
        flex-direction: column;
        margin-bottom: 20px;
    }
    .cottage-types__payment-option {
        max-width: none;
    } 
    .project-desc__cottage-component-items {
        justify-content: flex-start;
    }
    .project-desc__button {
        width: 100%;
    }

}
@media (max-width: 425px) {
    .project-desc__cottage-component-icon {
        margin-right: 10px;
    }
}
@media (max-width: 350px) {
    .project-desc__tabs-button {
        width: 100%;
        font-size: 14px;
        padding: 9px 18px;
    }
    .project-desc__tabs-button {
        font-size: 14px;
        padding: 9px 18px;
    }
}


/* 4 БЛОК */
.about-complex {
    padding-bottom: 100px;
}
.about-complex__container {
    display: flex;
    gap: 20px;
}
.about-complex__desc {
    flex: 1 1 33.333%;
    padding: 40px 40px 40px 40px;
    border-radius: 8px;
    background: #EFF6FF;
}
.about-complex__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    margin-bottom: 15px;
}
.about-complex__list {
    list-style: none;
}
.about-complex__list-item {
}
.about-complex__list-item:not(:last-child) {
    margin-bottom: 10px;
}
.about-complex__list-item::before {
    content: '•';
    display: inline-block;
    font-size: 18px;
    color: #83B32B;
    margin-right: 12px;
}
.about-complex__images {
    flex: 1 1 66.667%;
    display: flex;
    gap: 20px;
}
.about-complex__wrap-img {
    height: 100%;
    flex: 1 1 50%;
    max-height: 384px;
    border-radius: 8px;
    overflow: hidden;
}
.about-complex__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 496 / 381;
}

@media (max-width: 1400px) {
    .about-complex__desc {
        padding: 30px;
    }
    .about-complex__title {
        font-size: 32px;
        line-height: 37px;
    }
}

@media (max-width: 1300px) {
    .about-complex__desc {
        padding: 25px;
    }
    .about-complex__title {
        font-size: 28px;
        line-height: 29px;
    }
    .about-complex__list-item:not(:last-child) {
        margin-bottom: 7px;
    }
}

@media (max-width: 1260px) {
    .about-complex {
        padding-bottom: 90px;
    }
}

@media (max-width: 1190px) {
    .about-complex__list-item {
        font-size: 16px;
    }
}

@media (max-width: 1070px) {
    .about-complex {
        padding-bottom: 80px;
    }
    .about-complex__desc {
        padding: 20px;
    }
    .about-complex__title {
        font-size: 24px;
        line-height: 20px;
    }
}
@media (max-width: 1040px) {
    .about-complex__list-item {
        font-size: 14px;
    }
}

@media (max-width: 910px) {
    .about-complex__container {
        flex-wrap: wrap;
    }
    .about-complex__container > * {
        flex: 1 1 100%;
    }
    .about-complex__wrap-img {
        flex: 1 1 50%;
    }
    .about-complex__desc {
        padding: 25px;
    }
    .about-complex__title {
        font-size: 28px;
        line-height: 29px;
        margin-bottom: 18px;
    }
    .about-complex__list-item {
        font-size: 17px;
    }
    .about-complex__list-item:not(:last-child) {
        margin-bottom: 10px;
    }
}

@media (max-width: 880px) {
    .about-complex {
        padding-bottom: 70px;
    }
}

@media (max-width: 794px) {
    .about-complex {
        padding-bottom: 60px;
    }
    .about-complex__title {
        font-size: 25px;
        line-height: 27px;
    }
    .about-complex__list-item {
        font-size: 16px;
    }
    .about-complex__list-item:not(:last-child) {
        margin-bottom: 8px;
    }
}

@media (max-width: 600px) {
    .about-complex__desc {
        padding: 22px;
    }
    .about-complex__title {
        margin-bottom: 20px;
    }
    .about-complex__images {
        flex-wrap: wrap;
    }
    .about-complex__wrap-img {
        flex: 1 1 100%;
        height: auto;
    }
}

@media (max-width: 560px) {
    .about-complex {
        padding-bottom: 50px;
    }
}

@media (max-width: 516px) {
    .about-complex__title {
        font-size: 24px;
        line-height: 20px;
        margin-bottom: 20px;
    }
    .about-complex__list-item {
        font-size: 15px;
    }
    .about-complex__list-item:not(:last-child) {
        margin-bottom: 5px;
    }
}

@media (max-width: 500px) {
    .about-complex {
        padding-bottom: 40px;
    }
    .about-complex__desc {
        padding: 20px;
    }
}

@media (max-width: 425px) {
    .about-complex__list-item {
        font-size: 14px;
    }
}


/* 5 БЛОК */
.complex-advantages {
    padding-bottom: 100px;
}

.complex-advantages__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.complex-advantages__title {
    align-self: flex-start;
    margin-bottom: 50px;
}

.complex-advantages__items {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 60px;
    margin-bottom: 80px;
    justify-content: space-between;
}

.complex-advantages__item {
    display: flex;
    flex: 1 1 calc(33% - 20px);
}

@media (min-width: 911px) {
    .complex-advantages__item:nth-child(3),
    .complex-advantages__item:nth-child(6) {
        display: flex;
    }
    
    .complex-advantages__item:nth-child(3) > .complex-advantages__item-body,
    .complex-advantages__item:nth-child(6) > .complex-advantages__item-body {
        width: 280px;
    }
    .complex-advantages__item:nth-child(1) > .complex-advantages__item-body {
        width: 230px;
    }
}

.complex-advantages__item-img-wrap {
    border-radius: 8px;
    margin-right: 20px;
    overflow: hidden;
}

.complex-advantages__img {
    width: 100%;
    object-fit: cover;
}

.complex-advantages__item-body {}

.complex-advantages__item-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    color: #83B32B;
    margin-bottom: 10px;
}

.complex-advantages__item-desc {
    max-width: 297px;
}

.complex-advantages__buttons {
    display: flex;
    gap: 15px;
}
.complex-advantages__link {
    max-width: 295px;
}
.complex-advantages__button {
    max-width: 328px;
}

@media (max-width: 1500px) {
    .complex-advantages__item-desc {
        font-size: 16px;
    }
}

@media (max-width: 1400px) {
    .complex-advantages__title {
        margin-bottom: 40px;
    }

    .complex-advantages__img {
        width: 100px;
        height: 100%;
    }
    .complex-advantages__item-title {
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 7px;
    }
    .complex-advantages__item-desc {
        font-size: 15px;
    }
}

@media (max-width: 1300px) {
    .complex-advantages__title {
        margin-bottom: 35px;
    }

    .complex-advantages__img {
        width: 140px;
        height: 100%;
    }

    .complex-advantages__item-title {
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 10px;
    }
    
    .complex-advantages__item-desc {
        font-size: 18px;
    }
    .complex-advantages__items {
        margin-bottom: 60px;
    }
}

@media (max-width: 1260px) {
    .complex-advantages {
        padding-bottom: 90px;
    }
}

@media (max-width: 1170px) {
    .complex-advantages__title {
        margin-bottom: 33px;
    }

    .complex-advantages__img {
        width: 120px;
        height: 100%;
    }

    .complex-advantages__item-title {
        font-size: 21px;
        line-height: 22px;
    }
    
    .complex-advantages__item-desc {
        font-size: 17px;
    }
    .complex-advantages__items {
        margin-bottom: 50px;
    }
}

@media (max-width: 1070px) {
    .complex-advantages {
        padding-bottom: 80px;
    }

    .complex-advantages__img {
        width: 120px;
        height: 100%;
    }

    .complex-advantages__item-title {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 7px;
    }
    
    .complex-advantages__item-desc {
        font-size: 15px;
    }
}

@media (max-width: 910px) {
    .complex-advantages__title {
        margin-bottom: 30px;
    }

    .complex-advantages__item-img-wrap {
        margin-right: 20px;
        overflow: visible;
    }
    
    .complex-advantages__img {
        border-radius: 8px;
    }
    .complex-advantages__item {
        flex: 1 1 100%;
    }
    .complex-advantages__item-title {
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 10px;
    }
    
    .complex-advantages__item-desc {
        font-size: 18px;
        max-width: 397px;
    }

    .complex-advantages__items {
        margin-bottom: 40px;
    }

    .complex-advantages__img {
        width: 140px;
        height: 100%;
    }
    
    .complex-advantages__item-desc > br {
        display: none;
    }
}

@media (max-width: 880px) {
    .complex-advantages {
        padding-bottom: 70px;
    }

    .complex-advantages__items {
        display: flex;
        flex-wrap: wrap;
        column-gap: 0px;
        row-gap: 49px;
    }
}

@media (max-width: 794px) {
    .complex-advantages {
        padding-bottom: 60px;
    }

    .complex-advantages__title {
        margin-bottom: 27px;
    }

    .complex-advantages__buttons {
        gap: 12px;
    }

    .complex-advantages__item-title {
        font-size: 22px;
        line-height: 21px;
    }
    
    .complex-advantages__item-desc {
        font-size: 16px;
    }

    .complex-advantages__img {
        width: 120px;
    }

    .complex-advantages__items {
        row-gap: 30px;
    }
}

@media (max-width: 650px) {
    .complex-advantages__item-body {
        padding-right: 30px;
    }
    .complex-advantages__buttons {
        flex-direction: column;
    }
    .complex-advantages__link {
        max-width: 325px;
    }

}

@media (max-width: 600px) {
    .complex-advantages__items {
        margin-bottom: 30px;
    }

    .complex-advantages__title {
        margin-bottom: 23px;
    }

    .complex-advantages__img {
        width: 110px;
        height: 98px;
    }
}

@media (max-width: 560px) {
    .complex-advantages {
        padding-bottom: 50px;
    }
    .complex-advantages__items {
        row-gap: 15px;
    }
    .complex-advantages__item-title {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 7px;
    }
    
    .complex-advantages__item-desc {
        font-size: 14px;
    }
}

@media (max-width: 516px) {
    .complex-advantages__title {
        margin-bottom: 20px;
    }
    
    .complex-advantages__buttons {
        gap: 10px;
    }
}

@media (max-width: 500px) {
    .complex-advantages__items {
        margin-bottom: 20px;
    }
    .complex-advantages {
        padding-bottom: 40px;
    }

    .complex-advantages__item-title {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .complex-advantages__img {
        width: 105px;
        height: 94px;
    }
    
    .complex-advantages__item-desc {
        font-size: 12px;
    }
}

@media (max-width: 425px) {
    .complex-advantages__items {
        row-gap: 10px;
    }
    .complex-advantages__item-body {
        padding-right: 5px;
    }
}
@media (max-width: 390px) {
    .complex-advantages__buttons {
        width: 100%;
    }

    .complex-advantages__buttons > * {
        max-width: none;
        width: 100%;
    }
}


/* 6 БЛОК */
.project-map {
    padding-bottom: 100px;
}
.project-map__container {
}
.project-map__title {
    margin-bottom: 50px;
}
.project-map__map-block {
    border-radius: 8px;
}
@media (min-width: 1441px) {
    .project-map__map-block {
        height: 481px;
    }
}

@media (max-width: 1400px) {
    .project-map__title {
        margin-bottom: 40px;
    }

    .project-map__map-block {
        height: 450px !Important;
    }
}

@media (max-width: 1300px) {
    .project-map__title {
        margin-bottom: 35px;
    }
}

@media (max-width: 1260px) {
    .project-map {
        padding-bottom: 90px;
    }
}

@media (max-width: 1170px) {
    .project-map__title {
        margin-bottom: 33px;
    }

    .project-map__map-block {
        height: 430px !Important;
    }
}

@media (max-width: 1070px) {
    .project-map {
        padding-bottom: 80px;
    }
}

@media (max-width: 991px) {
    .project-map__title {
        margin-bottom: 30px;
    }

    .project-map__wrapper {
        padding: 30px 0px 40px 0px;
    }

    .project-map__description-title {
        font-size: 27px;
        line-height: 33px;
    }

    .project-map__map-block {
        height: 410px !Important;
    }
}

@media (max-width: 880px) {
    .project-map {
        padding-bottom: 70px;
    }
}

@media (max-width: 794px) {
    .project-map {
        padding-bottom: 60px;
    }

    .project-map__title {
        margin-bottom: 27px;
    }

    .project-map__map-block {
        height: 400px !Important;
    }
}

@media (max-width: 700px) {
    .project-map__description-title {
        font-size: 26px;
        line-height: 32px;
    }
}

@media (max-width: 600px) {
    .project-map__title {
        margin-bottom: 23px;
    }

    .project-map__map-block {
        height: 350px !Important;
    }
}

@media (max-width: 560px) {
    .project-map {
        padding-bottom: 50px;
    }
}

@media (max-width: 516px) {
    .project-map__title {
        margin-bottom: 20px;
    }
}

@media (max-width: 500px) {
    .project-map {
        padding-bottom: 40px;
    }

    .project-map__map-block {
        height: 340px !Important;
    }
}

@media (max-width: 425px) {
    .project-map__map-block {
        height: 360px !Important;
    }
}

@media (max-width: 375px) {
    .project-map__map-block {
        height: 330px !Important;
    }
}

@media (max-width: 350px) {
    .project-map__map-block {
        height: 300px !Important;
    }
}

/* 7 БЛОК */
.how-buy {
    padding-bottom: 100px;
}
.how-buy__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.how-buy__title {
    margin-bottom: 50px;
}
.how-buy__payment-types {
    display: flex;
    gap: 15px;
    margin-bottom: 48px;
}
.how-buy__button {
    width: 230px;
    border-radius: 8px;
    background: transparent;
    border: 1px solid #D9D9D9;
    padding: 16.5px 0px;
}
.how-buy__button_active {
    border-color: #83B32B;
    background: #83B32B;
    color: #F4F4F4;
    padding: 16.5px 0px;
}
.how-buy__button:hover {
    border-color: #83B32B;
    background: #83B32B;
    color: #F4F4F4;
    padding: 16.5px 0px;
}
.how-buy__body {
    display: flex;
    width: 100%;
}
.how-buy__payment-type-descriprion {
    width: 535px;
    border-right: 1px solid #D9D9D9;
    padding: 40px 0px 0px 40px;
}
.how-buy__payment-type-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.04em;
    margin-bottom: 10px;
}
.how-buy__payment-type-text {
    max-width: 424px;
    color: #646666;
}
.how-buy__payment-type-text:not(:last-child) {
    margin-bottom: 8px;
}
.how-buy__feedback {
    padding: 36px 70px 60px 70px;
    max-width: 1005px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.how-buy__feedback-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -0.04em;
    margin-bottom: 10px;
}
.how-buy__feedback-text {
    line-height: 25px;
    color: #646666;
    margin-bottom: 39px;
}
.how-buy__feedback-form {
    flex-direction: row;
    gap: 15px;
}
.how-buy__input {
    margin-bottom: 0!Important;
    max-width: 290px;
}
.how-buy__input:nth-of-type(2) {
    max-width: 255px;
}
.how-buy__form-button {
    font-size: 18px;
    width: 290px;
}

.how-buy__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.how-buy__payment-types {
    display: flex;
    gap: 15px;
    margin-bottom: 48px;
}

.how-buy__button {
    width: 230px;
    border-radius: 8px;
    background: transparent;
    border: 1px solid #D9D9D9;
    padding: 16.5px 0px;
}

.how-buy__button_active {
    border-color: #83B32B;
    background: #83B32B;
    color: #F4F4F4;
}

.how-buy__button:hover {
    border-color: #83B32B;
    background: #83B32B;
    color: #F4F4F4;
}

.how-buy__body {
    display: flex;
    width: 100%;
}

.how-buy__payment-type-descriprion {
    width: 535px;
    border-right: 1px solid #D9D9D9;
    padding: 40px 40px 30px 40px;
}

.how-buy__payment-type-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -0.04em;
    margin-bottom: 10px;
}

.how-buy__payment-type-text {
    max-width: 424px;
    color: #646666;
    margin-bottom: 0px;
}

.how-buy__payment-type-text:not(:last-child) {
    margin-bottom: 8px;
}

.how-buy__feedback {
    padding: 36px 40px 60px 40px;
    max-width: 1005px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.how-buy__feedback-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -0.04em;
    margin-bottom: 10px;
}

.how-buy__feedback-text {
    line-height: 25px;
    color: #646666;
    margin-bottom: 39px;
}

.how-buy__feedback-form {
    flex-direction: row;
    gap: 15px;
}

.how-buy__input {
    margin-bottom: 0 !Important;
    max-width: 290px;
}

.how-buy__input:nth-of-type(2) {
    max-width: 255px;
}

.how-buy__form-button {
    font-size: 18px;
    width: 290px;
}

@media (max-width: 1500px) {
    .how-buy__payment-type-descriprion {
        padding: 31px 40px 60px 40px;
    }

    .how-buy__feedback-form {
        flex-wrap: wrap;
        justify-content: center;
    }

    .how-buy__feedback {
        padding: 31px 40px 30px 40px;
        max-width: 900px;
    }
}

@media (max-width: 1400px) {
    .how-buy__title {
        margin-bottom: 40px;
    }

    .how-buy__feedback {
        max-width: 850px;
    }
}

@media (max-width: 1329px) {
    .how-buy__payment-type-text {
        font-size: 17px;
    }

    .how-buy__feedback-text {
        font-size: 17px;
        line-height: 23px;
        margin-bottom: 31px;
    }

    .how-buy__feedback-title,
    .how-buy__payment-type-title {
        font-size: 30px;
        line-height: 36px;
    }

    .how-buy__form-button {
        font-size: 17px;
        padding: 16px 0px 16px 0px;
    }

    .how-buy__payment-types {
        margin-bottom: 41px;
    }

    .how-buy__button {
        width: 230px;
        font-size: 17px;
        padding: 16px 0px;
    }
}

@media (max-width: 1300px) {
    .how-buy__title {
        margin-bottom: 35px;
    }

    .how-buy__payment-type-descriprion {
        padding: 27px 30px 50px 30px;
    }

    .how-buy__feedback {
        padding: 27px 30px 30px 30px;
    }
}

@media (max-width: 1260px) {
    .how-buy {
        padding-bottom: 90px;
    }

    .how-buy__feedback-title,
    .how-buy__payment-type-title {
        font-size: 27px;
        line-height: 32px;
    }

    .how-buy__form-button {
        padding: 15px 0px 15px 0px;
    }

    .how-buy__payment-types {
        margin-bottom: 37px;
        gap: 13px;
    }

    .how-buy__button {
        width: 210px;
        padding: 15.5px 0px;
    }
}

@media (max-width: 1170px) {
    .how-buy__title {
        margin-bottom: 33px;
    }

    .how-buy__payment-type-text {
        font-size: 16px;
    }

    .how-buy__feedback-text {
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 27px;
    }

    .how-buy__payment-type-text:not(:last-child) {
        margin-bottom: 10px;
    }

    .how-buy__payment-types {
        margin-bottom: 34px;
    }

    .how-buy__button {
        font-size: 16px;
        padding: 15px 0px;
    }
}

@media (max-width: 1070px) {
    .how-buy {
        padding-bottom: 80px;
    }

    .how-buy__payment-type-descriprion {
        padding: 25px 28px 40px 28px;
    }

    .how-buy__feedback {
        padding: 25px 28px 30px 28px;
    }

    .how-buy__button {
        width: 180px;
        padding: 14.5px 0px;
    }
}

@media (max-width: 991px) {
    .how-buy__title {
        margin-bottom: 30px;
    }

    .how-buy__feedback {
        text-align: center;
    }

    .how-buy__feedback-text {
        max-width: 310px;
    }

    .how-buy__form-button {
        font-size: 16px;
        padding: 14px 0px 14px 0px;
    }
}

@media (max-width: 948px) {
    .how-buy__input {
        margin-bottom: 0 !Important;
        max-width: 290px;
        width: 100%;
    }

    .how-buy__input:nth-of-type(2) {
        max-width: 290px;
    }
}

@media (max-width: 880px) {
    .how-buy {
        padding-bottom: 70px;
    }

    .how-buy__payment-type-descriprion {
        padding: 20px 25px 30px 25px;
    }

    .how-buy__feedback {
        padding: 20px 25px 30px 25px;
    }

    .how-buy__input {
        margin-bottom: 0 !Important;
        max-width: 290px;
        width: 100%;
    }

    .how-buy__payment-type-text:not(:last-child) {
        margin-bottom: 12px;
    }

    .how-buy__payment-types {
        margin-bottom: 28px;
        gap: 10px;
    }

    .how-buy__button {
        width: 150px;
        font-size: 16px;
        padding: 15px 0px;
    }
}

@media (max-width: 850px) {
    .how-buy__payment-type-text {
        font-size: 15px;
    }

    .how-buy__feedback-text {
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 24px;
    }

    .how-buy__button {
        font-size: 15px;
        padding: 14.5px 0px;
    }

    .how-buy__feedback {
        text-align: center;
    }

    .how-buy__feedback-title,
    .how-buy__payment-type-title {
        font-size: 24px;
        line-height: 28px;
    }
}

@media (max-width: 794px) {
    .how-buy {
        padding-bottom: 60px;
    }

    .how-buy__title {
        margin-bottom: 27px;
    }

    .how-buy__payment-types {
        margin-bottom: 25px;
    }

    .how-buy__button {
        width: 145px;
        font-size: 14px;
        padding: 14px 0px;
    }

}

@media (max-width: 650px) {
    .how-buy__payment-types {
        margin-bottom: 32px;
        flex-wrap: wrap;
        gap: 15px;
    }

    .how-buy__button {
        flex: 1 1 calc(50% - 15px);
        font-size: 16px;
        padding: 15px 0px;
    }
}

@media (max-width: 600px) {
    .how-buy__title {
        margin-bottom: 23px;
    }

    .how-buy__body.bordered-block {
        border-radius: 0px;
        border: none;
    }

    .how-buy__payment-types {
        margin-bottom: 29px;
    }

    .how-buy__payment-type-descriprion {
        border: none;
    }

    .how-buy__feedback {
        border: 1px solid #D9D9D9;
        border-radius: 8px;
        overflow: hidden;
    }

    .how-buy__body {
        flex-direction: column;
    }

    .how-buy__feedback {
        padding: 25px 28px 30px 28px;
    }

    .how-buy__payment-type-descriprion {
        padding: 0px;
        margin-bottom: 20px;
    }

    .how-buy__payment-type-descriprion {
        width: 100%;
    }

    .how-buy__payment-type-text:not(:last-child) {
        margin-bottom: 10px;
    }

    .how-buy__feedback-title,
    .how-buy__payment-type-title {
        font-size: 27px;
        line-height: 32px;
    }

    .how-buy__payment-type-text {
        font-size: 16px;
        max-width: 600px;
    }

    .how-buy__feedback-text {
        max-width: none;
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 27px;
    }

    .how-buy__input {
        max-width: none;
        width: 100%;
    }

    .how-buy__input:nth-of-type(2) {
        max-width: none;
        width: 100%;
    }

    .how-buy__form-button {
        max-width: none;
        width: 100%;
    }

    .how-buy__payment-types {
        margin-bottom: 27px;
    }
}

@media (max-width: 560px) {
    .how-buy {
        padding-bottom: 50px;
    }
}

@media (max-width: 516px) {
    .how-buy__title {
        margin-bottom: 20px;
    }

    .how-buy__feedback-title,
    .how-buy__payment-type-title {
        font-size: 24px;
        line-height: 27px;
    }

    .how-buy__feedback {
        padding: 20px 25px 26px 25px;
    }

    .how-buy__payment-types {
        margin-bottom: 24px;
        gap: 12px;
    }

    .how-buy__button {
        font-size: 15px;
        padding: 14.5px 0px;
    }
}

@media (max-width: 500px) {
    .how-buy {
        padding-bottom: 40px;
    }

    .how-buy__feedback-title,
    .how-buy__payment-type-title {
        font-size: 22px;
        line-height: 25px;
    }

    .how-buy__payment-type-text {
        font-size: 15px;
    }

    .how-buy__feedback-text {
        font-size: 15px;
        margin-bottom: 22px;
    }

    .how-buy__payment-type-text:not(:last-child) {
        margin-bottom: 12px;
    }

    .how-buy__payment-types {
        margin-bottom: 21px;
    }
}

@media (max-width: 425px) {
    .how-buy__feedback {
        padding: 20px 22px 23px 22px;
    }

    .how-buy__feedback-text {
        margin-bottom: 14px;
        line-height: 20px;
    }

    .how-buy__payment-types {
        margin-bottom: 20px;
        gap: 10px;
    }

    .how-buy__button {
        font-size: 14px;
        padding: 14px 0px;
    }
}

@media (max-width: 375px) {
    .how-buy__feedback {
        padding: 20px;
    }

    .how-buy__feedback-title,
    .how-buy__payment-type-title {
        font-size: 20px;
        line-height: 22px;
    }

    .how-buy__payment-type-text {
        font-size: 14px;
    }

    .how-buy__feedback-text {
        font-size: 14px;
        margin-bottom: 10px;
    }
}

/* 8 БЛОК */
.similar-projects {
    padding-bottom: 100px;
}
.similar-projects__container {
}
.similar-projects__title {
    margin-bottom: 50px;
}

.similar-projects__swiper-wrapper {
    display: flex;
    width: 100%;
}
.similar-projects__item {
    overflow: hidden;
}
.similar-projects__item:not(:last-child) {
    margin-right: 20px;
}
.similar-projects__item-body {
}
.similar-projects__img-wrap {
    position: relative;
    height: 100%;
    max-height: 350px;
}
.similar-projects__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 500 / 350;
}
.similar-projects__img-option {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -0.05em;
    color: #FFF;
    border-radius: 8px;
    padding: 7px 10px;
    background: #83B32B;
}
.similar-projects__item-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: -0.05em;
    text-align: center;
    padding: 30px 10px 40px 10px;
}
.similar-projects__slider {
    display: flex;
    width: 100%;
}

.similar-projects__swiper-pagination {
    position: relative;
}

.similar-projects__swiper>.swiper-wrapper {
    margin-bottom: 15px;
}

@media (max-width: 1400px) {
    .similar-projects__title {
        margin-bottom: 40px;
    }

    .similar-projects__item-title {
        line-height: 38px;
        padding: 25px 10px 35px 10px;
    }

    .similar-projects__img-option {
        top: 18px;
        left: 18px;
        padding: 7px 9px;
    }
}

@media (max-width: 1300px) {
    .similar-projects__title {
        margin-bottom: 35px;
    }
    .similar-projects__item-title {
        padding: 22px 10px 30px 10px;
        font-size: 17px;
        line-height: 34px;
    }
}

@media (max-width: 1230px) {
    .similar-projects__item-title {
        font-size: 18px;
        line-height: 36px;
    }
}

@media (max-width: 1260px) {
    .similar-projects {
        padding-bottom: 90px;
    }
    .similar-projects__img-option {
        top: 16px;
        left: 16px;
        font-size: 15px;
        padding: 7px 8px;
    }
}

@media (max-width: 1170px) {
    .similar-projects__title {
        margin-bottom: 33px;
    }

    .similar-projects__item-title {
        padding: 20px 10px 30px 10px;
        font-size: 17px;
        line-height: 34px;
    }
    .similar-projects__img-option {
        top: 13px;
        left: 13px;
        padding: 7px 5px;
    }
}

@media (max-width: 1070px) {
    .similar-projects {
        padding-bottom: 80px;
    }
    .similar-projects__item-title {
        font-size: 16px;
    }
    .similar-projects__img-option {
        top: 10px;
        left: 10px;
        font-size: 14px;
        padding: 7px 4.5px;
    }
}

@media (max-width: 991px) {
    .similar-projects__title {
        margin-bottom: 30px;
    }

    .similar-projects__img-wrap {
        max-height: none;
    }

    .similar-projects__img-option {
        top: 13px;
        left: 13px;
        padding: 7px 5px;
    }

    .similar-projects__slider {
        display: flex;
        width: 100%;
    }
    
    .similar-projects__swiper-wrapper {
        margin-bottom: 26px !Important;
    }
}

@media (max-width: 880px) {
    .similar-projects {
        padding-bottom: 70px;
    }
}

@media (max-width: 847px) {
    .similar-projects__item-title {
        padding: 20px 10px;
    }
    
}

@media (max-width: 794px) {
    .similar-projects {
        padding-bottom: 60px;
    }

    .similar-projects__title {
        margin-bottom: 27px;
    }

    .similar-projects__img-option {
        top: 10px;
        left: 10px;
        font-size: 14px;
        padding: 7px 4.5px;
    }
}

@media (max-width: 700px) {
    .similar-projects__swiper-wrapper {
        margin-bottom: 23px !Important;
    }
    .similar-projects__item {
        width: 100%;
    }

    .similar-projects__slider > .swiper-slide {
        width: 100% !important;
    }

    .similar-projects__item-title {
        font-size: 19px;
        line-height: 38px;
        padding: 25px 10px;
    }

    .similar-projects__img-option {
        top: 19px;
        left: 19px;
        font-size: 16px;
        padding: 7px 9px;
    }
}

@media (max-width: 600px) {
    .similar-projects__title {
        margin-bottom: 23px;
    }
}

@media (max-width: 560px) {
    .similar-projects {
        padding-bottom: 50px;
    }
    .similar-projects__item-title {
        padding: 20px 10px;
    }
    .similar-projects__img-option {
        top: 16px;
        left: 16px;
        font-size: 15px;
        padding: 7px 8px;
    }
}

@media (max-width: 516px) {
    .similar-projects__title {
        margin-bottom: 20px;
    }

    .similar-projects__swiper-wrapper {
        margin-bottom: 18px !Important;
    }

    .similar-projects__item-title {
        font-size: 18px;
        line-height: 36px;
    }
}

@media (max-width: 500px) {
    .similar-projects {
        padding-bottom: 40px;
    }

    .similar-projects__item-title {
        font-size: 17px;
        line-height: 34px;
    }
    .similar-projects__img-option {
        top: 13px;
        left: 13px;
        padding: 7px 5px;
    }
}

@media (max-width: 425px) {
    .similar-projects__swiper-wrapper {
        margin-bottom: 15px !Important;
    }

    .similar-projects__item-title {
        line-height: 30px;
        padding: 20px 5px;
    }
    .similar-projects__img-option {
        font-size: 14px;
    }
}

@media (max-width: 390px) {
    .similar-projects__link {
        max-width: 100%;
    }
    .similar-projects__item-title {
        font-size: 16px;
        line-height: 20px;
    }
}

@media (max-width: 375px) {
    .similar-projects__item-title {
        line-height: 25px;
    }

    .similar-projects__img-option {
        top: 10px;
        left: 10px;
        padding: 7px 4.5px;
    }
}

@media (max-width: 320px) {
    .similar-projects__item-title {
        font-size: 16px;
        line-height: 20px;
    }
}


/* 9 БЛОК */
.viewied-projects {
    padding-bottom: 100px;
}
.viewied-projects__container {
}
.viewied-projects__title {
    margin-bottom: 50px;
}

.viewied-projects__swiper-wrapper {
    display: flex;
    width: 100%;
}
.viewied-projects__item {
    overflow: hidden;
}
.viewied-projects__item:not(:last-child) {
    margin-right: 20px;
}
.viewied-projects__item-body {
}
.viewied-projects__img-wrap {
    height: 100%;
    max-height: 350px;
    position: relative;
}
.viewied-projects__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 500 / 350;
}
.viewied-projects__img-option {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -0.05em;
    color: #FFF;
    border-radius: 8px;
    padding: 7px 10px;
    background: #83B32B;
}
.viewied-projects__item-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: -0.05em;
    text-align: center;
    padding: 30px 0px 40px 41px;
}

.viewied-projects__slider {
    /* display: none; */
    display: flex;
    width: 100%;
}

.viewied-projects__swiper-pagination {
    position: relative;
}

.viewied-projects__swiper>.swiper-wrapper {
    margin-bottom: 15px;
}

@media (max-width: 1400px) {
    .viewied-projects__title {
        margin-bottom: 40px;
    }

    .viewied-projects__item-title {
        line-height: 38px;
        padding: 25px 10px 35px 10px;
    }

    .viewied-projects__img-option {
        top: 18px;
        left: 18px;
        padding: 7px 9px;
    }
}

@media (max-width: 1300px) {
    .viewied-projects__title {
        margin-bottom: 35px;
    }
    .viewied-projects__item-title {
        padding: 22px 10px 30px 10px;
        font-size: 17px;
        line-height: 34px;
    }
}

@media (max-width: 1230px) {
    .viewied-projects__item-title {
        font-size: 18px;
        line-height: 36px;
    }
}

@media (max-width: 1260px) {
    .viewied-projects {
        padding-bottom: 90px;
    }
    .viewied-projects__img-option {
        top: 16px;
        left: 16px;
        font-size: 15px;
        padding: 7px 8px;
    }
}

@media (max-width: 1170px) {
    .viewied-projects__title {
        margin-bottom: 33px;
    }

    .viewied-projects__item-title {
        padding: 20px 10px 30px 10px;
        font-size: 17px;
        line-height: 34px;
    }
    .viewied-projects__img-option {
        top: 13px;
        left: 13px;
        padding: 7px 5px;
    }
}

@media (max-width: 1070px) {
    .viewied-projects {
        padding-bottom: 80px;
    }
    .viewied-projects__item-title {
        font-size: 16px;
    }
    .viewied-projects__img-option {
        top: 10px;
        left: 10px;
        font-size: 14px;
        padding: 7px 4.5px;
    }
}

@media (max-width: 991px) {
    .viewied-projects__title {
        margin-bottom: 30px;
    }

    .viewied-projects__img-wrap {
        max-height: none;
    }

    /* .viewied-projects__items {
        display: none;
    } */

    .viewied-projects__img-option {
        top: 13px;
        left: 13px;
        padding: 7px 5px;
    }

    .viewied-projects__slider {
        display: flex;
        width: 100%;
    }
    
    .viewied-projects__swiper-wrapper {
        margin-bottom: 26px !Important;
    }
}

@media (max-width: 880px) {
    .viewied-projects {
        padding-bottom: 70px;
    }
}

@media (max-width: 847px) {
    .viewied-projects__item-title {
        padding: 20px 10px;
    }
}

@media (max-width: 794px) {
    .viewied-projects {
        padding-bottom: 60px;
    }

    .viewied-projects__title {
        margin-bottom: 27px;
    }

    .viewied-projects__img-option {
        top: 10px;
        left: 10px;
        font-size: 14px;
        padding: 7px 4.5px;
    }
}

@media (max-width: 700px) {
    .viewied-projects__swiper-wrapper {
        margin-bottom: 23px !Important;
    }

    .viewied-projects__item {
        width: 100%;
    }

    .viewied-projects__slider > .swiper-slide {
        width: 100% !important;
    }

    .viewied-projects__item-title {
        font-size: 19px;
        line-height: 38px;
        padding: 25px 10px;
    }

    .viewied-projects__img-option {
        top: 19px;
        left: 19px;
        font-size: 16px;
        padding: 7px 9px;
    }
}

@media (max-width: 600px) {
    .viewied-projects__title {
        margin-bottom: 23px;
    }
}

@media (max-width: 560px) {
    .viewied-projects {
        padding-bottom: 50px;
    }
    .viewied-projects__item-title {
        padding: 20px 10px;
    }
    .viewied-projects__img-option {
        top: 16px;
        left: 16px;
        font-size: 15px;
        padding: 7px 8px;
    }
}

@media (max-width: 516px) {
    .viewied-projects__title {
        margin-bottom: 20px;
    }

    .viewied-projects__swiper-wrapper {
        margin-bottom: 18px !Important;
    }

    .viewied-projects__item-title {
        font-size: 18px;
        line-height: 36px;
    }
}

@media (max-width: 500px) {
    .viewied-projects {
        padding-bottom: 40px;
    }

    .viewied-projects__item-title {
        font-size: 17px;
        line-height: 34px;
    }
    .viewied-projects__img-option {
        top: 13px;
        left: 13px;
        padding: 7px 5px;
    }
}

@media (max-width: 425px) {
    .viewied-projects__swiper-wrapper {
        margin-bottom: 15px !Important;
    }

    .viewied-projects__item-title {
        line-height: 30px;
        padding: 20px 5px;
    }
    .viewied-projects__img-option {
        font-size: 14px;
    }
}

@media (max-width: 390px) {
    .viewied-projects__link {
        max-width: 100%;
    }
    .viewied-projects__item-title {
        font-size: 16px;
        line-height: 20px;
    }
}

@media (max-width: 375px) {
    .viewied-projects__item-title {
        line-height: 25px;
    }

    .viewied-projects__img-option {
        top: 10px;
        left: 10px;
        padding: 7px 4.5px;
    }
}

@media (max-width: 320px) {
    .viewied-projects__item-title {
        font-size: 16px;
        line-height: 20px;
    }
}
