.feedback {
    padding-bottom: 100px;
}

.feedback__wrapper {
    display: flex;
    align-items: center;
}

.feedback__img-wrap {
    margin-right: 59px;
    max-width: 760px;
    max-height: 480px;
}

.feedback__img {
    height: 100%;
    object-fit: cover;
    width: 100%;
    aspect-ratio: 760 / 480;
}

.feedback__body {
    margin-right: 39px;
}

.feedback__title {
    margin-bottom: 10px;
}

.feedback__text {
    font-size: 20px;
    line-height: 25px;
    color: #646666;
    margin-bottom: 30px;
    padding-right: 16px;
    max-width: 650px;
}

@media (max-width: 1600px) {
    .feedback__body {
        max-width: 50%;
    }

    .feedback__img-wrap {
        max-width: 50%;
    }

    .feedback__img {
        height: 100%;
        width: 100%;
        height: 600px;
        object-fit: cover;
    }
}

@media (max-width: 1400px) {
    .feedback__img-wrap {
        margin-right: 49px;
    }

    .feedback__body {
        margin-right: 30px;
    }
}

@media (max-width: 1329px) {
    .feedback__text {
        margin-bottom: 27px;
    }
}

@media (max-width: 1298px) {
    .feedback__img-wrap {
        margin-right: 39px;
    }

    .feedback__body {
        margin-right: 28px;
    }

    .feedback__img {
        height: 500px;
    }

    .feedback__text {
        font-size: 17px;
        line-height: 22px;
    }

    .feedback-form__input {
        font-size: 16px;
    }
}

@media (max-width: 1260px) {
    .feedback {
        padding-bottom: 90px;
    }
}

@media (max-width: 1096px) {
    .feedback__img-wrap {
        margin-right: 32px;
    }

    .feedback__body {
        margin-right: 25px;
    }

    .feedback__text {
        font-size: 16px;
        margin-bottom: 25px;
    }

    .feedback-form__input {
        font-size: 15px;
    }
}

@media (max-width: 1070px) {
    .feedback {
        padding-bottom: 80px;
    }
}

@media (max-width: 991px) {
    .feedback__text {
        font-size: 14px;
        line-height: 20px;
    }

    .feedback__body {
        max-width: 45%;
    }

    .feedback__img-wrap {
        max-width: 55%;
    }
}

@media (max-width: 880px) {
    .feedback {
        padding-bottom: 70px;
    }
}

@media (max-width: 794px) {
    .feedback {
        padding-bottom: 60px;
    }

    .feedback__wrapper {
        flex-direction: column;
    }

    .feedback__text {
        margin-bottom: 21px;
        padding-right: 50px;
        font-size: 17px;
        line-height: 22px;
    }

    .feedback__wrapper {
        display: flex;
        flex-direction: column-reverse;
    }

    .feedback__body {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 28px;
        max-width: 100%;
        margin-right: 0px;
    }

    .feedback__img-wrap {
        max-width: 100%;
        margin-right: 0;
    }

    .feedback__img {
        height: 100%;
    }
}

@media (max-width: 650px) {
    .feedback__body {
        padding: 25px;
    }
}

@media (max-width: 600px) {
    .feedback__text {
        margin-bottom: 17px;
        padding-right: 20px;
    }

    .feedback-form__input {
        font-size: 16px;
        line-height: 21px;
    }
}

@media (max-width: 560px) {
    .feedback {
        padding-bottom: 50px;
    }
}

@media (max-width: 500px) {
    .feedback {
        padding-bottom: 40px;
    }

    .feedback__body {
        padding: 20px;
    }

    .feedback__text {
        font-size: 14px;
        line-height: 20px;
    }
}

@media (max-width: 425px) {
    .feedback__text {
        margin-bottom: 13px;
        padding-right: 0px;
    }
}

@media (max-width: 375px) {
    .feedback__text {
        margin-bottom: 10px;
    }
}
