.footer {
    padding: 180px 0px 98px 0px;
}

.footer__container {
    display: flex;
}

/* .footer__container>*:not(:first-child) {
    margin-top: 120px;
} */

.footer__contacts {
    max-width: 276px;
    margin-right: 114px;
}

.footer__logo {
    max-width: 234px;
    margin-bottom: 8px;
}

.footer__contacts-numbers {
    display: flex;
    flex-direction: column;
}

.footer__contacts-numbers>* {
    font-size: 30px;
    font-weight: 600;
}

.footer__contacts-numbers>*:not(:last-child) {
    margin-bottom: 14px;
}

.footer__email {
    font-size: 16px;
    font-weight: 600;
    color: #656666;
    display: inline-block;
    margin-bottom: 27px;
}

.footer__contact-policy {
    max-width: 185px;
    font-size: 16px;
    line-height: 22px;
    color: #646666;
}

.footer__contact-policy:hover {
    color: #83B32B;
}

.footer__nav {
    width: 702px;
    margin-right: 145px;
}

.footer__menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer__menu-item {
    list-style-type: none;
}

.footer__menu-item:not(:last-child) {
    margin-bottom: 15px;
}

.footer__menu-link {
    font-size: 16px;
    color: #646666;
    text-transform: uppercase;
}

.footer__menu-link:hover {
    color: #83B32B;
}

.footer__socials {
    max-width: 300px;
}

.social__links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    background: #FFF;
}

.social__link {
    display: inline-block;
    height: 60px;
}

.social__link-icon {
    max-width: 60px;
}

.footer__button {
    max-width: 300px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    text-align: center;
    padding: 17px 61px;
    border-radius: 30px;
    background: #000;
}

.footer__button:hover {
    color: #FFF;
    background: #3a3a3a;
}

@media (max-width: 1600px) {
    .footer__container {
        display: flex;
        justify-content: space-between;
    }

    .footer__contacts {
        margin-right: 0px;
    }

    .footer__nav {
        width: 45%;
        margin-right: 0px;
    }

}

@media (max-width: 1400px) {
    .footer {
        padding: 120px 0px 95px 0px;
    }

    .footer__logo {
        width: 270px;
    }

    .footer__contacts-numbers>* {
        font-size: 30px;
    }

    .footer__menu-link {
        font-size: 16px;
    }


    .footer__contacts-numbers {
        display: flex;
        flex-direction: column;
        margin-bottom: 14px;
    }

    .footer__contacts-numbers>* {
        font-size: 27px;
    }

    .social__links {
        margin-bottom: 37px;
    }

    .footer__menu-link {
        font-size: 15px;
    }

    .social__link-icon {
        height: 50px;
    }

    .footer__button {
        font-size: 18px;
        line-height: 23px;
        padding: 16px 52px;
    }
}

@media (max-width: 1200px) {
    .footer__container {
        flex-wrap: wrap;
    }

    .footer__nav {
        width: 60%;
        margin-right: 0px;
    }

    .footer__socials {
        display: flex;
        justify-content: space-between;
        margin-top: 40px !Important;
        max-width: 100%;
        width: 100%;
        align-items: center;
    }

    .footer__menu-item:not(:last-child) {
        margin-bottom: 17px;
    }

    .social__link {
        height: auto;
        align-items: center;
    }

    .social__links {
        margin-bottom: 0px;
        gap: 60px;
    }

    .social__link-icon {
        height: 60px;
    }

    .footer__button {
        font-size: 20px;
        line-height: 25px;
        padding: 17px 61px;
    }
}

@media (max-width: 991px) {
    .footer {
        padding: 75px 0px 61px 0px;
    }

    .footer__logo {
        width: 280px;
    }

    .footer__social-link-icon {
        height: 50px;
        width: 50px;
    }

    .footer__contacts-numbers {
        margin-bottom: 15px;
    }

    .footer__contacts-numbers>* {
        font-size: 27px;
    }

    .footer__menu-link {
        font-size: 15px;
    }
}

@media (max-width: 870px) {
    .footer__menu-link {
        font-size: 14px;
    }
}

@media (max-width: 794px) {
    .footer {
        padding: 54px 0px 68px 0px;
    }

    .footer__container {
        position: relative;
    }

    .footer__menu {
        flex-wrap: wrap;
    }

    .footer__nav {
        width: 50%;
    }

    .footer__menu-items:not(:last-child) {
        margin-bottom: 30px;
    }

    .footer__menu-item:not(:last-child) {
        margin-bottom: 18px;
    }

    .footer__contacts-numbers>* {
        font-size: 27px;
    }

    .footer__menu-link {
        font-size: 16px;
    }

    .footer__socials {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: auto;
        bottom: 0px;
        margin-top: 0 !Important;
    }

    .social__links {
        margin-bottom: 50px;
        gap: 50px;
    }

    .social__link-icon {
        height: 50px;
    }

    .footer__button {
        font-size: 18px;
        line-height: 23px;
        padding: 17px 61px;
    }
}

@media (min-width: 501px) and (max-width: 670px) {
    .footer__container {
        position: relative;
    }

    .footer__logo {
        width: 240px;
        margin-bottom: 10px;
    }

    .footer__menu {
        flex-wrap: wrap;
    }

    .footer__contact-policyaddress {
        font-size: 15px;
        line-height: 26px;
        margin-bottom: 20px;
    }

    .footer__email {
        font-size: 15px;
    }

    .footer__menu-items:not(:last-child) {
        margin-bottom: 32px;
    }

    .footer__menu-item:not(:last-child) {
        margin-bottom: 18px;
    }

    .footer__menu-link {
        font-size: 15px;
    }

    .footer__contacts-numbers>*:not(:last-child) {
        margin-bottom: 15px;
    }

    .footer__contacts-numbers>* {
        font-size: 24px;
    }

    .social__links {
        margin-bottom: 50px;
        gap: 30px;
    }

    .social__link-icon {
        height: 45px;
    }

    .footer__button {
        font-size: 16px;
        line-height: 21px;
        padding: 16px 55px;
    }
}

@media (max-width: 600px) {
    .footer {
        padding: 27px 0px 43px 0px;
    }

    .footer__logo {
        width: 220px;
        margin-bottom: 10px;
    }

    .footer__email {
        margin-bottom: 18px;
    }
    
    .footer__nav {
        width: 45%;
    }

    .footer__contacts-numbers>* {
        font-size: 22px;
    }
}

@media (max-width: 560px) {
    .footer__menu-link {
        font-size: 14px;
    }

    .social__links {
        margin-bottom: 35px;
        gap: 20px;
    }

    .social__link-icon {
        height: 40px;
    }

    .footer__button {
        padding: 16px 40px;
    }
}

@media (max-width: 521px) {
    .footer__container {
        padding-left: 20px;
    }

    .footer__contacts {
        display: flex;
        flex-direction: column;
        margin-bottom: 26px;
    }
    
    .footer__contacts-numbers>*:not(:last-child) {
        margin-bottom: 15px;
    }

    .footer__email {
        margin-bottom: 10px;
    }

    .footer__nav {
        width: 100%;
        margin-top: 0px !Important;
        margin-bottom: 50px;
    }

    .footer__menu-items {
        width: 100%;
    }

    .footer__socials {
        position: unset;
    }

    .footer__socials-links {
        width: 100%;
        justify-content: space-evenly;
    }

    .social__link-icon {
        height: 45px;
    }

    .social__links {
        margin-bottom: 43px;
    }

    .footer__button {
        max-width: 100%;
        padding: 16px 57px;
    }

    .social__links {
        margin-bottom: 23px;
    }

    .footer__nav {
        margin-bottom: 35px;
    }
    .footer__contact-policy {
        font-size: 15px;
        line-height: 26px;
    }
}

@media (max-width: 500px) {
    .footer__logo {
        width: 240px;
        margin-bottom: 17px;
    }
}

@media (max-width: 425px) {
    .footer {
        padding: 25px 0px 36px 0px;
    }

    .footer__logo {
        margin-bottom: 25px;
    }

    .footer__contact-policy {
        line-height: 23px;
        max-width: 180px;
    }
}

@media (max-width: 375px) {
    .footer {
        padding: 22px 0px 30px 0px;
    }

    .footer__logo {
        margin-bottom: 23px;
    }

    .footer__contacts {
        margin-bottom: 30px;
    }

    .footer__contacts-numbers {
        margin-bottom: 16px;
    }

    .footer__contact-policy {
        font-size: 14px;
        line-height: 20px;
    }

    .footer__email {
        font-size: 16px;
        line-height: 20px;
    }

    .footer__menu-items:not(:last-child) {
        margin-bottom: 35px;
    }

    .footer__menu-item:not(:last-child) {
        margin-bottom: 20px;
    }

    .footer__nav {
        margin-bottom: 27px;
    }

    .footer__menu-link {
        font-size: 14px;
    }

    .footer__contacts-numbers>*:not(:last-child) {
        margin-bottom: 16px;
    }

    .footer__contacts-numbers>* {
        font-size: 20px;
    }

    .footer__button {
        font-size: 16px;
        line-height: 20px;
        padding: 15px 55px;
    }

    .footer__socials {
        width: calc(100% - 20px);
    }

    .social__links {
        margin-bottom: 20px;
        justify-content: space-evenly;
    }

    .social__link-icon {
        height: 40px;
    }

    .footer__button {
        width: 100%;
        padding: 15px 0px;
    }
}

@media (max-width: 320px) {
    .footer__logo {
        margin-bottom: 20px;
        width: 200px;
    }
}