.feedback-form {
    display: flex;
    flex-direction: column;
}

.feedback-form > *:not(:last-child) {
    margin-bottom: 20px;
}

.feedback-form__input {
    padding: 18px 20px;
    color: #646666;
}

.feedback__form > input {
    border: 1px solid #D9D9D9;
    outline: none;
}

.feedback-form__agree-check {
    display: inline-flex!Important;
    align-items: center;
    font-size: 12px;
    display: flex;
    position: relative;
    width: 100%;
}

.feedback-form__agree-checkbox {
    display: none;
}

.feedback-form__custom-checkbox {
    display: inline-block;
    margin-right: 10px;
    height: 20px;
    width: 20px;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
    position: relative;
}

.feedback-form__agree-checkbox:checked + .feedback-form__custom-checkbox {
    border: 2px solid #83B32B;
}

.feedback-form__agree-checkbox:checked + .feedback-form__custom-checkbox::before {
    content: '\2713';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #83B32B;
    font-size: 18px;
}

.feedback-form__agree-text {
    display: block;
    text-align: start;
}

.feedback-form__response {
    font-size: 12px;
    text-align: start;
}

.was-validated .feedback-form__input:invalid {
    border-color: red;
}

.feedback-form__custom-checkbox.is-invalid {
    border-color: #dc3545;
}

.feedback-form__button {
    max-width: 100%;
    width: 100%;
}

@media (max-width: 991px) {
    .feedback-form__input {
        padding: 17px 20px;
        color: #646666;
    }
}

@media (max-width: 948px) {
    .feedback-form__agree-text {
        max-width: 300px;
    }
}

@media (max-width: 794px) {
    .feedback-form__input {
        font-size: 16px;
        padding: 16px 20px 17px 20px;
        color: #646666;
        line-height: 25px;
    }

    .feedback-form__agree-text {
        max-width: none;
    }
}

@media (max-width: 650px) {
    .feedback-form__input {
        padding: 14px 20px 15px 20px;
    }
}

@media (max-width: 600px) {
    .payment__wrapper {
        padding: 25px 0px 25px 0px;
    }
}

@media (max-width: 500px) {
    .feedback-form__input {
        padding: 13px 20px 14px 20px;
    }

    .feedback-form__agree-text {
        max-width: 300px;
    }
}

@media (max-width: 425px) {
    .feedback-form__input {
        padding: 12px 20px 13px 20px;
    }
}

@media (max-width: 400px) {
    .feedback-form__agree-text {
        max-width: 250px;
    }
}

@media (max-width: 340px) {
    .feedback-form__agree-text {
        max-width: 200px;
    }
}