.top-banner {
    padding-top: calc(39px + 79px);
    padding-bottom: 20px;
}

.top-banner__container {
    display: flex;
    column-gap: 20px;
    max-height: 560px;
}
.top-banner__container > * {
    flex: 1 1 100%;
}

.top-banner__left {
    background: #EFF6FF;
    max-width: 640px; 
    border-radius: 8px;
    padding: 40px;
}

.top-banner__title {
    margin-bottom: 10px;
}

.top-banner__text {
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -0.05em;
    margin-bottom: 40px;
    max-width: 500px;
}

.top-block__unique-offers-item>span {
    color: #646666;
}

.top-banner__list {
    margin-bottom: 45px;
}

.top-banner__item {
    font-size: 20px;
    line-height: 25px;
    margin-left: 22px;
}

.top-banner__item:not(:last-child) {
    margin-bottom: 5px;
}

.top-banner__button:not(:last-child) {
    margin-bottom: 10px;
}

.top-banner__button-icon {
    margin-left: 16px;
}

.top-banner__catalog-info {
    font-size: 12px;
    color: #7B7C7E;
    display: flex;
    justify-content: space-between;
    max-width: 365px;
}

.top-banner__img-wrap {
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
}

.top-banner__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 1600px) {
    .top-banner__left {
        flex: 1 1 41.5%;
    }
    
    .top-banner__img-wrap {
        flex: 1 1 58.5%;
    }
}
@media (max-width: 1440px) {
    .top-banner__text {
        font-size: 24px;
        line-height: 35px;
        margin-bottom: 30px;
    }
    
    .top-banner__list {
        margin-bottom: 35px;
    }
    
    .top-banner__item {
        font-size: 18px;
        line-height: 23px;
    }
}

@media (max-width: 1300px) {
    .top-banner__text {
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 27px;
    }
    
    .top-banner__list {
        margin-bottom: 30px;
    }
    
    .top-banner__item {
        font-size: 17px;
    }

    .top-banner__left {
        padding: 30px;
    }
}
@media (max-width: 1280px) {
    .top-banner__container {
        max-height: 500px;
    }
    .top-banner__button {
        max-width: 320px;
        font-size: 17px;
        padding: 16px 0px 16px 0px;
    }
    .top-banner__button-icon {
        margin-left: 6px;
    }
    .top-banner__catalog-info {
    max-width: 320px;
    }
    .top-banner__img-wrap {
        height: auto;
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .top-banner__text {
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 25px;
    }

    .top-banner__item {
        font-size: 15px;
        line-height: 21px;
    }

    .top-banner__item:not(:last-child) {
        margin-bottom: 5px;
    }
}
@media (max-width: 1170px) {
    .top-banner__left {
        padding: 25px;
    }
}

@media (max-width: 1130px) {
    .top-banner__text {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 21px;
    }

    .top-banner__item {
        font-size: 14px;
        line-height: 20px;
    }
}

@media (max-width: 991px) {
    .top-banner__left {
        padding: 20px;
    }
}

@media (max-width: 970px) {
    .top-banner {
        padding-top: calc(30px + 54px);
    }
}

@media (max-width: 880px) {
    .top-banner__container {
        max-height: none;
        flex-direction: column;
        gap: 20px;
    }

    .top-banner__container > * {
        flex: 1 1 100%;
        max-width: none;
    }

    .banner-title {
        font-size: 45px;
        line-height: 55px!Important;
    }

    .top-banner__text {
        font-size: 22px;
        line-height: 38px;
        margin-bottom: 27px;
    }
    
    .top-banner__button {
        max-width: 350px;
        font-size: 18px;
        padding: 16px 0px 16px 0px;
    }
    .top-banner__catalog-info {
        max-width: 350px;
        }
    .top-banner__list {
        margin-bottom: 40px;
    }
    
    .top-banner__item {
        font-size: 17px;
    }

    .top-banner__left {
        padding: 30px;
    }

    .top-banner__item:not(:last-child) {
        margin-bottom: 10px;
    }
}

@media (max-width: 700px) {
.top-banner__left {
    padding: 25px;
}
.top-banner__text {
    font-size: 21px;
    line-height: 28px;
    margin-bottom: 20px;
}

.top-banner__item {
    font-size: 15px;
    line-height: 21px;
}
.top-banner__button {
    max-width: 320px;
    font-size: 17px;
    padding: 16px 0px 16px 0px;
}
.top-banner__catalog-info {
    max-width: 320px;
    }

    .top-banner__button-icon {
        height: 22px;
        margin-left: 12px;
    }
}

@media (max-width: 850px) {
    .top-banner {
        padding-top: calc(25px + 54px);
    }
}

@media (max-width: 794px) {
    .top-banner {
        padding-top: calc(20px + 54px);
        padding-bottom: 61px;
    }
    .banner-title {
        font-size: 40px;
        line-height: 50px!Important;
    }
    .top-banner__text {
        margin-bottom: 25px;
        line-height: 32px;
    }
    .top-banner__list {
        margin-bottom: 35px;
    }
}

@media (max-width: 600px) {
    .top-banner {
        padding-top: calc(17px + 54px);
    }
    
    .top-banner__item:not(:last-child) {
        margin-bottom: 5px;
    }

    .top-banner__text {
        font-size: 21px;
        line-height: 26px;
        margin-bottom: 17px;
    }
    .banner-title {
        font-size: 33px;
        line-height: 43px!Important;
    }
    .top-banner__button {
        padding: 14px 0px 13px 0px;
    }
}

@media (max-width: 500px) {
    .top-banner__left {
        padding: 26px 13px 23px 13px;
    }
    .top-banner__left > *:not(.button) {
        padding: 0px 10px;
    }
    .banner-title {
        font-size: 28px;
        line-height: 39px!Important;
    }
    .top-banner__catalog-info {
        font-size: 10px;
    }
    .top-banner__button {
        font-size: 16px;
        padding: 13px 0px 12px 0px;
    }

    .top-banner__text {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 14px;
    }
    
    .top-banner__list {
        margin-bottom: 30px;
    }
}

@media (max-width: 490px) {
    .top-banner {
        padding-top: calc(12px + 54px);
    }
    .top-banner__button {
        width: 100%;
    }
}

@media (max-width: 425px) {
    .top-banner__left {
        padding: 30px 10px 20px 10px;
    }

    .top-banner__item {
        font-size: 14px;
        line-height: 20px;
    }

    .top-banner__text {
        margin-bottom: 10px;
    }

    .top-banner__button-icon {
        height: 20px;
        margin-left: 8px;
    }
}