.top-banner {
    padding-bottom: 100px;
}

.top-banner__text {
    margin-bottom: 73px;
}

@media (max-width: 1440px) {
    .top-banner__text {
        margin-bottom: 67px;
        max-width: 400px;
    }
}

@media (max-width: 1300px) {
    .top-banner__text {
        margin-bottom: 50px;
        max-width: 350px;
    }

    .banner-title {
        font-size: 45px;
        line-height: 55px!Important;
    }
}

@media (max-width: 1260px) {
    .top-banner {
        padding-bottom: 90px;
    }
}

@media (max-width: 1130px) {
    .banner-title {
        font-size: 42px;
        line-height: 52px!Important;
    }
}

@media (max-width: 1070px) {
    .top-banner {
        padding-bottom: 80px;
    }
}

@media (max-width: 991px) {
    .banner-title {
        font-size: 40px;
        line-height: 50px!Important;
    }
}

@media (max-width: 880px) {
    .top-banner {
        padding-bottom: 70px;
    }

    .top-banner__title {
        max-width: 400px;
    }

    .banner-title {
        font-size: 45px;
        line-height: 55px!Important;
    }

    .top-banner__text {
        margin-bottom: 72px;
        max-width: 300px;
    }
}

@media (max-width: 794px) {
    .top-banner {
        padding-bottom: 60px;
    }

    .banner-title {
        font-size: 40px;
        line-height: 50px!Important;
    }

    .top-banner__text {
        margin-bottom: 50px;
        line-height: 32px;
    }
}

@media (max-width: 700px) {
    .top-banner__text {
        font-size: 21px;
        line-height: 28px;
        margin-bottom: 42px;
    }
    
    .top-banner__button {
        max-width: 320px;
        font-size: 17px;
        padding: 16px 0px 16px 0px;
    }
    .top-banner__catalog-info {
        max-width: 320px;
        }
    
        .top-banner__button-icon {
            height: 22px;
            margin-left: 12px;
        }
    }

@media (max-width: 600px) {
    .top-banner__item:not(:last-child) {
        margin-bottom: 5px;
    }

    .top-banner__text {
        font-size: 21px;
        line-height: 26px;
        margin-bottom: 40px;
        max-width: 300px;
    }

    .top-banner__title {
        max-width: 300px;
    }

    .banner-title {
        font-size: 33px;
        line-height: 43px!Important;
    }
    .top-banner__button {
        padding: 14px 0px 13px 0px;
    }
}

@media (max-width: 560px) {
    .top-banner {
        padding-bottom: 50px;
    }
}

@media (max-width: 500px) {
    .top-banner {
        padding-bottom: 40px;
    }

    .top-banner__left {
        padding: 26px 13px 23px 13px;
    }
    .top-banner__left > *:not(.button) {
        padding: 0px 10px;
    }
    .banner-title {
        font-size: 28px;
        line-height: 39px!Important;
    }
    .top-banner__catalog-info {
        font-size: 10px;
    }
    .top-banner__button {
        font-size: 16px;
        padding: 13px 0px 12px 0px;
    }

    .top-banner__text {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 35px;
    }
    
    .top-banner__list {
        margin-bottom: 30px;
    }
}

@media (max-width: 490px) {
    .top-banner__button {
        width: 100%;
    }
}

@media (max-width: 425px) {
    .top-banner__left {
        padding: 30px 10px 20px 10px;
    }

    .top-banner__item {
        font-size: 14px;
        line-height: 20px;
    }

    .top-banner__text {
        margin-bottom: 30px;
    }

    .top-banner__button-icon {
        height: 20px;
        margin-left: 8px;
    }
}

/* 2 БЛОК */
.cottage-complexes {
    padding-bottom: 101px;
}

.cottage-complexes__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cottage-complexes__title {
    margin-bottom: 50px;
}

.cottage-complexes__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.cottage-complexes__card {
    flex: 1 1 calc(50% - 20px);
    max-width: 760px;
    max-height: 780px;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    overflow: hidden;
}

.cottage-complexes__card-img-wrap {
    position: relative;
    max-height: 600px;
    height: 100%;
}

.cottage-complexes__card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 760 / 600;
}

.img-pre-title {
    position: absolute;
    top: 40px;
    left: 40px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.75);
}

.cottage-complexes__card-description {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px 40px 35px;
}

.cottage-complexes__card-texts {
    margin-top: 10px;
}

.cottage-complexes__card-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.05em;
    margin-bottom: 10px;
}

.cottage-complexes__card-text {
    color: #646666;
}

@media (max-width: 1400px) {
    .cottage-complexes__title {
        margin-bottom: 40px;
    }

    .cottage-complexes__card-text>br {
        display: none;
    }

    .cottage-complexes__card-title {
        font-size: 33px;
        line-height: 39px;
    }

    .cottage-complexes__card-texts {
        max-width: 360px;
    }
}

@media (max-width: 1300px) {
    .cottage-complexes__title {
        margin-bottom: 35px;
    }

    .cottage-complexes__card-title {
        font-size: 31px;
        line-height: 37px;
    }
}

@media (max-width: 1260px) {
    .cottage-complexes {
        padding-bottom: 91px;
    }
}

@media (max-width: 1230px) {
    .cottage-complexes__card-title {
        font-size: 31px;
        line-height: 37px;
    }
}

@media (max-width: 1170px) {
    .cottage-complexes__title {
        margin-bottom: 33px;
    }

    .img-pre-title {
        left: 19px;
        top: 19px;
    }

    .cottage-complexes__card-description {
        padding: 28px 25px 40px 19px;
    }

    .cottage-complexes__card-title {
        font-size: 29px;
        line-height: 35px;
    }
}

@media (max-width: 1070px) {
    .cottage-complexes {
        padding-bottom: 81px;
    }
}

@media (max-width: 1045px) {
    .cottage-complexes__card-description {
        padding: 24px 19px 36px 19px;
    }

    .cottage-complexes__card-title {
        font-size: 29px;
        line-height: 35px;
    }

    .cottage-complexes__card-texts {
        max-width: 320px;
    }
}

@media (max-width: 991px) {
    .cottage-complexes__title {
        margin-bottom: 30px;
    }

    .img-pre-title {
        font-size: 15px;
    }

    .cottage-complexes__card-title {
        font-size: 27px;
        line-height: 33px;
    }

    .cottage-complexes__card-texts {
        max-width: 300px;
    }
}

@media (max-width: 880px) {
    .cottage-complexes {
        padding-bottom: 71px;
    }
}

@media (max-width: 847px) {
    .cottage-complexes__card-title {
        font-size: 27px;
        line-height: 33px;
    }

    .cottage-complexes__card-texts {
        max-width: 270px;
    }
}

@media (max-width: 794px) {
    .cottage-complexes {
        padding-bottom: 61px;
    }

    .cottage-complexes__title {
        margin-bottom: 27px;
    }

    .img-pre-title {
        top: 30px;
        left: 20px;
    }

    .cottage-complexes__card-description {
        padding: 28px 20px 30px 20px;
    }

    .cottage-complexes__card-title {
        font-size: 31px;
        line-height: 37px;
    }

    .cottage-complexes__cards {
        flex-wrap: wrap;
        row-gap: 10px;
    }

    .cottage-complexes__card {
        flex: 1 1 100%;
    }

    .cottage-complexes__card:not(:last-child) {
        margin-right: 0;
    }

    .cottage-complexes__card-texts {
        max-width: 470px;
    }

    .cottage-complexes__card-text {
        font-size: 19px;
        line-height: 24px;
    }
}

@media (max-width: 700px) {
    .cottage-complexes__card-title {
        font-size: 26px;
        line-height: 32px;
    }
}

@media (max-width: 600px) {
    .cottage-complexes__title {
        margin-bottom: 23px;
        max-width: 480px;
    }

    .img-pre-title {
        left: 15px;
        top: 15px;
    }

    .cottage-complexes__card-description {
        padding: 16px 15px 26px 15px;
    }

    .cottage-complexes__card-text {
        font-size: 18px;
        line-height: 24px;
    }
}

@media (max-width: 560px) {
    .cottage-complexes {
        padding-bottom: 51px;
    }
}

@media (max-width: 544px) {
    .cottage-complexes__title {
        max-width: 450px;
    }
}

@media (max-width: 516px) {
    .cottage-complexes__title {
        margin-bottom: 20px;
    }

    .cottage-complexes__card-texts {
        margin-top: 5px;
        max-width: 320px;
    }
}

@media (max-width: 500px) {
    .cottage-complexes {
        padding-bottom: 41px;
    }

    .cottage-complexes__title {
        max-width: 390px;
    }

    .cottage-complexes__card-title {
        margin-bottom: 5px;
    }

    .img-pre-title {
        left: 12px;
        top: 12px;
        font-style: 12px;
    }

    .cottage-complexes__card-description {
        padding: 12px 12px 22px 12px;
    }

    .cottage-complexes__card-text {
        font-size: 16px;
        line-height: 22px;
    }

    .cottage-complexes__card-title {
        font-size: 25px;
        line-height: 31px;
    }
}

@media (max-width: 425px) {
    .cottage-complexes__title {
        max-width: 350px;
    }

    .cottage-complexes__card-texts {
        max-width: 250px;
    }

    .cottage-complexes__card-title {
        font-size: 24px;
        line-height: 30px;
    }

    .cottage-complexes__card-text {
        font-size: 15px;
        line-height: 21px;
    }
}

@media (max-width: 390px) {
    .cottage-complexes__link {
        max-width: 100%;
    }
}

@media (max-width: 375px) {
    .img-pre-title {
        left: 10px;
        top: 10px;
    }

    .cottage-complexes__card-description {
        padding: 10px 10px 20px 10px;
    }

    .cottage-complexes__card-text {
        font-size: 14px;
        line-height: 20px;
    }
}


/* 3 БЛОК */
.finishing-options {
    padding-bottom: 100px;
}

.finishing-options__container {}

.finishing-options__title {
    margin-bottom: 50px;
}

.finishing-options__variants {
    display: flex;
    gap: 20px;
}

.finishing-options__item {
    flex: 1 1 33.333%;
    padding: 40px 60px 40px 36px;
}

.finishing-options__item-title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}

.finishing-options__list {
    position: relative;
    list-style: none;
}

.finishing-options__list-item {
    max-width: 384px;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.05em;
    position: relative;
    left: 23px;
}

.finishing-options__list-item::before {
    content: '•';
    font-size: 19px;
    left: -23px;
    position: absolute;
}

.finishing-options__list-item:not(:last-child) {
    margin-bottom: 15px;
}

.finishing-options__list-item>span {
    font-weight: 700;
    color: #83B32B;
}
@media (max-width: 1400px) {
    .finishing-options__item {
        padding: 35px 55px 35px 30px;
    }
    .finishing-options__title {
        margin-bottom: 40px;
    }
    .finishing-options__list-item {
        font-size: 18px;
        line-height: 23px;
    }
    .finishing-options__item-title {
        font-size: 30px;
    }
}

@media (max-width: 1329px) {
    .finishing-options__list-item:not(:last-child) {
        margin-bottom: 13px;
    }
}

@media (max-width: 1300px) {
    .finishing-options__title {
        margin-bottom: 35px;
    }
    .finishing-options__item {
        padding: 30px 50px 30px 25px;
    }
}
@media (max-width: 1298px) {
    .finishing-options__item-title {
        font-size: 27px;
    }
    .finishing-options__list-item {
        font-size: 17px;
        line-height: 22px;
    }
}

@media (max-width: 1260px) {
    .finishing-options {
        padding-bottom: 90px;
    }
    .finishing-options__list-item {
        left: 20px;
    }
    .finishing-options__list-item::before {
        left: -20px;
    }
    .finishing-options__list-item:not(:last-child) {
        margin-bottom: 11px;
    }
}

@media (max-width: 1170px) {
    .finishing-options__item {
        padding: 25px 45px 25px 22px;
    }
    .finishing-options__title {
        margin-bottom: 33px;
    }
    .finishing-options__list-item {
        max-width: 258px;
        font-size: 15px;
        line-height: 20px;
    }
}
@media (max-width: 1096px) {
    .finishing-options__item-title {
        font-size: 24px;
    }
}

@media (max-width: 1070px) {
    .finishing-options {
        padding-bottom: 80px;
    }
    .finishing-options__list-item {
        max-width: 235px;
    }
}

@media (max-width: 991px) {
    .finishing-options__title {
        margin-bottom: 30px;
    }
    .finishing-options__variants {
        flex-wrap: wrap;
    }
    .finishing-options__item-title {
        font-size: 21px;
    }
    .finishing-options__item {
        padding: 35px 55px 35px 30px;
    }
    .finishing-options__list-item {
        font-size: 18px;
        line-height: 23px;
        max-width: 351px;
        left: 23px;
    }
    .finishing-options__list-item::before {
        left: -23px;
    }
    .finishing-options__item-title {
        font-size: 30px;
    }
    .finishing-options__list-item:not(:last-child) {
        margin-bottom: 12px;
    }
}

@media (max-width: 880px) {
    .finishing-options {
        padding-bottom: 70px;
    }
    .finishing-options__list-item:not(:last-child) {
        margin-bottom: 11px;
    }
}

@media (max-width: 850px) {
    .finishing-options__item {
        padding: 30px 50px 30px 25px;
    }
    .finishing-options__item-title {
        font-size: 27px;
        left: 20px;
    }
    .finishing-options__list-item::before {
        left: -20px;
    }
    .finishing-options__list-item {
        font-size: 17px;
        line-height: 22px;
        max-width: 317px;
    }
}

@media (max-width: 794px) {
    .finishing-options__title {
        margin-bottom: 27px;
    }

    .finishing-options {
        padding-bottom: 60px;
    }

    .finishing-options__item {
        padding: 25px 45px 25px 22px;
    }
    .finishing-options__list-item {
        font-size: 15px;
        max-width: 271px;
    }
    .finishing-options__item-title {
        font-size: 24px;
    }
}

@media (max-width: 670px) {
    .finishing-options__item {
        padding: 20px;
    }

    .finishing-options__list-item {
        font-size: 14px;
        max-width: 237px;
        line-height: 18px;
    }

    .finishing-options__list-item:not(:last-child) {
        margin-bottom: 10px;
    }
}
@media (max-width: 650px) {
    .finishing-options__list-item {
        max-width: 223px;
    }
}

@media (max-width: 600px) {
    .finishing-options__title {
        margin-bottom: 23px;
    }
    .finishing-options__item {
        flex: 1 1 100%;
        padding: 30px 50px 30px 25px;
    }
    .finishing-options__list-item {
        font-size: 17px;
        line-height: 22px;
        max-width: 335px;
        left: 22px;
    }
    .finishing-options__list-item::before {
        left: -22px;
    }
    .finishing-options__item-title {
        font-size: 26px;
    }
    .finishing-options__list-item:not(:last-child) {
        margin-bottom: 11px;
    }
    .finishing-options__list-item::before {
        top: 50%;
        transform: translateY(-50%);
    }
}

@media (max-width: 516px) {
    .finishing-options {
        padding-bottom: 50px;
    }
}

@media (max-width: 516px) {
    .finishing-options__title {
        margin-bottom: 20px;
    }
    
    .finishing-options__list-item {
        line-height: 22px;
    }
    .finishing-options__item-title {
        font-size: 23px;
    }
    .finishing-options__item {
        padding: 25px 45px 25px 22px;
    }
    .finishing-options__list-item {
        left: 20px;
    }
    .finishing-options__list-item::before {
        left: -20px;
    }
}

@media (max-width: 500px) {
    .finishing-options {
        padding-bottom: 40px;
    }
    .finishing-options__list-item {
        font-size: 16px;
        max-width: 352px;
        line-height: 20px;
    }
    .finishing-options__list-item:not(:last-child) {
        margin-bottom: 11px;
    }
    .finishing-options__item-title {
        font-size: 21px;
    }

}
@media (max-width: 425px) {
    .finishing-options__item {
        padding: 20px 40px 20px 20px;
    }
    .finishing-options__list-item::before {
        left: -18px;
    }
    .finishing-options__list-item:not(:last-child) {
        margin-bottom: 10px;
    }
}

@media (max-width: 375px) {
    .finishing-options__item-title {
        font-size: 20px;
    }
    .finishing-options__list-item {
        font-size: 14px;
        line-height: 18px;
    }
}
@media (max-width: 320px) {
    .finishing-options__item {
        padding: 20px 30px 20px 20px;
    }
}


/* 4 БЛОК */
.complexes-advantages {
    padding-bottom: 100px;
}

.complexes-advantages__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.complexes-advantages__title {
    align-self: flex-start;
    margin-bottom: 50px;
}

.complexes-advantages__items {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 60px;
    justify-content: space-between;
}

.complexes-advantages__item {
    display: flex;
    flex: 1 1 calc(33% - 20px);
}

@media (min-width: 911px) {
    .complexes-advantages__item:nth-child(3),
    .complexes-advantages__item:nth-child(6) {
        display: flex;
    }
    
    .complexes-advantages__item:nth-child(3) > .complexes-advantages__item-body,
    .complexes-advantages__item:nth-child(6) > .complexes-advantages__item-body {
        width: 280px;
    }
    .complexes-advantages__item:nth-child(1) > .complexes-advantages__item-body {
        width: 230px;
    }
}

.complexes-advantages__item-img-wrap {
    border-radius: 8px;
    margin-right: 20px;
    overflow: hidden;
}

.complexes-advantages__img {
    width: 100%;
    object-fit: cover;
}

.complexes-advantages__item-body {}

.complexes-advantages__item-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    color: #83B32B;
    margin-bottom: 10px;
}

.complexes-advantages__item-desc {
    max-width: 297px;
}

.complexes-advantages__buttons {
    display: flex;
    gap: 15px;
}
.complexes-advantages__link {
    max-width: 295px;
}
.complexes-advantages__button {
    max-width: 328px;
}

@media (max-width: 1500px) {
    .complexes-advantages__item-desc {
        font-size: 16px;
    }
}

@media (max-width: 1400px) {
    .complexes-advantages__title {
        margin-bottom: 40px;
    }
    .complexes-advantages__img {
        width: 100px;
        height: 100%;
    }
    .complexes-advantages__item-title {
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 7px;
    }
    .complexes-advantages__item-desc {
        font-size: 15px;
    }
}

@media (max-width: 1300px) {
    .complexes-advantages__title {
        margin-bottom: 35px;
    }
    .complexes-advantages__img {
        width: 140px;
        height: 100%;
    }

    .complexes-advantages__item-title {
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 10px;
    }
    
    .complexes-advantages__item-desc {
        font-size: 18px;
    }
}

@media (max-width: 1260px) {
    .complexes-advantages {
        padding-bottom: 90px;
    }
}

@media (max-width: 1170px) {
    .complexes-advantages__title {
        margin-bottom: 33px;
    }

    .complexes-advantages__img {
        width: 120px;
        height: 100%;
    }

    .complexes-advantages__item-title {
        font-size: 21px;
        line-height: 22px;
    }
    
    .complexes-advantages__item-desc {
        font-size: 17px;
    }
}

@media (max-width: 1070px) {
    .complexes-advantages {
        padding-bottom: 80px;
    }

    .complexes-advantages__img {
        width: 120px;
        height: 100%;
    }

    .complexes-advantages__item-title {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 7px;
    }
    
    .complexes-advantages__item-desc {
        font-size: 15px;
    }
}

@media (max-width: 991px) {
    .complexes-advantages__title {
        margin-bottom: 30px;
    }
}

@media (max-width: 910px) {
    .complexes-advantages__item-img-wrap {
        margin-right: 20px;
        overflow: visible;
    }
    
    .complexes-advantages__img {
        border-radius: 8px;
    }
    .complexes-advantages__item {
        flex: 1 1 100%;
    }
    .complexes-advantages__item-title {
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 10px;
    }
    
    .complexes-advantages__item-desc {
        font-size: 18px;
        max-width: 397px;
    }

    .complexes-advantages__img {
        width: 140px;
        height: 100%;
    }
    
    .complexes-advantages__item-desc > br {
        display: none;
    }
}

@media (max-width: 880px) {
    .complexes-advantages {
        padding-bottom: 70px;
    }

    .complexes-advantages__items {
        display: flex;
        flex-wrap: wrap;
        column-gap: 0px;
    }

    .complexes-advantages__items {
        row-gap: 49px;
    }
}

@media (max-width: 794px) {
    .complexes-advantages {
        padding-bottom: 60px;
    }

    .complexes-advantages__title {
        margin-bottom: 27px;
    }

    .complexes-advantages__item-title {
        font-size: 22px;
        line-height: 21px;
    }
    
    .complexes-advantages__item-desc {
        font-size: 16px;
    }

    .complexes-advantages__img {
        width: 120px;
    }

    .complexes-advantages__items {
        row-gap: 30px;
    }
}

@media (max-width: 650px) {
    .complexes-advantages__item-body {
        padding-right: 30px;
    }

}

@media (max-width: 600px) {
    .complexes-advantages__title {
        margin-bottom: 23px;
    }

    .complexes-advantages__img {
        width: 110px;
        height: 98px;
    }
}

@media (max-width: 560px) {
    .complexes-advantages {
        padding-bottom: 50px;
    }
    .complexes-advantages__items {
        row-gap: 15px;
    }
    .complexes-advantages__item-title {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 7px;
    }
    
    .complexes-advantages__item-desc {
        font-size: 14px;
    }
}

@media (max-width: 516px) {
    .complexes-advantages__title {
        margin-bottom: 20px;
    }
}

@media (max-width: 500px) {
    .complexes-advantages {
        padding-bottom: 40px;
    }

    .complexes-advantages__item-title {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .complexes-advantages__img {
        width: 105px;
        height: 94px;
    }
    
    .complexes-advantages__item-desc {
        font-size: 12px;
    }
}

@media (max-width: 425px) {
    .complexes-advantages__items {
        row-gap: 10px;
    }
    .complexes-advantages__item-body {
        padding-right: 5px;
    }
}


/* 5 БЛОК */
.how-buy {
    padding-bottom: 100px;
}

.how-buy__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.how-buy__title {
    margin-bottom: 50px;
}

.how-buy__payment-types {
    display: flex;
    gap: 15px;
    margin-bottom: 48px;
}

.how-buy__button {
    width: 230px;
    border-radius: 8px;
    background: transparent;
    border: 1px solid #D9D9D9;
    padding: 16.5px 0px;
}

.how-buy__button_active {
    border-color: #83B32B;
    background: #83B32B;
    color: #F4F4F4;
}

.how-buy__button:hover {
    border-color: #83B32B;
    background: #83B32B;
    color: #F4F4F4;
}

.how-buy__body {
    display: flex;
    width: 100%;
}

.how-buy__payment-type-descriprion {
    width: 535px;
    border-right: 1px solid #D9D9D9;
    padding: 40px 40px 30px 40px;
}

.how-buy__payment-type-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -0.04em;
    margin-bottom: 10px;
}

.how-buy__payment-type-text {
    max-width: 424px;
    color: #646666;
    margin-bottom: 0px;
}

.how-buy__payment-type-text:not(:last-child) {
    margin-bottom: 8px;
}

.how-buy__feedback {
    padding: 36px 40px 60px 40px;
    max-width: 1005px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.how-buy__feedback-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -0.04em;
    margin-bottom: 10px;
}

.how-buy__feedback-text {
    line-height: 25px;
    color: #646666;
    margin-bottom: 39px;
}

.how-buy__feedback-form {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    max-width: 865px;
}

.how-buy__response {
    margin-bottom: 0!Important;
    width: 100%;
}

.how-buy__input {
    margin-bottom: 0 !Important;
    max-width: 290px;
}

.how-buy__agree-check {
    margin-bottom: 0px!Important;
}

.how-buy__response {
    text-align: start;
}

.how-buy__input:nth-of-type(2) {
    max-width: 255px;
}

.how-buy__form-button {
    font-size: 18px;
    width: 290px;
}

@media (min-width: 1501px) {
    .how-buy__agree-check {
        order: 4;
    }
    
    .how-buy__response {
        order: 5;
    }
    
    .how-buy__form-button {
        order: 3;
    }
}

@media (max-width: 1500px) {
    .how-buy__payment-type-descriprion {
        padding: 31px 40px 60px 40px;
    }

    .how-buy__feedback-form {
        flex-wrap: wrap;
        justify-content: center;
        max-width: 560px;
    }

    .how-buy__feedback {
        padding: 31px 40px 30px 40px;
        max-width: 900px;
    }
}

@media (max-width: 1400px) {
    .how-buy__title {
        margin-bottom: 40px;
    }

    .how-buy__feedback {
        max-width: 850px;
    }
}

@media (max-width: 1329px) {
    .how-buy__payment-type-text {
        font-size: 17px;
    }

    .how-buy__feedback-text {
        font-size: 17px;
        line-height: 23px;
        margin-bottom: 31px;
    }

    .how-buy__feedback-title,
    .how-buy__payment-type-title {
        font-size: 30px;
        line-height: 36px;
    }

    .how-buy__form-button {
        font-size: 17px;
        padding: 16px 0px 16px 0px;
    }

    .how-buy__payment-types {
        margin-bottom: 41px;
    }

    .how-buy__button {
        width: 230px;
        font-size: 17px;
        padding: 16px 0px;
    }
}

@media (max-width: 1300px) {
    .how-buy__title {
        margin-bottom: 35px;
    }

    .how-buy__payment-type-descriprion {
        padding: 27px 30px 50px 30px;
    }

    .how-buy__feedback {
        padding: 27px 30px 30px 30px;
    }
}

@media (max-width: 1298px) {
    .how-buy__feedback-form {
        max-width: 536px;
    }
}

@media (max-width: 1260px) {
    .how-buy {
        padding-bottom: 90px;
    }

    .how-buy__feedback-title,
    .how-buy__payment-type-title {
        font-size: 27px;
        line-height: 32px;
    }

    .how-buy__form-button {
        padding: 15px 0px 15px 0px;
    }

    .how-buy__payment-types {
        margin-bottom: 37px;
        gap: 13px;
    }

    .how-buy__button {
        width: 210px;
        padding: 15.5px 0px;
    }
}

@media (max-width: 1170px) {
    .how-buy__title {
        margin-bottom: 33px;
    }

    .how-buy__payment-type-text {
        font-size: 16px;
    }

    .how-buy__feedback-text {
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 27px;
    }

    .how-buy__payment-type-text:not(:last-child) {
        margin-bottom: 10px;
    }

    .how-buy__payment-types {
        margin-bottom: 34px;
    }

    .how-buy__button {
        font-size: 16px;
        padding: 15px 0px;
    }
}

@media (max-width: 1096px) {
    .how-buy__feedback-form {
        max-width: 511px;
    }
}

@media (max-width: 1070px) {
    .how-buy {
        padding-bottom: 80px;
    }

    .how-buy__payment-type-descriprion {
        padding: 25px 28px 40px 28px;
    }

    .how-buy__feedback {
        padding: 25px 28px 30px 28px;
    }

    .how-buy__button {
        width: 180px;
        padding: 14.5px 0px;
    }
}

@media (max-width: 991px) {
    .how-buy__title {
        margin-bottom: 30px;
    }

    .how-buy__feedback {
        text-align: center;
    }

    .how-buy__feedback-text {
        max-width: 310px;
    }

    .how-buy__form-button {
        font-size: 16px;
        padding: 14px 0px 14px 0px;
    }
}

@media (max-width: 948px) {
    .how-buy__input {
        margin-bottom: 0 !Important;
        max-width: none;
        width: 100%;
    }

    .how-buy__input:nth-of-type(2) {
        max-width: none;
    }
    
    .feedback-form__agree-text {
        max-width: 300px;
    }
}

@media (max-width: 880px) {
    .how-buy {
        padding-bottom: 70px;
    }

    .how-buy__payment-type-descriprion {
        padding: 20px 25px 30px 25px;
    }

    .how-buy__feedback {
        padding: 20px 25px 30px 25px;
    }

    .how-buy__payment-type-text:not(:last-child) {
        margin-bottom: 12px;
    }

    .how-buy__payment-types {
        margin-bottom: 28px;
        gap: 10px;
    }

    .how-buy__button {
        width: 150px;
        font-size: 16px;
        padding: 15px 0px;
    }
}

@media (max-width: 850px) {
    .how-buy__payment-type-text {
        font-size: 15px;
    }

    .how-buy__feedback-text {
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 24px;
    }

    .how-buy__button {
        font-size: 15px;
        padding: 14.5px 0px;
    }

    .how-buy__feedback {
        text-align: center;
    }

    .how-buy__feedback-title,
    .how-buy__payment-type-title {
        font-size: 24px;
        line-height: 28px;
    }

    .feedback-form__agree-text {
        max-width: 250px;
    }
}

@media (max-width: 794px) {
    .how-buy {
        padding-bottom: 60px;
    }

    .how-buy__title {
        margin-bottom: 27px;
    }

    .how-buy__payment-types {
        margin-bottom: 25px;
    }

    .how-buy__button {
        width: 145px;
        font-size: 14px;
        padding: 14px 0px;
    }

    .feedback-form__agree-text {
        max-width: none;
    }
}

@media (max-width: 650px) {
    .how-buy__payment-types {
        margin-bottom: 32px;
        flex-wrap: wrap;
        gap: 15px;
    }

    .how-buy__button {
        flex: 1 1 calc(50% - 15px);
        font-size: 16px;
        padding: 15px 0px;
    }
}

@media (max-width: 600px) {
    .how-buy__title {
        margin-bottom: 23px;
    }

    .how-buy__body.bordered-block {
        border-radius: 0px;
        border: none;
    }

    .how-buy__payment-types {
        margin-bottom: 29px;
    }

    .how-buy__payment-type-descriprion {
        border: none;
    }

    .how-buy__feedback {
        border: 1px solid #D9D9D9;
        border-radius: 8px;
        overflow: hidden;
    }

    .how-buy__body {
        flex-direction: column;
    }

    .how-buy__feedback {
        padding: 25px 28px 30px 28px;
    }

    .how-buy__payment-type-descriprion {
        padding: 0px;
        margin-bottom: 20px;
    }

    .how-buy__payment-type-descriprion {
        width: 100%;
    }

    .how-buy__payment-type-text:not(:last-child) {
        margin-bottom: 10px;
    }

    .how-buy__feedback-title,
    .how-buy__payment-type-title {
        font-size: 27px;
        line-height: 32px;
    }

    .how-buy__payment-type-text {
        font-size: 16px;
        max-width: 600px;
    }

    .how-buy__feedback-text {
        max-width: none;
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 27px;
    }

    .how-buy__input {
        max-width: none;
        width: 100%;
    }

    .how-buy__input:nth-of-type(2) {
        max-width: none;
        width: 100%;
    }

    .how-buy__form-button {
        max-width: none;
        width: 100%;
    }

    .how-buy__payment-types {
        margin-bottom: 27px;
    }
}

@media (max-width: 560px) {
    .how-buy {
        padding-bottom: 50px;
    }
}

@media (max-width: 516px) {
    .how-buy__title {
        margin-bottom: 20px;
    }

    .how-buy__feedback-title,
    .how-buy__payment-type-title {
        font-size: 24px;
        line-height: 27px;
    }

    .how-buy__feedback {
        padding: 20px 25px 26px 25px;
    }

    .how-buy__payment-types {
        margin-bottom: 24px;
        gap: 12px;
    }

    .how-buy__button {
        font-size: 15px;
        padding: 14.5px 0px;
    }
}

@media (max-width: 500px) {
    .how-buy {
        padding-bottom: 40px;
    }

    .how-buy__feedback-title,
    .how-buy__payment-type-title {
        font-size: 22px;
        line-height: 25px;
    }

    .how-buy__payment-type-text {
        font-size: 15px;
    }

    .how-buy__feedback-text {
        font-size: 15px;
        margin-bottom: 22px;
    }

    .how-buy__payment-type-text:not(:last-child) {
        margin-bottom: 12px;
    }

    .how-buy__payment-types {
        margin-bottom: 21px;
    }

    .feedback-form__agree-text {
        max-width: 300px;
    }
}

@media (max-width: 425px) {
    .how-buy__feedback {
        padding: 20px 22px 23px 22px;
    }

    .how-buy__feedback-text {
        margin-bottom: 14px;
        line-height: 20px;
    }

    .how-buy__payment-types {
        margin-bottom: 20px;
        gap: 10px;
    }

    .how-buy__button {
        font-size: 14px;
        padding: 14px 0px;
    }
}

@media (max-width: 400px) {
    .feedback-form__agree-text {
        max-width: 250px;
    }
}

@media (max-width: 375px) {
    .how-buy__feedback {
        padding: 20px;
    }

    .how-buy__feedback-title,
    .how-buy__payment-type-title {
        font-size: 20px;
        line-height: 22px;
    }

    .how-buy__payment-type-text {
        font-size: 14px;
    }

    .how-buy__feedback-text {
        font-size: 14px;
        margin-bottom: 10px;
    }
}

@media (max-width: 340px) {
    .feedback-form__agree-text {
        max-width: 200px;
    }
}


.feedback__text {
    font-size: 18px;
}

@media (max-width: 1298px) {
    .feedback__text {
        font-size: 17px;
        line-height: 22px;
    }
}

@media (max-width: 1096px) {
    .feedback__text {
        font-size: 16px;
        margin-bottom: 25px;
    }
}

@media (max-width: 991px) {
    .feedback__text {
        font-size: 14px;
        line-height: 20px;
    }
}

@media (max-width: 794px) {
    .feedback__text {
        font-size: 17px;
        line-height: 22px;
    }
}

@media (max-width: 500px) {
    .feedback__text {
        font-size: 14px;
        line-height: 20px;
    }
}
