.top-banner__title {
    max-width: 420px;
}

.top-banner__text {
    max-width: 340px;
    margin-bottom: 60px;
}


/* 3 БЛОК */
.about-complex {
    padding-bottom: 100px;
}

.about-complex__wrapper {
    display: flex;
}

.about-complex__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 0px 107px 40px;
    max-width: 662px;
    margin-right: 118px;
}

.about-complex__title {
    padding-bottom: 10px;
}

.about-complex__text {
    max-width: 563px;
    color: #646666;
    margin-bottom: 50px;
}

.about-complex__button {
    font-size: 18px;
    max-width: 330px;
}

.about-complex__video {
    max-width: 760px;
    position: relative;
    cursor: pointer;
    margin-left: auto;
}

.about-complex__video-poster {
    height: 100%;
    aspect-ratio: 760 / 480;
}

@media (max-width: 1600px) {
    .about-complex__body {
        flex: 1 1 44%;
    }

    .about-complex__video-poster {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

@media (max-width: 1453px) {
    .about-complex__body {
        margin-right: 110px;
    }
}

@media (max-width: 1400px) {
    .about-complex__body {
        padding: 0px 0px 0px 38px;
    }

    .about-complex__text {
        font-size: 18px;
        line-height: 23px;
    }
}

@media (max-width: 1329px) {
    .about-complex__body {
        margin-right: 80px;
    }
}

@media (max-width: 1298px) {
    .about-complex__video {
        flex: 1 1 56%;
    }

    .about-complex__text {
        font-size: 17px;
        line-height: 22px;
    }

    .about-complex__body {
        padding: 0px 0px 0px 35px;
    }
}

@media (max-width: 1260px) {
    .about-complex {
        padding-bottom: 116px;
    }
}

@media (max-width: 1096px) {
    .about-complex__body {
        padding: 0px 0px 0px 30px;
    }

    .about-complex__text {
        font-size: 16px;
    }
}

@media (max-width: 1070px) {
    .about-complex {
        padding-bottom: 102px;
    }
}

@media (max-width: 991px) {
    .about-complex__text {
        font-size: 14px;
    }

    .about-complex__video {
        flex: 1 1 45%;
    }

    .about-complex__body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 70px 0px 70px 40px;
        max-width: 100%;
        margin-right: 35px;
    }

    .about-complex__video {
        max-width: 100%;
    }
}

@media (max-width: 880px) {
    .about-complex {
        padding-bottom: 86px;
    }
}

@media (max-width: 794px) {
    .about-complex {
        padding-bottom: 67px;
    }

    .about-complex__wrapper {
        flex-direction: column;
    }

    .about-complex__body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 29px 20px 29px 29px;
        max-width: 100%;
        margin-right: 0px;
    }

    .about-complex__text {
        font-size: 16px;
        max-width: 700px;
    }
}

@media (max-width: 650px) {
    .about-complex__body {
        padding: 26px 20px 26px 26px;
    }
}

@media (max-width: 560px) {
    .about-complex {
        padding-bottom: 50px;
    }
}

@media (max-width: 500px) {
    .about-complex {
        padding-bottom: 40px;
    }

    .about-complex__body {
        padding: 20px 10px 20px 20px;
    }

    .about-complex__text {
        font-size: 14px;
    }
}


/* 4 БЛОК */
.complexes-advantages {
    padding-bottom: 177px;
}
.complexes-advantages__container {
}
.complexes-advantages__title {
    margin-bottom: 50px;
}
.complexes-advantages__items {
    display: flex;
    flex-wrap: wrap;
    row-gap: 60px;
}
.complexes-advantages__item {
    display: flex;
    flex: 1 1 33.333%;
}
.complexes-advantages__item-img-wrap {
    border-radius: 8px;
    margin-right: 20px;
    overflow: hidden;
}
.complexes-advantages__img {
    object-fit: cover;
}
.complexes-advantages__item-body {
}
.complexes-advantages__item-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    color: #83B32B;
    margin-bottom: 10px;
}
.complexes-advantages__item-desc {
    max-width: 297px;
}


/* 5 БЛОК */
.gallery {
    padding-bottom: 100px;
}
.gallery__container {
}
.gallery__images {
    display: flex;
    gap: 20px;
}
.gallery__wrap-img {
    flex: 1 1 calc(33.333% - 20px);
    border-radius: 8px;
    overflow: hidden;
    max-height: 384px;
}
.gallery__img {
    width: 100%;
    aspect-ratio: 500 / 384;
}


/* 6 БЛОК */
.complex-map {
    padding-bottom: 100px;
}
.complex-map__containet {
}
.complex-map__title {
    margin-bottom: 50px;
}
.complex-map__map-block {
    border-radius: 8px;
}

@media (min-width: 1441px) {
    .complex-map__map-block {
        height: 481px;
    }
}


/* 7 БЛОК */
.cottage-types {
    padding-bottom: 100px;
}
.cottage-types__container {
}
.cottage-types__title {
    margin-bottom: 50px;
}
.cottage-types__cottages {
}
.cottage-types__cottage {
    display: flex;
}
.cottage-types__cottage:not(:last-child) {
    margin-bottom: 50px;
}
.cottage-types__cottage:not(:last-child) {
    margin-bottom: 50px;
}
.cottage-types__cottage-wrap-img {
    position: relative;
}
.cottage-types__cottage-img {
    height: 100%;
    max-width: 760px;
    object-fit: cover;
    aspect-ratio: 760 / 497;
}

.cottage-types__img-cottage-options {
    position: absolute;
    bottom: 16px;
    left: 15px;
    display: flex;
    gap: 5px;
}

.cottage-types__img-cottage-option {
    padding: 7.5px 15px;
    font-size: 16px;
    border-radius: 20px;
    color: #FFF;
    background: rgba(41, 41, 41, 0.6);
}

.cottage-types__body {
    display: flex;
    flex-direction: column;
    padding: 30px 0px 31px 40px;
}
.cottage-types__cottage-title {
    font-size: 36px;
    font-weight: 700;
    color: #000;
    margin-bottom: 15px;
}
.cottage-types__body-wrapper {
display: flex;
gap: 37px;
}
.cottage-types__desc {
    max-width: 332px;
}
.cottage-types__text {
}
.cottage-types__text:not(:last-child) {
    margin-bottom: 10px;
}
.cottage-types__cottage-components {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.cottage-types__cottage-component-items {
    margin-bottom: 32px;
}
.cottage-types__cottage-component-item {
    display: flex;
    max-width: 245px;
}
.cottage-types__cottage-component-item:not(:last-child) {
    margin-bottom: 20px;
}
.cottage-types__cottage-component-icon {
    margin-right: 12px;
}
.cottage-types__cottage-component-text {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}
.cottage-types__cottage-component-text > span {
    font-weight: 700;
    color: #83B32B;
    white-space: nowrap;
}
.cottage-types__button {
    padding: 14px 0px;
    font-size: 18px;
    max-width: 301px;
    margin-bottom: 18px;
}
.cottage-types__link {
    padding: 14px 0px;
    font-size: 18px;
    max-width: 301px;
}


/* 8 БЛОК */
.finishing-options {
    padding-bottom: 100px;
}
.finishing-options__container {
}
.finishing-options__title {
    margin-bottom: 50px;
}
.finishing-options__variants {
    display: flex;
    gap: 20px;
}
.finishing-options__item {
    flex: 1 1 33.333%;
    padding: 40px 0px 40px 36px;
}
.finishing-options__item-title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}
.finishing-options__list {
    max-width: 430px;
    list-style: none;
}
.finishing-options__list-item {
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.05em;
    position: relative;
    left: 23px;
}
.finishing-options__list-item::before {
    content: '•';
    font-size: 19px;
    left: -23px;
    position: absolute;
}
.finishing-options__list-item:not(:last-child) {
    margin-bottom: 15px;
}
.finishing-options__list-item > span {
    font-weight: 700;
    color: #83B32B;
}


/* 9 БЛОК */
.how-buy {
    padding-bottom: 101px;
}
.how-buy__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.how-buy__title {
    margin-bottom: 50px;
}
.how-buy__payment-types {
    display: flex;
    gap: 15px;
    margin-bottom: 48px;
}
.how-buy__button {
    width: 230px;
    border-radius: 8px;
    background: transparent;
    border: 1px solid #D9D9D9;
    padding: 16.5px 0px;
}
.how-buy__button_active {
    border-color: #83B32B;
    background: #83B32B;
    color: #F4F4F4;
    padding: 16.5px 0px;
}
.how-buy__button:hover {
    border-color: #83B32B;
    background: #83B32B;
    color: #F4F4F4;
    padding: 16.5px 0px;
}
.how-buy__body {
    display: flex;
    width: 100%;
}
.how-buy__payment-type-descriprion {
    width: 535px;
    border-right: 1px solid #D9D9D9;
    padding: 40px 0px 0px 40px;
}
.how-buy__payment-type-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.04em;
    margin-bottom: 10px;
}
.how-buy__payment-type-text {
    max-width: 424px;
    color: #646666;
}
.how-buy__payment-type-text:not(:last-child) {
    margin-bottom: 8px;
}
.how-buy__feedback {
    padding: 36px 70px 60px 70px;
    max-width: 1005px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.how-buy__feedback-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -0.04em;
    margin-bottom: 10px;
}
.how-buy__feedback-text {
    line-height: 25px;
    color: #646666;
    margin-bottom: 39px;
}
.how-buy__feedback-form {
    flex-direction: row;
    gap: 15px;
}
.how-buy__input {
    margin-bottom: 0!Important;
    max-width: 290px;
}
.how-buy__input:nth-of-type(2) {
    max-width: 255px;
}
.how-buy__form-button {
    font-size: 18px;
    width: 290px;
}


/* 10 БЛОК */
.master-plan {
    padding-bottom: 100px;
}
.master-plan__container {
}
.master-plan__title {
    margin-bottom: 50px;
}
.master-plan__doc {
    height: 628px;
    border-radius: 8px;
    background: #F4F4F4;
}
