.top-banner__title {
    max-width: 420px;
}
.top-banner__title {
    line-height: 66px!Important;
}
.top-banner__text {
    max-width: 340px;
    margin-bottom: 60px;
}

@media (max-width: 1600px) {
    .top-banner__img-wrap {
        height: auto;
        width: 100%;
    }
}
@media (max-width: 1440px) {
    .top-banner__text {
        margin-bottom: 52px;
    }
    
    .top-banner__title {
        max-width: 350px;
        line-height: 60px!Important;
    }
}

@media (max-width: 1300px) {
    .top-banner__title {
        max-width: 300px;
        line-height: 55px!Important;
    }

    .top-banner__text {
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 47px;
    }
    
    .top-banner__list {
        margin-bottom: 30px;
    }
    
    .top-banner__item {
        font-size: 17px;
    }

    .top-banner__left {
        padding: 30px;
    }
    
}
@media (max-width: 1280px) {
    .top-banner__container {
        max-height: 500px;
    }
    .top-banner__button {
        max-width: 320px;
        font-size: 17px;
        padding: 16px 0px 16px 0px;
    }
    .top-banner__button-icon {
        margin-left: 6px;
    }
    .top-banner__catalog-info {
    max-width: 320px;
    }
}

@media (max-width: 1200px) {
    .top-banner__text {
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 42px;
    }

    .top-banner__item {
        font-size: 15px;
        line-height: 21px;
    }

    .top-banner__item:not(:last-child) {
        margin-bottom: 5px;
    }
}
@media (max-width: 1170px) {
    .top-banner__left {
        padding: 25px;
    }
}

@media (max-width: 1130px) {
    .top-banner__title {
        line-height: 52px!Important;
    }

    .top-banner__text {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 38px;
    }

    .top-banner__item {
        font-size: 14px;
        line-height: 20px;
    }
}

@media (max-width: 991px) {
    .top-banner__left {
        padding: 20px;
    }

    .top-banner__title {
        max-width: 280px;
        line-height: 50px!Important;
    }
}

@media (max-width: 880px) {
    .top-banner__container {
        max-height: none;
        flex-direction: column;
        gap: 20px;
    }

    .top-banner__container > * {
        flex: 1 1 100%;
        max-width: none;
    }

    .top-banner__title {
        font-size: 45px;
        line-height: 55px!Important;
        max-width: 540px;
    }

    .top-banner__text {
        font-size: 22px;
        line-height: 38px;
        margin-bottom: 52px;
    }
    
    .top-banner__button {
        max-width: 350px;
        font-size: 18px;
        padding: 16px 0px 16px 0px;
    }
    .top-banner__catalog-info {
        max-width: 350px;
        }
    .top-banner__list {
        margin-bottom: 40px;
    }
    
    .top-banner__item {
        font-size: 17px;
    }

    .top-banner__left {
        padding: 30px;
    }

    .top-banner__item:not(:last-child) {
        margin-bottom: 10px;
    }
}

@media (max-width: 700px) {
    .top-banner__left {
        padding: 25px;
    }

    .top-banner__text {
        font-size: 21px;
        line-height: 28px;
        margin-bottom: 39px;
    }

    .top-banner__item {
        font-size: 15px;
        line-height: 21px;
    }

    .top-banner__button {
        max-width: 320px;
        font-size: 17px;
        padding: 16px 0px 16px 0px;
    }

    .top-banner__catalog-info {
        max-width: 320px;
    }

    .top-banner__button-icon {
        height: 22px;
        margin-left: 12px;
    }
}

@media (max-width: 794px) {
    .top-banner__title {
        font-size: 40px;
        line-height: 50px!Important;
        max-width: 460px;
    }
    .top-banner__text {
        margin-bottom: 42px;
        line-height: 32px;
    }
    .top-banner__list {
        margin-bottom: 35px;
    }
}

@media (max-width: 600px) {
    .top-banner__item:not(:last-child) {
        margin-bottom: 5px;
    }

    .top-banner__title {
        max-width: 400px;
        font-size: 33px;
        line-height: 43px!Important;
    }

    .top-banner__text {
        font-size: 21px;
        line-height: 26px;
        margin-bottom: 33px;
    }

    .top-banner__button {
        padding: 14px 0px 13px 0px;
    }
}

@media (max-width: 500px) {
    .top-banner__left {
        padding: 26px 13px 23px 13px;
    }
    .top-banner__left > *:not(.button) {
        padding: 0px 10px;
    }
    .top-banner__title {
        font-size: 28px;
        line-height: 39px!Important;
        max-width: 220px;
    }
    .top-banner__catalog-info {
        font-size: 10px;
    }
    .top-banner__button {
        font-size: 16px;
        padding: 13px 0px 12px 0px;
    }

    .top-banner__text {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 31px;
    }
    
    .top-banner__list {
        margin-bottom: 30px;
    }
}

@media (max-width: 490px) {
    .top-banner__button {
        width: 100%;
    }
}

@media (max-width: 425px) {
    .top-banner__left {
        padding: 30px 10px 20px 10px;
    }

    .top-banner__item {
        font-size: 14px;
        line-height: 20px;
    }

    .top-banner__text {
        margin-bottom: 30px;
    }

    .top-banner__button-icon {
        height: 20px;
        margin-left: 8px;
    }
}


/* 3 БЛОК */
.about-complex {
    padding-bottom: 100px;
}

.about-complex__wrapper {
    display: flex;
}

.about-complex__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 0px 10px 40px;
    max-width: 662px;
    margin-right: 118px;
}

.about-complex__title {
    padding-bottom: 10px;
}

.about-complex__text {
    max-width: 563px;
    color: #646666;
    margin-bottom: 50px;
}

.about-complex__button {
    font-size: 18px;
    max-width: 330px;
}

.about-complex__video {
    max-width: 760px;
    position: relative;
    cursor: pointer;
    margin-left: auto;
    max-height: 480px;
}

.about-complex__video-poster {
    height: 100%;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 760 / 480;
}
.about-complex__wrapper > .about-complex__button {
    display: none;
}

@media (min-width: 1601px) {
    .about-complex__video {
        height: 100%;
        max-height: 480px;
    }
}
@media (max-width: 1600px) {
    .about-complex__body {
        flex: 1 1 44%;
    }

    .about-complex__video-poster {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

@media (max-width: 1530px) {
    .about-complex__body {
        flex: 1 1 44%;
    }

    .about-complex__video {
        max-height: none;
    }
}

@media (max-width: 1453px) {
    .about-complex__body {
        padding: 40px 0px 30px 40px;
    }
}

@media (max-width: 1400px) {
    .about-complex__text {
        font-size: 18px;
        line-height: 23px;
    }
}

@media (max-width: 1329px) {
    .about-complex__body {
        margin-right: 80px;
    }
    .about-complex__button {
        font-size: 17px;
        padding: 16px 0px 16px 0px;
    }
}

@media (max-width: 1298px) {
    .about-complex__body {
        padding: 40px 40px 30px 40px;
        margin-right: 0px;
    }
    .about-complex__text {
        margin-bottom: 40px;
    }
    .about-complex__video {
        flex: 1 1 56%;
    }

    .about-complex__text {
        font-size: 17px;
        line-height: 22px;
    }
}

@media (max-width: 1260px) {
    .about-complex {
        padding-bottom: 90px;
    }
    .about-complex__button {
        padding: 15px 0px 15px 0px;
    }
}

@media (max-width: 1096px) {
    .about-complex__body {
        padding: 30px 30px 30px 30px;
    }

    .about-complex__text {
        font-size: 15px;
    }
}

@media (max-width: 1070px) {
    .about-complex {
        padding-bottom: 80px;
    }
    .about-complex__text {
        margin-bottom: 35px;
    }
    .about-complex__title {
        padding-bottom: 12px;
    }
}

@media (max-width: 991px) {
    .about-complex__text {
        font-size: 14px;
    }

    .about-complex__video {
        flex: 1 1 45%;
    }

    .about-complex__text {
        margin-bottom: 30px;
    }

    .about-complex__body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px 30px 30px 30px;
        max-width: 100%;
    }

    .about-complex__button {
        font-size: 16px;
        padding: 14px 0px 14px 0px;
    }

    .about-complex__video {
        max-width: 100%;
    }
}

@media (max-width: 880px) {
    .about-complex {
        padding-bottom: 70px;
    }
    .about-complex__body {
        padding: 30px;
    }
}

@media (max-width: 850px) {
    .about-complex__wrapper > .about-complex__button {
        font-size: 17px;
    }
}

@media (max-width: 794px) {
    .about-complex {
        padding-bottom: 60px;
    }

    .about-complex__wrapper > .about-complex__button {
        display: block;
        align-self: center;
        font-size: 18px;
        padding: 16px 0px 17px 0px;
        margin-bottom: 29px;
    }
    .about-complex__title {
        padding-bottom: 13px;
    }
    .about-complex__body > .about-complex__button {
        display: none;
    }
    .about-complex__text {
        margin-bottom: 0px;
    }

    .about-complex__wrapper {
        flex-direction: column;
    }

    .about-complex__body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 29px 20px 20px 20px;
        max-width: 100%;
        margin-right: 0px;
    }

    .about-complex__video {
        margin-left: 0px;
        padding: 0px 20px;
        border-radius: 8px;
        overflow: hidden;
        margin-bottom: 20px;
    }
    .about-complex__video-poster {
        border-radius: 8px;
    }

    .about-complex__text {
        font-size: 17px;
        max-width: 700px;
    }
}

@media (max-width: 650px) {
    .about-complex__body {
        padding: 26px 18px 17px 18px;
    }
    .about-complex__title {
        padding-bottom: 15px;
    }
    .about-complex__wrapper > .about-complex__button {
        margin-bottom: 26px;
    }
    .about-complex__video {
        margin-bottom: 17px;
        padding: 0px 18px;
    }
}

@media (max-width: 600px) {
    .about-complex__wrapper > .about-complex__button {
        font-size: 17px;
        padding: 14px 0px 13px 0px;
    }
}

@media (max-width: 560px) {
    .about-complex {
        padding-bottom: 50px;
    }
}

@media (max-width: 500px) {
    .about-complex {
        padding-bottom: 40px;
    }

    .about-complex__body {
        padding: 20px 15px 15px 15px;
    }
    .about-complex__wrapper > .about-complex__button {
        font-size: 16px;
        padding: 13px 0px 12px 0px;
    }
    .about-complex__video {
        margin-bottom: 15px;
        padding: 0px 15px;
    }

    .about-complex__text {
        font-size: 14px;
        line-height: 20px;
    }
}
@media (max-width: 390px) {
    .about-complex__wrapper {
        padding: 0px 10px;
    }
    .about-complex__body {
        padding: 20px 5px 15px 5px;
    }
    .about-complex__wrapper > .about-complex__button {
        margin-bottom: 20px;
    }
    .about-complex__video {
        margin-bottom: 15px;
        padding: 0px 5px;
    }
    .about-complex__wrapper > .about-complex__button {
        width: 100%;
    }
}


/* 4 БЛОК */
.complexes-advantages {
    padding-bottom: 100px;
}

.complexes-advantages__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.complexes-advantages__title {
    align-self: flex-start;
    margin-bottom: 50px;
}

.complexes-advantages__items {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 60px;
    justify-content: space-between;
}

.complexes-advantages__item {
    display: flex;
    flex: 1 1 calc(33% - 20px);
}

@media (min-width: 911px) {
    .complexes-advantages__item:nth-child(3),
    .complexes-advantages__item:nth-child(6) {
        display: flex;
    }
    
    .complexes-advantages__item:nth-child(3) > .complexes-advantages__item-body,
    .complexes-advantages__item:nth-child(6) > .complexes-advantages__item-body {
        width: 280px;
    }
    .complexes-advantages__item:nth-child(1) > .complexes-advantages__item-body {
        width: 230px;
    }
}

.complexes-advantages__item-img-wrap {
    border-radius: 8px;
    margin-right: 20px;
    overflow: hidden;
}

.complexes-advantages__img {
    width: 100%;
    object-fit: cover;
}

.complexes-advantages__item-body {}

.complexes-advantages__item-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    color: #83B32B;
    margin-bottom: 10px;
}

.complexes-advantages__item-desc {
    max-width: 297px;
}

.complexes-advantages__buttons {
    display: flex;
    gap: 15px;
}
.complexes-advantages__link {
    max-width: 295px;
}
.complexes-advantages__button {
    max-width: 328px;
}

@media (max-width: 1500px) {
    .complexes-advantages__item-desc {
        font-size: 16px;
    }
}

@media (max-width: 1400px) {
    .complexes-advantages__title {
        margin-bottom: 40px;
    }
    .complexes-advantages__img {
        width: 100px;
        height: 100%;
    }
    .complexes-advantages__item-title {
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 7px;
    }
    .complexes-advantages__item-desc {
        font-size: 15px;
    }
}

@media (max-width: 1300px) {
    .complexes-advantages__title {
        margin-bottom: 35px;
    }
    .complexes-advantages__img {
        width: 140px;
        height: 100%;
    }

    .complexes-advantages__item-title {
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 10px;
    }
    
    .complexes-advantages__item-desc {
        font-size: 18px;
    }
}

@media (max-width: 1260px) {
    .complexes-advantages {
        padding-bottom: 90px;
    }
}

@media (max-width: 1170px) {
    .complexes-advantages__title {
        margin-bottom: 33px;
    }

    .complexes-advantages__img {
        width: 120px;
        height: 100%;
    }

    .complexes-advantages__item-title {
        font-size: 21px;
        line-height: 22px;
    }
    
    .complexes-advantages__item-desc {
        font-size: 17px;
    }
}

@media (max-width: 1070px) {
    .complexes-advantages {
        padding-bottom: 80px;
    }

    .complexes-advantages__img {
        width: 120px;
        height: 100%;
    }

    .complexes-advantages__item-title {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 7px;
    }
    
    .complexes-advantages__item-desc {
        font-size: 15px;
    }
}

@media (max-width: 991px) {
    .complexes-advantages__title {
        margin-bottom: 30px;
    }
}
    
@media (max-width: 910px) {
    .complexes-advantages__item-img-wrap {
        margin-right: 20px;
        overflow: visible;
    }
    
    .complexes-advantages__img {
        border-radius: 8px;
    }
    .complexes-advantages__item {
        flex: 1 1 100%;
    }
    .complexes-advantages__item-title {
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 10px;
    }
    
    .complexes-advantages__item-desc {
        font-size: 18px;
        max-width: 397px;
    }

    .complexes-advantages__img {
        width: 140px;
        height: 100%;
    }
    
    .complexes-advantages__item-desc > br {
        display: none;
    }
}

@media (max-width: 880px) {
    .complexes-advantages {
        padding-bottom: 70px;
    }

    .complexes-advantages__items {
        display: flex;
        flex-wrap: wrap;
        column-gap: 0px;
    }
    .complexes-advantages__items {
        row-gap: 49px;
    }
}

@media (max-width: 794px) {
    .complexes-advantages {
        padding-bottom: 60px;
    }

    .complexes-advantages__title {
        margin-bottom: 27px;
    }

    .complexes-advantages__item-title {
        font-size: 22px;
        line-height: 21px;
    }
    
    .complexes-advantages__item-desc {
        font-size: 16px;
    }

    .complexes-advantages__img {
        width: 120px;
    }

    .complexes-advantages__items {
        row-gap: 30px;
    }
}

@media (max-width: 650px) {
    .complexes-advantages__item-body {
        padding-right: 30px;
    }

}

@media (max-width: 600px) {
    .complexes-advantages__title {
        margin-bottom: 23px;
    }

    .complexes-advantages__img {
        width: 110px;
        height: 98px;
    }
}

@media (max-width: 560px) {
    .complexes-advantages {
        padding-bottom: 50px;
    }
    .complexes-advantages__items {
        row-gap: 15px;
    }
    .complexes-advantages__item-title {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 7px;
    }
    
    .complexes-advantages__item-desc {
        font-size: 14px;
    }
}

@media (max-width: 516px) {
    .complexes-advantages__title {
        margin-bottom: 20px;
    }
}

@media (max-width: 500px) {
    .complexes-advantages {
        padding-bottom: 40px;
    }

    .complexes-advantages__item-title {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .complexes-advantages__img {
        width: 105px;
        height: 94px;
    }
    
    .complexes-advantages__item-desc {
        font-size: 12px;
    }
}

@media (max-width: 425px) {
    .complexes-advantages__items {
        row-gap: 10px;
    }
    .complexes-advantages__item-body {
        padding-right: 5px;
    }
    .complexes-advantages__title {
        max-width: 320px;
    }
}


/* 5 БЛОК */
.gallery {
    padding-bottom: 100px;
}

.gallery__container {}

.gallery__slider {
}
.gallery__swiper {
}
.gallery__slider-wrapper {
    margin-bottom: 28px;
}
.gallery__slide {
    border-radius: 8px;
    overflow: hidden;
    user-select: none;
    max-height: 384px;
}
.gallery__slide-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 500 / 384;
}
.gallery__slider-pagination {
    position: relative;
}

@media (max-width: 1260px) {
    .gallery {
        padding-bottom: 90px;
    }
}

@media (max-width: 1070px) {
    .gallery {
        padding-bottom: 80px;
    }
}

@media (max-width: 991px) {
    .gallery__slider-wrapper {
        margin-bottom: 26px;
    }
    .gallery__slider-pagination > .swiper-pagination-bullet {
        height: 8px;
        width: 8px;
    }
    .gallery__slider-pagination > .swiper-pagination-bullet:not(:last-child) {
        margin-right: 7px;
    }
    .gallery__slider-pagination > .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background: #292929;
    }
    .gallery__slide {
        max-height: none;
    }
}

@media (max-width: 880px) {
    .gallery {
        padding-bottom: 70px;
    }
}

@media (max-width: 847px) {
    .gallery__slider-pagination > .swiper-pagination-bullet {
        height: 8px;
        width: 8px;
    }
    .gallery__slider-pagination > .swiper-pagination-bullet:not(:last-child) {
        margin-right: 4px;
    }
}

@media (max-width: 794px) {
    .gallery {
        padding-bottom: 60px;
    }
}

@media (max-width: 700px) {
    .gallery__slider-wrapper {
        margin-bottom: 23px !Important;
    }

    .gallery__slide {
        width: 100%;
    }

    .gallery__slider>.swiper-slide {
        width: 100% !important;
    }

}

@media (max-width: 560px) {
    .gallery {
        padding-bottom: 50px;
    }
}

@media (max-width: 516px) {
    .gallery__slider-wrapper {
        margin-bottom: 18px !Important;
    }
}

@media (max-width: 500px) {
    .gallery {
        padding-bottom: 40px;
    }
}

@media (max-width: 425px) {
    .gallery__slider-wrapper {
        margin-bottom: 15px !Important;
    }
}


/* 6 БЛОК */
.complex-map {
    padding-bottom: 100px;
}

.complex-map__containet {}

.complex-map__title {
    margin-bottom: 50px;
}

.complex-map__map-block-block {
    border-radius: 8px;
}

.complex-map__map-block-block * {
    height: 100%;
}

@media (min-width: 1441px) {
    .complex-map__map-block-block {
        height: 481px;
    }
}

@media (max-width: 1400px) {
    .complex-map__title {
        margin-bottom: 40px;
    }

    .complex-map__map-block {
        height: 450px !Important;
    }
}

@media (max-width: 1300px) {
    .complex-map__title {
        margin-bottom: 35px;
    }
}

@media (max-width: 1260px) {
    .complex-map {
        padding-bottom: 90px;
    }
}

@media (max-width: 1170px) {
    .complex-map__title {
        margin-bottom: 33px;
    }

    .complex-map__map-block {
        height: 430px !Important;
    }
}

@media (max-width: 1070px) {
    .complex-map {
        padding-bottom: 80px;
    }
}

@media (max-width: 991px) {
    .complex-map__title {
        margin-bottom: 30px;
    }

    .complex-map__wrapper {
        padding: 30px 0px 40px 0px;
    }

    .complex-map__description-title {
        font-size: 27px;
        line-height: 33px;
    }

    .complex-map__map-block {
        height: 410px !Important;
    }
}

@media (max-width: 880px) {
    .complex-map {
        padding-bottom: 70px;
    }
}

@media (max-width: 794px) {
    .complex-map {
        padding-bottom: 60px;
    }

    .complex-map__title {
        margin-bottom: 27px;
    }

    .complex-map__map-block {
        height: 400px !Important;
    }
}

@media (max-width: 700px) {
    .complex-map__description-title {
        font-size: 26px;
        line-height: 32px;
    }
}

@media (max-width: 600px) {
    .complex-map__title {
        margin-bottom: 23px;
    }

    .complex-map__map-block {
        height: 350px !Important;
    }
}

@media (max-width: 560px) {
    .complex-map {
        padding-bottom: 50px;
    }
}

@media (max-width: 516px) {
    .complex-map__title {
        margin-bottom: 20px;
    }
}

@media (max-width: 500px) {
    .complex-map {
        padding-bottom: 40px;
    }

    .complex-map__map-block {
        height: 340px !Important;
    }
}

@media (max-width: 425px) {
    .complex-map__map-block {
        height: 360px !Important;
    }
}

@media (max-width: 375px) {
    .complex-map__map-block {
        height: 330px !Important;
    }
}

@media (max-width: 350px) {
    .complex-map__map-block {
        height: 300px !Important;
    }
}


/* 7 БЛОК */
.cottage-types {
    padding-bottom: 100px;
}

.cottage-types__container {}

.cottage-types__title {
    margin-bottom: 50px;
}

.cottage-types__cottages {}

.cottage-types__cottage {
    display: flex;
}

.cottage-types__cottage:nth-of-type(even) > .cottage-types__cottage-link {
    order: 2;
    margin-left: auto;
}

.cottage-types__cottage:not(:last-child) {
    margin-bottom: 50px;
}

.cottage-types__cottage-wrap-img {
    height: 100%;
    max-width: 760px;
    overflow: hidden;
    position: relative;
}

.cottage-types__cottage-img {
    height: 100%;
    max-width: 760px;
    object-fit: cover;
    aspect-ratio: 760 / 497;
}

.cottage-types__img-cottage-options {
    position: absolute;
    bottom: 16px;
    left: 15px;
    display: flex;
    gap: 5px;
    z-index: 18;
}

.cottage-types__img-cottage-option {
    padding: 7.5px 15px;
    font-size: 16px;
    border-radius: 20px;
    color: #FFF;
    background: rgba(41, 41, 41, 0.6);
}

.cottage-types__body {
    display: flex;
    flex-direction: column;
    padding: 30px 30px 31px 40px;
    position: relative;
}

.cottage-types__cottage-title {
    font-size: 36px;
    font-weight: 700;
    color: #000;
    margin-bottom: 15px;
}

.cottage-types__body-wrapper {
    display: flex;
    gap: 37px;
}

.cottage-types__desc {
    max-width: 332px;
}

.cottage-types__text {}

.cottage-types__text:not(:last-child) {
    margin-bottom: 10px;
}

.cottage-types__cottage-components {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.cottage-types__cottage-component-items {
    margin-bottom: 32px;
}

.cottage-types__cottage-component-item {
    display: flex;
    max-width: 245px;
}

.cottage-types__cottage-component-item:not(:last-child) {
    margin-bottom: 20px;
}

.cottage-types__cottage-component-icon {
    margin-right: 12px;
}

.cottage-types__cottage-component-text {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.05em;
}

.cottage-types__cottage-component-text > span {
    font-weight: 700;
    color: #83B32B;
    white-space: nowrap;
}

.cottage-types__button {
    padding: 14px 0px;
    font-size: 18px;
    max-width: 301px;
    margin-bottom: 18px;
}

.cottage-types__link {
    padding: 14px 0px;
    font-size: 18px;
    max-width: 301px;
}

@media (min-width: 1601px) {
    .cottage-types__cottage-wrap-img {
        max-height: 556px;
    }
}

@media (max-width: 1600px) {
    .cottage-types__cottage-wrap-img {
        max-width: 730px;
    }
}

@media (max-width: 1520px) {
    .cottage-types__body-wrapper {
        display: flex;
        gap: 32px;
    }

    .cottage-types__text {
        font-size: 16px;
    }
    
    .cottage-types__text:not(:last-child) {
        margin-bottom: 7px;
    }
    
    .cottage-types__cottage-component-items {
        margin-bottom: 27px;
    }
    
    .cottage-types__cottage-component-text {
        font-size: 15px;
    }
    
    .cottage-types__button {
        font-size: 17px;
        margin-bottom: 15px;
    }
    
    .cottage-types__link {
        font-size: 17px;
    }
}
@media (max-width: 1500px) {
    .cottage-types__cottage-wrap-img {
        max-width: 700px;
    }
}

@media (max-width: 1440px) {
    .cottage-types__body-wrapper {
        display: flex;
        gap: 26px;
    }

    .cottage-types__text {
        font-size: 15px;
    }
    
    .cottage-types__cottage-component-text {
        font-size: 14px;
    }
    
    .cottage-types__button {
        font-size: 16px;
        padding: 13px 0px;
        margin-bottom: 15px;
    }
    
    .cottage-types__link {
        font-size: 16px;
        padding: 13px 0px;
    }
}

@media (max-width: 1400px) {
    .cottage-types__title {
        margin-bottom: 40px;
    }

    .cottage-types__cottage-wrap-img {
        max-width: 680px;
    }
    .cottage-types__text {
        font-size: 14px;
    }
}

@media (max-width: 1370px) {
    .cottage-types__cottage {
        flex-direction: column;
    }

    .cottage-types__cottage:nth-of-type(even) > .cottage-types__cottage-link {
        order: 0;
        margin-left: 0px;
    }

    .cottage-types__tab-content {
        width: 100%;
    }

    .cottage-types__slide-wrap-img {
        width: 100%;
    }

    .cottage-types__slider {
        max-width: none;
    }

    .cottage-types__slide-img {
        width: 100%;
        max-width: none;
    }

    .cottage-types__cottage-img {
        height: 100%;
        width: 100%;
        max-width: none;
    }

    .cottage-types__cottage-wrap-img {
        max-width: none;
        max-height: 512px;
    }

    .cottage-types__body-wrapper {
        display: flex;
        gap: 37px;
    }

    .cottage-types__text {
        font-size: 18px;
    }
    
    .cottage-types__text:not(:last-child) {
        margin-bottom: 10px;
    }
    
    .cottage-types__cottage-component-items {
        margin-bottom: 32px;
    }
    
    .cottage-types__cottage-component-text {
        font-size: 16px;
    }
    
    .cottage-types__button {
        margin-bottom: 18px;
    }

    .cottage-types__desc {
        max-width: 600px;
    }

    .cottage-types__cottage-components {
        align-items: center;
        width: 100%;
    }
    .cottage-types__cottage-components-inner {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 1329px) {
    .finishing-options__list-item:not(:last-child) {
        margin-bottom: 13px;
    }
}

@media (max-width: 1300px) {
    .cottage-types__title {
        margin-bottom: 35px;
    }

    .cottage-types__body {
        padding: 30px;
    }
}

@media (max-width: 1260px) {
    .cottage-types {
        padding-bottom: 90px;
    }
}

@media (max-width: 1170px) {
    .cottage-types__title {
        margin-bottom: 33px;
    }

    .cottage-types__body {
        padding: 25px;
    }
}

@media (max-width: 1070px) {
    .cottage-types {
        padding-bottom: 80px;
    }

    .cottage-types__cottage-title {
        font-size: 32px;
    }

    .cottage-types__text {
        font-size: 17px;
    }

    .cottage-types__cottage-component-text {
        font-size: 16px;
    }
}

@media (max-width: 991px) {
    .cottage-types__title {
        margin-bottom: 30px;
    }

    .cottage-types__body {
        padding: 35px;
    }

    .cottage-types__cottage-component-icon {
        margin-right: 15px;
    }

    .cottage-types__cottage-component-items {
        margin-bottom: 30px;
    }
}

@media (max-width: 880px) {
    .cottage-types {
        padding-bottom: 70px;
    }
}

@media (max-width: 850px) {
    .cottage-types__body {
        padding: 30px;
    }
    .cottage-types__cottage-component-icon {
        margin-right: 11px;
    }
}

@media (max-width: 800px) {
    .cottage-types__img-cottage-option {
        padding: 5px 14px;
        font-size: 15px;
    }
}

@media (max-width: 794px) {
    .cottage-types {
        padding-bottom: 60px;
    }

    .cottage-types__title {
        margin-bottom: 27px;
    }

    .cottage-types__body-wrapper {
        gap: 30px;
    }

    .cottage-types__cottage-title {
        font-size: 28px;
    }

    .cottage-types__text {
        font-size: 16px;
    }
}

@media (max-width: 670px) {
    .cottage-types__body {
        padding: 20px;
    }

    .cottage-types__cottage-component-items {
        margin-bottom: 26px;
    }
}

@media (max-width: 650px) {
    .cottage-types__body-wrapper {
        flex-direction: column;
        gap: 26px;
    }
    .cottage-types__cottage-component-items {
        display: flex;
        flex-wrap: wrap;
    }
    .cottage-types__cottage-component-item {
        display: flex;
        flex: 1 1 50%;
    }
    .cottage-types__cottage-title {
        margin-bottom: 18px;
    }
    .cottage-types__buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    .cottage-types__cottage-component-icon {
        margin-right: 20px;
    }
    .cottage-types__button {
        margin-bottom: 0px;
    }
    .cottage-types__buttons > * {
        max-width: none!Important;
        flex: 1 1 calc(50% - 20px);
    }
    .cottage-types__cottage-title {
        font-size: 26px;
    }

    .cottage-types__text {
        font-size: 15px;
    }
}

@media (max-width: 610px) {
    .cottage-types__img-cottage-option {
        padding: 4px 13.5px;
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    .cottage-types__title {
        margin-bottom: 23px;
    }
}

@media (max-width: 560px) {
    .cottage-types {
        padding-bottom: 50px;
    }
}

@media (max-width: 550px) {
    .cottage-types__cottage-component-items {
        justify-content: center;
        flex: 1 1 100%;
    }
    .cottage-types__cottage-component-item {
        flex: 1 1 100%;
    }
    .cottage-types__buttons {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }
    .cottage-types__buttons > * {
        max-width: none!Important;
        flex: 1 1 100%;
    }
    .cottage-types__cottage-component-icon {
        margin-right: 16px;
    }
}

@media (max-width: 500px) {
    .cottage-types__title {
        margin-bottom: 20px;
    }
}

@media (max-width: 500px) {
    .cottage-types {
        padding-bottom: 40px;
    }

    .cottage-types__cottage-title {
        font-size: 24px;
    }

    .cottage-types__cottage-component-items {
        margin-bottom: 20px;
    }

    .cottage-types__text {
        font-size: 14px;
    }

    .cottage-types__cottage-title {
        margin-bottom: 20px;
    }
    
    .cottage-types__body-wrapper {
        flex-direction: column;
        gap: 20px;
    }
    .cottage-types__cottage-component-icon {
        margin-right: 13px;
    }

}
@media (max-width: 490px) {
    .cottage-types__cottage-component-items {
        justify-content: flex-start;
    }
    .cottage-types__buttons > * {
        width: 100%;
    }

}
@media (max-width: 425px) {
    .cottage-types__cottage-component-icon {
        margin-right: 10px;
    }
}


/* 8 БЛОК */
.finishing-options {
    padding-bottom: 100px;
}

.finishing-options__container {}

.finishing-options__title {
    margin-bottom: 50px;
}

.finishing-options__variants {
    display: flex;
    gap: 20px;
}

.finishing-options__item {
    flex: 1 1 33.333%;
    padding: 40px 60px 40px 36px;
}

.finishing-options__item-title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}

.finishing-options__list {
    position: relative;
    list-style: none;
}

.finishing-options__list-item {
    max-width: 384px;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.05em;
    position: relative;
    left: 23px;
}

.finishing-options__list-item::before {
    content: '•';
    font-size: 19px;
    left: -23px;
    position: absolute;
}

.finishing-options__list-item:not(:last-child) {
    margin-bottom: 15px;
}

.finishing-options__list-item>span {
    font-weight: 700;
    color: #83B32B;
}

@media (max-width: 1400px) {
    .finishing-options__item {
        padding: 35px 55px 35px 30px;
    }
    .finishing-options__title {
        margin-bottom: 40px;
    }
    .finishing-options__list-item {
        font-size: 18px;
        line-height: 23px;
    }
    .finishing-options__item-title {
        font-size: 30px;
    }
}

@media (max-width: 1329px) {
    .finishing-options__list-item:not(:last-child) {
        margin-bottom: 13px;
    }
}

@media (max-width: 1300px) {
    .finishing-options__title {
        margin-bottom: 35px;
    }
    .finishing-options__item {
        padding: 30px 50px 30px 25px;
    }
}
@media (max-width: 1298px) {
    .finishing-options__item-title {
        font-size: 27px;
    }
    .finishing-options__list-item {
        font-size: 17px;
        line-height: 22px;
    }
}

@media (max-width: 1260px) {
    .finishing-options {
        padding-bottom: 90px;
    }
    .finishing-options__list-item {
        left: 20px;
    }
    .finishing-options__list-item::before {
        left: -20px;
    }
    .finishing-options__list-item:not(:last-child) {
        margin-bottom: 11px;
    }
}

@media (max-width: 1170px) {
    .finishing-options__item {
        padding: 25px 45px 25px 22px;
    }
    .finishing-options__title {
        margin-bottom: 33px;
    }
    .finishing-options__list-item {
        max-width: 258px;
        font-size: 15px;
        line-height: 20px;
    }
}
@media (max-width: 1096px) {
    .finishing-options__item-title {
        font-size: 24px;
    }
}

@media (max-width: 1070px) {
    .finishing-options {
        padding-bottom: 80px;
    }
    .finishing-options__list-item {
        max-width: 235px;
    }
}

@media (max-width: 991px) {
    .finishing-options__title {
        margin-bottom: 30px;
    }
    .finishing-options__variants {
        flex-wrap: wrap;
    }
    .finishing-options__item-title {
        font-size: 21px;
    }
    .finishing-options__item {
        padding: 35px 55px 35px 30px;
    }
    .finishing-options__list-item {
        font-size: 18px;
        line-height: 23px;
        max-width: 351px;
        left: 23px;
    }
    .finishing-options__list-item::before {
        left: -23px;
    }
    .finishing-options__item-title {
        font-size: 30px;
    }
    .finishing-options__list-item:not(:last-child) {
        margin-bottom: 12px;
    }
}

@media (max-width: 880px) {
    .finishing-options {
        padding-bottom: 70px;
    }
    .finishing-options__list-item:not(:last-child) {
        margin-bottom: 11px;
    }
}

@media (max-width: 850px) {
    .finishing-options__item {
        padding: 30px 50px 30px 25px;
    }
    .finishing-options__item-title {
        font-size: 27px;
        left: 20px;
    }
    .finishing-options__list-item::before {
        left: -20px;
    }
    .finishing-options__list-item {
        font-size: 17px;
        line-height: 22px;
        max-width: 317px;
    }
}

@media (max-width: 794px) {
    .finishing-options__title {
        margin-bottom: 27px;
    }

    .finishing-options {
        padding-bottom: 60px;
    }

    .finishing-options__item {
        padding: 25px 45px 25px 22px;
    }
    .finishing-options__list-item {
        font-size: 15px;
        max-width: 271px;
    }
    .finishing-options__item-title {
        font-size: 24px;
    }
}

@media (max-width: 670px) {
    .finishing-options__item {
        padding: 20px;
    }

    .finishing-options__list-item {
        font-size: 14px;
        max-width: 237px;
        line-height: 18px;
    }

    .finishing-options__list-item:not(:last-child) {
        margin-bottom: 10px;
    }
}

@media (max-width: 650px) {
    .finishing-options__list-item {
        max-width: 223px;
    }
}

@media (max-width: 600px) {
    .finishing-options__title {
        margin-bottom: 23px;
    }

    .finishing-options__item {
        flex: 1 1 100%;
        padding: 30px 50px 30px 25px;
    }
    .finishing-options__list-item {
        font-size: 17px;
        line-height: 22px;
        max-width: 335px;
        left: 22px;
    }
    .finishing-options__list-item::before {
        left: -22px;
    }
    .finishing-options__item-title {
        font-size: 26px;
    }
    .finishing-options__list-item:not(:last-child) {
        margin-bottom: 11px;
    }
    .finishing-options__list-item::before {
        top: 50%;
        transform: translateY(-50%);
    }
}

@media (max-width: 560px) {
    .finishing-options {
        padding-bottom: 50px;
    }
}

@media (max-width: 516px) {
    .finishing-options__title {
        margin-bottom: 20px;
    }

    .finishing-options__list-item {
        line-height: 22px;
    }
    .finishing-options__item-title {
        font-size: 23px;
    }
    .finishing-options__item {
        padding: 25px 45px 25px 22px;
    }
    .finishing-options__list-item {
        left: 20px;
    }
    .finishing-options__list-item::before {
        left: -20px;
    }
}

@media (max-width: 500px) {
    .finishing-options {
        padding-bottom: 40px;
    }

    .finishing-options__list-item {
        font-size: 16px;
        max-width: 352px;
        line-height: 20px;
    }

    .finishing-options__list-item:not(:last-child) {
        margin-bottom: 11px;
    }

    .finishing-options__item-title {
        font-size: 21px;
    }

}
@media (max-width: 425px) {
    .finishing-options__item {
        padding: 20px 40px 20px 20px;
    }
    .finishing-options__list-item::before {
        left: -18px;
    }
    .finishing-options__list-item:not(:last-child) {
        margin-bottom: 10px;
    }
}

@media (max-width: 375px) {
    .finishing-options__item-title {
        font-size: 20px;
    }

    .finishing-options__list-item {
        font-size: 14px;
        line-height: 18px;
    }
}

@media (max-width: 320px) {
    .finishing-options__item {
        padding: 20px 30px 20px 20px;
    }
}


/* 9 БЛОК */
.how-buy {
    padding-bottom: 100px;
}

.how-buy__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.how-buy__title {
    margin-bottom: 50px;
}

.how-buy__payment-types {
    display: flex;
    gap: 15px;
    margin-bottom: 48px;
}

.how-buy__button {
    width: 230px;
    border-radius: 8px;
    background: transparent;
    border: 1px solid #D9D9D9;
    padding: 16.5px 0px;
}

.how-buy__button_active {
    border-color: #83B32B;
    background: #83B32B;
    color: #F4F4F4;
}

.how-buy__button:hover {
    border-color: #83B32B;
    background: #83B32B;
    color: #F4F4F4;
}

.how-buy__body {
    display: flex;
    width: 100%;
}

.how-buy__payment-type-descriprion {
    width: 535px;
    border-right: 1px solid #D9D9D9;
    padding: 40px 40px 30px 40px;
}

.how-buy__payment-type-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -0.04em;
    margin-bottom: 10px;
}

.how-buy__payment-type-text {
    max-width: 424px;
    color: #646666;
    margin-bottom: 0px;
}

.how-buy__payment-type-text:not(:last-child) {
    margin-bottom: 8px;
}

.how-buy__feedback {
    padding: 36px 40px 60px 40px;
    max-width: 1005px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.how-buy__feedback-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -0.04em;
    margin-bottom: 10px;
}

.how-buy__feedback-text {
    line-height: 25px;
    color: #646666;
    margin-bottom: 39px;
}

.how-buy__feedback-form {
    flex-direction: row;
    gap: 15px;
}

.how-buy__input {
    margin-bottom: 0 !Important;
    max-width: 290px;
}

.how-buy__input:nth-of-type(2) {
    max-width: 255px;
}

.how-buy__form-button {
    font-size: 18px;
    width: 290px;
}

@media (max-width: 1500px) {
    .how-buy__payment-type-descriprion {
        padding: 31px 40px 60px 40px;
    }

    .how-buy__feedback-form {
        flex-wrap: wrap;
        justify-content: center;
    }

    .how-buy__feedback {
        padding: 31px 40px 30px 40px;
        max-width: 900px;
    }
}

@media (max-width: 1400px) {
    .how-buy__title {
        margin-bottom: 40px;
    }

    .how-buy__feedback {
        max-width: 850px;
    }
}

@media (max-width: 1329px) {
    .how-buy__payment-type-text {
        font-size: 17px;
    }

    .how-buy__feedback-text {
        font-size: 17px;
        line-height: 23px;
        margin-bottom: 31px;
    }

    .how-buy__feedback-title,
    .how-buy__payment-type-title {
        font-size: 30px;
        line-height: 36px;
    }

    .how-buy__form-button {
        font-size: 17px;
        padding: 16px 0px 16px 0px;
    }

    .how-buy__payment-types {
        margin-bottom: 41px;
    }

    .how-buy__button {
        width: 230px;
        font-size: 17px;
        padding: 16px 0px;
    }
}

@media (max-width: 1300px) {
    .how-buy__title {
        margin-bottom: 35px;
    }

    .how-buy__payment-type-descriprion {
        padding: 27px 30px 50px 30px;
    }

    .how-buy__feedback {
        padding: 27px 30px 30px 30px;
    }
}

@media (max-width: 1260px) {
    .how-buy {
        padding-bottom: 90px;
    }

    .how-buy__feedback-title,
    .how-buy__payment-type-title {
        font-size: 27px;
        line-height: 32px;
    }

    .how-buy__form-button {
        padding: 15px 0px 15px 0px;
    }

    .how-buy__payment-types {
        margin-bottom: 37px;
        gap: 13px;
    }

    .how-buy__button {
        width: 210px;
        padding: 15.5px 0px;
    }
}

@media (max-width: 1170px) {
    .how-buy__title {
        margin-bottom: 33px;
    }

    .how-buy__payment-type-text {
        font-size: 16px;
    }

    .how-buy__feedback-text {
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 27px;
    }

    .how-buy__payment-type-text:not(:last-child) {
        margin-bottom: 10px;
    }

    .how-buy__payment-types {
        margin-bottom: 34px;
    }

    .how-buy__button {
        font-size: 16px;
        padding: 15px 0px;
    }
}

@media (max-width: 1070px) {
    .how-buy {
        padding-bottom: 80px;
    }

    .how-buy__payment-type-descriprion {
        padding: 25px 28px 40px 28px;
    }

    .how-buy__feedback {
        padding: 25px 28px 30px 28px;
    }

    .how-buy__button {
        width: 180px;
        padding: 14.5px 0px;
    }
}

@media (max-width: 991px) {
    .how-buy__title {
        margin-bottom: 30px;
    }

    .how-buy__feedback {
        text-align: center;
    }

    .how-buy__feedback-text {
        max-width: 310px;
    }

    .how-buy__form-button {
        font-size: 16px;
        padding: 14px 0px 14px 0px;
    }
}

@media (max-width: 948px) {
    .how-buy__input {
        margin-bottom: 0 !Important;
        max-width: 290px;
        width: 100%;
    }

    .how-buy__input:nth-of-type(2) {
        max-width: 290px;
    }
}

@media (max-width: 880px) {
    .how-buy {
        padding-bottom: 70px;
    }

    .how-buy__payment-type-descriprion {
        padding: 20px 25px 30px 25px;
    }

    .how-buy__feedback {
        padding: 20px 25px 30px 25px;
    }

    .how-buy__input {
        margin-bottom: 0 !Important;
        max-width: 290px;
        width: 100%;
    }

    .how-buy__payment-type-text:not(:last-child) {
        margin-bottom: 12px;
    }

    .how-buy__payment-types {
        margin-bottom: 28px;
        gap: 10px;
    }

    .how-buy__button {
        width: 150px;
        font-size: 16px;
        padding: 15px 0px;
    }
}

@media (max-width: 850px) {
    .how-buy__payment-type-text {
        font-size: 15px;
    }

    .how-buy__feedback-text {
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 24px;
    }

    .how-buy__button {
        font-size: 15px;
        padding: 14.5px 0px;
    }

    .how-buy__feedback {
        text-align: center;
    }

    .how-buy__feedback-title,
    .how-buy__payment-type-title {
        font-size: 24px;
        line-height: 28px;
    }
}

@media (max-width: 794px) {
    .how-buy {
        padding-bottom: 60px;
    }

    .how-buy__title {
        margin-bottom: 27px;
    }

    .how-buy__payment-types {
        margin-bottom: 25px;
    }

    .how-buy__button {
        width: 145px;
        font-size: 14px;
        padding: 14px 0px;
    }

}

@media (max-width: 650px) {
    .how-buy__payment-types {
        margin-bottom: 32px;
        flex-wrap: wrap;
        gap: 15px;
    }

    .how-buy__button {
        flex: 1 1 calc(50% - 15px);
        font-size: 16px;
        padding: 15px 0px;
    }
}

@media (max-width: 600px) {
    .how-buy__title {
        margin-bottom: 23px;
    }

    .how-buy__body.bordered-block {
        border-radius: 0px;
        border: none;
    }

    .how-buy__payment-types {
        margin-bottom: 29px;
    }

    .how-buy__payment-type-descriprion {
        border: none;
    }

    .how-buy__feedback {
        border: 1px solid #D9D9D9;
        border-radius: 8px;
        overflow: hidden;
    }

    .how-buy__body {
        flex-direction: column;
    }

    .how-buy__feedback {
        padding: 25px 28px 30px 28px;
    }

    .how-buy__payment-type-descriprion {
        padding: 0px;
        margin-bottom: 20px;
    }

    .how-buy__payment-type-descriprion {
        width: 100%;
    }

    .how-buy__payment-type-text:not(:last-child) {
        margin-bottom: 10px;
    }

    .how-buy__feedback-title,
    .how-buy__payment-type-title {
        font-size: 27px;
        line-height: 32px;
    }

    .how-buy__payment-type-text {
        font-size: 16px;
        max-width: 600px;
    }

    .how-buy__feedback-text {
        max-width: none;
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 27px;
    }

    .how-buy__input {
        max-width: none;
        width: 100%;
    }

    .how-buy__input:nth-of-type(2) {
        max-width: none;
        width: 100%;
    }

    .how-buy__form-button {
        max-width: none;
        width: 100%;
    }

    .how-buy__payment-types {
        margin-bottom: 27px;
    }
}

@media (max-width: 560px) {
    .how-buy {
        padding-bottom: 50px;
    }
}

@media (max-width: 516px) {
    .how-buy__title {
        margin-bottom: 20px;
    }

    .how-buy__feedback-title,
    .how-buy__payment-type-title {
        font-size: 24px;
        line-height: 27px;
    }

    .how-buy__feedback {
        padding: 20px 25px 26px 25px;
    }

    .how-buy__payment-types {
        margin-bottom: 24px;
        gap: 12px;
    }

    .how-buy__button {
        font-size: 15px;
        padding: 14.5px 0px;
    }
}

@media (max-width: 500px) {
    .how-buy {
        padding-bottom: 40px;
    }

    .how-buy__feedback-title,
    .how-buy__payment-type-title {
        font-size: 22px;
        line-height: 25px;
    }

    .how-buy__payment-type-text {
        font-size: 15px;
    }

    .how-buy__feedback-text {
        font-size: 15px;
        margin-bottom: 22px;
    }

    .how-buy__payment-type-text:not(:last-child) {
        margin-bottom: 12px;
    }

    .how-buy__payment-types {
        margin-bottom: 21px;
    }
}

@media (max-width: 425px) {
    .how-buy__feedback {
        padding: 20px 22px 23px 22px;
    }

    .how-buy__feedback-text {
        margin-bottom: 14px;
        line-height: 20px;
    }

    .how-buy__payment-types {
        margin-bottom: 20px;
        gap: 10px;
    }

    .how-buy__button {
        font-size: 14px;
        padding: 14px 0px;
    }
}

@media (max-width: 375px) {
    .how-buy__feedback {
        padding: 20px;
    }

    .how-buy__feedback-title,
    .how-buy__payment-type-title {
        font-size: 20px;
        line-height: 22px;
    }

    .how-buy__payment-type-text {
        font-size: 14px;
    }

    .how-buy__feedback-text {
        font-size: 14px;
        margin-bottom: 10px;
    }
}


/* 10 БЛОК */
.master-plan {
    padding-bottom: 100px;
}

.master-plan__container {}

.master-plan__title {
    margin-bottom: 50px;
}

.master-plan__doc {
    /* height: 600px; */
    height: 100%;
    width: 100%;
    border-radius: 8px;
    overflow: auto;
    position: relative;
}

.polygons {
    width: 100%;
    height: 100%
}

.polygon {
    cursor: pointer;
}

.master-plan__svg {
    /* overflow: auto;
    aspect-ratio: 1280 / 720;
    width: 1280px;
    height: 720px; */
    width: 100%;
    height: 100%;
}
.master-plan__svg > image {
    display: block;
    width: 100%;
}

.master-plan__polygon-tooltip {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    fill: black;
}

.polygon:hover + .tooltip-group {
    visibility: visible;
}

/* .master-plan__polygon-tooltip {
    position: absolute;
    left: 0;
    top: 0;
    background: white;
    border-radius: 8px;
    padding: 7px;
    font-size: 16px;
    font-weight: 600;
    pointer-events: none;
    display: none;
} */

.polygon.free {
    fill: rgba(70, 185, 70, 0.6); /* Свободен */
}

.polygon.booked {
    fill: rgba(179, 179, 62, 0.6); /* Забронирован */
}

.polygon.sold {
    fill: rgba(133, 38, 38, 0.6); /* Забронирован */
}

.master-plan__tooltip-colors {
    display: none;
}

.area-overlay {
    position: absolute;
    opacity: 0.5;
    pointer-events: none; /* Чтобы не перекрывать клики */
}

.area-overlay.sold {
    background-color: red;
}

.area-overlay.free {
    background-color: green;
}

.ps__rail-y {
    width: 10px;
}

.ps__thumb-y {
    width: 7px!Important;
}

.ps__rail-x {
    height: 10px;
}

.ps__thumb-x {
    height: 7px!Important;
}

.master-plan__tooltip-color {
    border-radius: 30px;
    font-size: 14px;
    color: #FFF;
    padding: 5px 15px;
}

.master-plan__tooltip-color.free {
    background: green;
}

.master-plan__tooltip-color.booked {
    background: orange;
    color: #000;
}

.master-plan__tooltip-color.sold {
    background: red;
}

@media (max-width: 1400px) {
    .master-plan__title {
        margin-bottom: 40px;
    }
}

@media (max-width: 1300px) {
    .master-plan__title {
        margin-bottom: 35px;
    }
}

@media (max-width: 1260px) {
    .master-plan {
        padding-bottom: 90px;
    }
}

@media (max-width: 1070px) {
    .master-plan {
        padding-bottom: 80px;
    }

    .master-plan__title {
        margin-bottom: 33px;
    }
}

@media (max-width: 1024px) {
    .master-plan__svg {
        width: 1280px;
        height: 720px;
        position: relative;
        overflow: hidden;
    }
}

@media (max-width: 880px) {
    .master-plan__title {
        margin-bottom: 30px;
    }
}

@media (max-width: 880px) {
    .master-plan {
        padding-bottom: 70px;
    }
}

@media (max-width: 798px) {
    .master-plan__doc {
        margin-bottom: 20px;
    }
    .master-plan__tooltip-colors {
        display: flex;
        gap: 10px;
    }
}

@media (max-width: 794px) {
    .master-plan {
        padding-bottom: 60px;
    }

    .master-plan__title {
        margin-bottom: 27px;
    }
    .master-plan__svg {
        display: block;
        width: 1060px;
        height: 600px;
    }
}


@media (max-width: 600px) {
    .master-plan {
        padding-bottom: 50px;
    }

    .master-plan__title {
        margin-bottom: 23px;
    }

}

@media (max-width: 560px) {
    .master-plan {
        padding-bottom: 50px;
    }

    .master-plan__svg {
        display: block;
        width: 880px;
        height: 500px;
    }
}

@media (max-width: 516px) {
    .master-plan__title {
        margin-bottom: 20px;
    }
}

@media (max-width: 500px) {
    .master-plan {
        padding-bottom: 40px;
    }
}


.feedback__title {
    font-size: 39px;
    line-height: 47px;
}

@media (max-width: 1440px) {
    .feedback__title {
        font-size: 35px;
        line-height: 43px!Important;
    }
}

@media (max-width: 1300px) {
    .feedback__title {
        font-size: 32px!Important;
        line-height: 38px!Important;
    }
}

@media (max-width: 991px) {
    .feedback__title {
        font-size: 32px!Important;
        line-height: 38px!Important;
    }
}

@media (max-width: 500px) {
    .feedback__title {
        font-size: 29px!Important;
        line-height: 39px!Important;
    }
}

@media (max-width: 425px) {
    .feedback__title {
        font-size: 26px!Important;
        line-height: 36px!Important;
    }
}

@media (max-width: 320px) {
    .feedback__title {
        font-size: 24px!Important;
        line-height: 30px!Important;
    }
}
