.top-banner__button {
    width: 399px;
}

.feedback__text {
    font-size: 18px;
    margin-bottom: 36px;
}

@media (max-width: 1400px) {
    .feedback__text {
        font-size: 17px;
        line-height: 22px;
    }
}

@media (max-width: 794px) {
    .feedback__text {
        font-size: 16px;
    }
}

@media (max-width: 500px) {
    .feedback__text {
        font-size: 14px;
    }
}