.top-banner__title {
    max-width: 499px;
    margin-bottom: 20px;
}
.top-banner__text {
    max-width: 340px;
    margin-bottom: 48px;
}
@media (max-width: 1600px) {
    .top-banner__left {
        flex: 1 1 41.5%;
    }
    
    .top-banner__img-wrap {
        flex: 1 1 58.5%;
    }
}
@media (max-width: 1440px) {
    .top-banner__text {
        font-size: 24px;
        line-height: 35px;
        margin-bottom: 45px;
    }
    
    .top-banner__list {
        margin-bottom: 35px;
    }
    
    .top-banner__item {
        font-size: 18px;
        line-height: 23px;
    }
}

@media (max-width: 1300px) {
    .top-banner__text {
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 41px;
    }
    
    .top-banner__list {
        margin-bottom: 30px;
    }
    
    .top-banner__item {
        font-size: 17px;
    }

    .top-banner__left {
        padding: 30px 30px 45px 30px;
    }
}
@media (max-width: 1280px) {
    .top-banner__container {
        max-height: 500px;
    }
    .top-banner__button {
        max-width: 320px;
        font-size: 17px;
        padding: 16px 0px 16px 0px;
    }
    .top-banner__button-icon {
        margin-left: 6px;
    }
    .top-banner__catalog-info {
    max-width: 320px;
    }
    .top-banner__img-wrap {
        height: auto;
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .top-banner__text {
        margin-bottom: 37px;
    }

    .top-banner__item {
        font-size: 15px;
        line-height: 21px;
    }

    .top-banner__item:not(:last-child) {
        margin-bottom: 5px;
    }
}
@media (max-width: 1170px) {
    .top-banner__left {
        padding: 25px 25px 42px 25px;
    }
}

@media (max-width: 1130px) {
    .top-banner__text {
        margin-bottom: 32px;
    }

    .top-banner__item {
        font-size: 14px;
        line-height: 20px;
    }
}

@media (max-width: 991px) {
    .top-banner__left {
        padding: 20px 20px 34px 20px;
    }
}

@media (max-width: 970px) {
    .top-banner {
        padding-top: calc(30px + 54px);
    }
}

@media (max-width: 880px) {
    .top-banner__container {
        max-height: none;
        flex-direction: column;
        gap: 20px;
    }

    .top-banner__container > * {
        flex: 1 1 100%;
        max-width: none;
    }

    .banner-title {
        font-size: 45px;
        line-height: 55px!Important;
    }

    .top-banner__text {
        margin-bottom: 38px;
    }
    
    .top-banner__button {
        max-width: 350px;
        font-size: 18px;
        padding: 16px 0px 16px 0px;
    }
    .top-banner__catalog-info {
        max-width: 350px;
        }
    .top-banner__list {
        margin-bottom: 40px;
    }
    
    .top-banner__item {
        font-size: 17px;
    }

    .top-banner__left {
        padding: 30px 30px 45px 30px;
    }

    .top-banner__item:not(:last-child) {
        margin-bottom: 10px;
    }
}

@media (max-width: 700px) {
.top-banner__left {
    padding: 25px 25px 42px 25px;
}
.top-banner__text {
    font-size: 21px;
    line-height: 28px;
    margin-bottom: 33px;
}

.top-banner__item {
    font-size: 15px;
    line-height: 21px;
}
.top-banner__button {
    max-width: 320px;
    font-size: 17px;
    padding: 16px 0px 16px 0px;
}
.top-banner__catalog-info {
    max-width: 320px;
    }

    .top-banner__button-icon {
        height: 22px;
        margin-left: 12px;
    }
}

@media (max-width: 850px) {
    .top-banner {
        padding-top: calc(25px + 54px);
    }
}

@media (max-width: 794px) {
    .top-banner {
        padding-top: calc(20px + 54px);
        padding-bottom: 61px;
    }
    .banner-title {
        font-size: 40px;
        line-height: 50px!Important;
        max-width: 300px;
    }
    .top-banner__text {
        line-height: 32px;
    }
    .top-banner__list {
        margin-bottom: 35px;
    }
}

@media (max-width: 600px) {
    .top-banner {
        padding-top: calc(17px + 54px);
    }
    
    .top-banner__item:not(:last-child) {
        margin-bottom: 5px;
    }

    .top-banner__text {
        font-size: 21px;
        line-height: 26px;
        margin-bottom: 30px;
    }
    .banner-title {
        font-size: 33px;
        line-height: 43px!Important;
    }
    .top-banner__button {
        padding: 14px 0px 13px 0px;
    }
}

@media (max-width: 500px) {
    .top-banner__left {
        padding: 26px 13px 37px 13px;
    }
    .banner-title {
        font-size: 28px;
        line-height: 39px!Important;
    }
}

@media (max-width: 425px) {
    .top-banner__left {
        padding: 30px 10px 30px 10px;
    }
}


/* 3 БЛОК */
.constraction-advantages {
    padding-bottom: 100px;
}
.constraction-advantages__container {
}
.constraction-advantages__title {
    line-height: 66px;
    margin-bottom: 50px;
}
.constraction-advantages__items {
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
}
.constraction-advantages__item {
    flex: 1 1 33.333%;
}
.complexes-advantages__icon {
    margin-bottom: 20px;
}
.complexes-advantages__item-body {
}
.complexes-advantages__item-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    color: #83B32B;
    margin-bottom: 10px;
}
.complexes-advantages__item-text {
    max-width: 396px;
}

@media (max-width: 1400px) {
    .constraction-advantages__title {
        margin-bottom: 40px;
    }
    .complexes-advantages__item-title {
        font-size: 23px;
        line-height: 24px;
    }
    .complexes-advantages__item-text {
        font-size: 17px;
        max-width: 356px;
    }
}

@media (max-width: 1386px) {
    .advantages__item-description {
        max-width: 360px;
    }
}

@media (max-width: 1300px) {
    .constraction-advantages__title {
        margin-bottom: 35px;
    }
}

@media (max-width: 1290px) {
    .complexes-advantages__item-title {
        font-size: 22px;
        line-height: 23px;
    }
    .complexes-advantages__item-text {
        font-size: 16px;
        max-width: 340px;
    }
    .complexes-advantages__icon {
        margin-bottom: 17px;
        height: 50px;
    }
    .constraction-advantages__items {
        row-gap: 35px;
    }
}

@media (max-width: 1260px) {
    .constraction-advantages {
        padding-bottom: 90px;
    }
}

@media (max-width: 1230px) {
    .complexes-advantages__item-body {
        max-width: 310px;
    }
}

@media (max-width: 1170px) {
    .constraction-advantages__title {
        margin-bottom: 33px;
    }

    .complexes-advantages__item-text > br {
        display: none;
    }
    .complexes-advantages__item-text {
        font-size: 15px;
        max-width: 280px;
    }
    .constraction-advantages__items {
        row-gap: 30px;
    }
    .complexes-advantages__icon {
        height: 40px;
        margin-bottom: 15px;
    }
    .complexes-advantages__item-body {
        max-width: 280px;
    }
}

@media (max-width: 1070px) {
    .constraction-advantages {
        padding-bottom: 80px;
    }

    .complexes-advantages__item-title {
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 6px;
    }
}

@media (max-width: 991px) {
    .constraction-advantages__title {
        margin-bottom: 30px;
    }

    .complexes-advantages__item-text > br {
        display: block;
    }
    .complexes-advantages__item-text {
        font-size: 17px;
        max-width: 396px;
    }
    .constraction-advantages__items {
        flex-wrap: wrap;
        row-gap: 40px;
    }
    .complexes-advantages__icon {
        height: 52px;
        margin-bottom: 17px;
    }
    .complexes-advantages__item-body {
        max-width: none;
    }
    .constraction-advantages__item {
        flex: 1 1 50%;
    }
    .complexes-advantages__item-title {
        font-size: 23px;
        line-height: 24px;
        margin-bottom: 10px;
    }
}

@media (max-width: 880px) {
    .constraction-advantages {
        padding-bottom: 70px;
    }
}

@media (max-width: 860px) {
    .complexes-advantages__item-text > br {
        display: none;
    }
    .complexes-advantages__item-text {
        font-size: 16px;
        max-width: 330px;
    }
    .constraction-advantages__items {
        flex-wrap: wrap;
        row-gap: 30px;
    }
    .complexes-advantages__icon {
        height: 40px;
        margin-bottom: 15px;
    }
    .complexes-advantages__item-body {
        max-width: 280px;
    }
    .complexes-advantages__item-title {
        font-size: 22px;
        line-height: 23px;
        max-width: 200px;
    }
}

@media (max-width: 794px) {
    .constraction-advantages {
        padding-bottom: 60px;
    }

    .constraction-advantages__title {
        margin-bottom: 27px;
    }
}

@media (max-width: 700px) {
    .advantages____item-icon {
        margin-bottom: 15px;
    }
    .complexes-advantages__icon {
        margin-bottom: 12px;
    }
    .complexes-advantages__item-body {
        max-width: 280px;
    }
    .complexes-advantages__item-title {
        font-size: 21px;
        line-height: 22px;
        margin-bottom: 6px;
        max-width: 180px;
    }
}

@media (max-width: 650px) {
    .complexes-advantages__item-text {
        font-size: 14px;
        max-width: 300px;
    }
    .complexes-advantages__item-body {
        max-width: 250px;
    }
}

@media (max-width: 600px) {
    .constraction-advantages__item {
        display: flex;
        flex: 1 1 100%;
        gap: 20px;
    }
    .complexes-advantages__item-text {
        font-size: 17px;
        max-width: 396px;
    }
    .complexes-advantages__item-body {
        max-width: none;
        padding-right: 20px;
    }

    .complexes-advantages__item-title {
        font-size: 23px;
        line-height: 23px;
        margin-bottom: 10px;
        max-width: none;
    }

    .complexes-advantages__icon {
        margin-bottom: 0px;
        height: 50px;
    }
    .advantages__title {
        margin-bottom: 23px;
    }

    .advantages__item-description {
        font-size: 16px;
        line-height: 20px;
    }
}

@media (max-width: 560px) {
    .constraction-advantages {
        padding-bottom: 50px;
    }
}

@media (max-width: 516px) {
    .constraction-advantages__title {
        margin-bottom: 20px;
    }
}

@media (max-width: 500px) {
    .constraction-advantages {
        padding-bottom: 40px;
    }

    .complexes-advantages__icon {
        height: 38px;
    }

    .constraction-advantages__item {
        gap: 15px;
    }

    .complexes-advantages__item-title {
        font-size: 21px;
        max-width: none;
    }
}

@media (max-width: 425px) {
    .constraction-advantages__title {
        max-width: 270px;

    }
    .constraction-advantages__items {
        row-gap: 20px;
    }

    .constraction-advantages__item {
        gap: 12px;
    }

    .complexes-advantages__item-title {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 7px;
    }

    .complexes-advantages__item-text {
        font-size: 16px;
        line-height: 20px;
    }

    .complexes-advantages__item-body {
        padding-right: 0;
    }
}

@media (max-width: 375px) {
    .constraction-advantages__item {
        gap: 10px;
    }

    .complexes-advantages__item-title {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 5px;
    }

    .complexes-advantages__icon {
        height: 30px;
    }
}


/* 4 БЛОК */
.finishing-options {
    padding-bottom: 100px;
}

.finishing-options__container {}

.finishing-options__title {
    margin-bottom: 50px;
}

.finishing-options__variants {
    display: flex;
    gap: 20px;
}

.finishing-options__item {
    flex: 1 1 33.333%;
    padding: 40px 60px 40px 36px;
}

.finishing-options__item-title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}

.finishing-options__list {
    position: relative;
    list-style: none;
}

.finishing-options__list-item {
    max-width: 384px;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.05em;
    position: relative;
    left: 23px;
}

.finishing-options__list-item::before {
    content: '•';
    font-size: 19px;
    left: -23px;
    position: absolute;
}

.finishing-options__list-item:not(:last-child) {
    margin-bottom: 15px;
}

.finishing-options__list-item>span {
    font-weight: 700;
    color: #83B32B;
}

@media (max-width: 1400px) {
    .finishing-options__item {
        padding: 35px 55px 35px 30px;
    }
    .finishing-options__title {
        margin-bottom: 40px;
    }
    .finishing-options__list-item {
        font-size: 18px;
        line-height: 23px;
    }
    .finishing-options__item-title {
        font-size: 30px;
    }
}

@media (max-width: 1329px) {
    .finishing-options__list-item:not(:last-child) {
        margin-bottom: 13px;
    }
}

@media (max-width: 1300px) {
    .finishing-options__title {
        margin-bottom: 35px;
    }
    .finishing-options__item {
        padding: 30px 50px 30px 25px;
    }
}
@media (max-width: 1298px) {
    .finishing-options__item-title {
        font-size: 27px;
    }
    .finishing-options__list-item {
        font-size: 17px;
        line-height: 22px;
    }
}

@media (max-width: 1260px) {
    .finishing-options {
        padding-bottom: 90px;
    }
    .finishing-options__list-item {
        left: 20px;
    }
    .finishing-options__list-item::before {
        left: -20px;
    }
    .finishing-options__list-item:not(:last-child) {
        margin-bottom: 11px;
    }
}

@media (max-width: 1170px) {
    .finishing-options__item {
        padding: 25px 45px 25px 22px;
    }
    .finishing-options__title {
        margin-bottom: 33px;
    }
    .finishing-options__list-item {
        max-width: 258px;
        font-size: 15px;
        line-height: 20px;
    }
}
@media (max-width: 1096px) {
    .finishing-options__item-title {
        font-size: 24px;
    }
}

@media (max-width: 1070px) {
    .finishing-options {
        padding-bottom: 80px;
    }
    .finishing-options__list-item {
        max-width: 235px;
    }
}

@media (max-width: 991px) {
    .finishing-options__variants {
        flex-wrap: wrap;
    }
    .finishing-options__item-title {
        font-size: 21px;
    }
    .finishing-options__item {
        padding: 35px 55px 35px 30px;
    }
    .finishing-options__list-item {
        font-size: 18px;
        line-height: 23px;
        max-width: 351px;
        left: 23px;
    }
    .finishing-options__list-item::before {
        left: -23px;
    }
    .finishing-options__item-title {
        font-size: 30px;
    }
    .finishing-options__list-item:not(:last-child) {
        margin-bottom: 12px;
    }
}

@media (max-width: 880px) {
    .finishing-options {
        padding-bottom: 70px;
    }
    .finishing-options__list-item:not(:last-child) {
        margin-bottom: 11px;
    }
}

@media (max-width: 850px) {
    .finishing-options__item {
        padding: 30px 50px 30px 25px;
    }
    .finishing-options__item-title {
        font-size: 27px;
        left: 20px;
    }
    .finishing-options__list-item::before {
        left: -20px;
    }
    .finishing-options__list-item {
        font-size: 17px;
        line-height: 22px;
        max-width: 317px;
    }
}

@media (max-width: 794px) {
    .finishing-options__title {
        margin-bottom: 27px;
    }

    .finishing-options {
        padding-bottom: 60px;
    }

    .finishing-options__item {
        padding: 25px 45px 25px 22px;
    }
    .finishing-options__list-item {
        font-size: 15px;
        max-width: 271px;
    }
    .finishing-options__item-title {
        font-size: 24px;
    }
}

@media (max-width: 670px) {
    .finishing-options__item {
        padding: 20px;
    }
    .finishing-options__title {
        margin-bottom: 30px;
    }

    .finishing-options__list-item {
        font-size: 14px;
        max-width: 237px;
        line-height: 18px;
    }

    .finishing-options__list-item:not(:last-child) {
        margin-bottom: 10px;
    }
}
@media (max-width: 650px) {
    .finishing-options__list-item {
        max-width: 223px;
    }
}

@media (max-width: 600px) {
    .finishing-options__item {
        flex: 1 1 100%;
        padding: 30px 50px 30px 25px;
    }
    .finishing-options__list-item {
        font-size: 17px;
        line-height: 22px;
        max-width: 335px;
        left: 22px;
    }
    .finishing-options__list-item::before {
        left: -22px;
    }
    .finishing-options__item-title {
        font-size: 26px;
    }
    .finishing-options__list-item:not(:last-child) {
        margin-bottom: 11px;
    }
    .finishing-options__list-item::before {
        top: 50%;
        transform: translateY(-50%);
    }
}
@media (max-width: 516px) {
    .finishing-options__list-item {
        line-height: 22px;
    }
    .finishing-options__item-title {
        font-size: 23px;
    }
    .finishing-options__item {
        padding: 25px 45px 25px 22px;
    }
    .finishing-options__list-item {
        left: 20px;
    }
    .finishing-options__list-item::before {
        left: -20px;
    }
}

@media (max-width: 500px) {
    .finishing-options {
        padding-bottom: 40px;
    }
    .finishing-options__list-item {
        font-size: 16px;
        max-width: 352px;
        line-height: 20px;
    }
    .finishing-options__list-item:not(:last-child) {
        margin-bottom: 11px;
    }
    .finishing-options__item-title {
        font-size: 21px;
    }

}
@media (max-width: 425px) {
    .finishing-options {
        padding-bottom: 40px;
    }
    .finishing-options__item {
        padding: 20px 40px 20px 20px;
    }
    .finishing-options__list-item::before {
        left: -18px;
    }
    .finishing-options__list-item:not(:last-child) {
        margin-bottom: 10px;
    }
}

@media (max-width: 375px) {
    .finishing-options__item-title {
        font-size: 20px;
    }
    .finishing-options__list-item {
        font-size: 14px;
        line-height: 18px;
    }
}
@media (max-width: 320px) {
    .finishing-options__item {
        padding: 20px 30px 20px 20px;
    }
}


/* 5 БЛОК */
.how-buy {
    padding-bottom: 101px;
}

.how-buy__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.how-buy__title {
    margin-bottom: 50px;
}

.how-buy__payment-types {
    display: flex;
    gap: 15px;
    margin-bottom: 48px;
}

.how-buy__button {
    width: 230px;
    border-radius: 8px;
    background: transparent;
    border: 1px solid #D9D9D9;
    padding: 16.5px 0px;
}

.how-buy__button_active {
    border-color: #83B32B;
    background: #83B32B;
    color: #F4F4F4;
}

.how-buy__button:hover {
    border-color: #83B32B;
    background: #83B32B;
    color: #F4F4F4;
}

.how-buy__body {
    display: flex;
    width: 100%;
}

.how-buy__payment-type-descriprion {
    width: 535px;
    border-right: 1px solid #D9D9D9;
    padding: 40px 40px 30px 40px;
}

.how-buy__payment-type-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -0.04em;
    margin-bottom: 10px;
}

.how-buy__payment-type-text {
    max-width: 424px;
    color: #646666;
    margin-bottom: 0px;
}

.how-buy__payment-type-text:not(:last-child) {
    margin-bottom: 8px;
}

.how-buy__feedback {
    padding: 36px 40px 60px 40px;
    max-width: 1005px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.how-buy__feedback-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -0.04em;
    margin-bottom: 10px;
}

.how-buy__feedback-text {
    line-height: 25px;
    color: #646666;
    margin-bottom: 39px;
}

.how-buy__feedback-form {
    flex-direction: row;
    gap: 15px;
}

.how-buy__input {
    margin-bottom: 0 !Important;
    max-width: 290px;
}

.how-buy__input:nth-of-type(2) {
    max-width: 255px;
}

.how-buy__form-button {
    font-size: 18px;
    width: 290px;
}

@media (max-width: 1500px) {
    .how-buy__payment-type-descriprion {
        padding: 31px 40px 60px 40px;
    }

    .how-buy__feedback-form {
        flex-wrap: wrap;
        justify-content: center;
    }

    .how-buy__feedback {
        padding: 31px 40px 30px 40px;
        max-width: 900px;
    }
}

@media (max-width: 1400px) {
    .how-buy__title {
        margin-bottom: 40px;
    }

    .how-buy__feedback {
        max-width: 850px;
    }
}

@media (max-width: 1329px) {
    .how-buy__payment-type-text {
        font-size: 17px;
    }

    .how-buy__feedback-text {
        font-size: 17px;
        line-height: 23px;
        margin-bottom: 31px;
    }

    .how-buy__feedback-title,
    .how-buy__payment-type-title {
        font-size: 30px;
        line-height: 36px;
    }

    .how-buy__form-button {
        font-size: 17px;
        padding: 16px 0px 16px 0px;
    }

    .how-buy__payment-types {
        margin-bottom: 41px;
    }

    .how-buy__button {
        width: 230px;
        font-size: 17px;
        padding: 16px 0px;
    }
}

@media (max-width: 1300px) {
    .how-buy__title {
        margin-bottom: 35px;
    }

    .how-buy__payment-type-descriprion {
        padding: 27px 30px 50px 30px;
    }

    .how-buy__feedback {
        padding: 27px 30px 30px 30px;
    }
}

@media (max-width: 1260px) {
    .how-buy {
        padding-bottom: 91px;
    }

    .how-buy__feedback-title,
    .how-buy__payment-type-title {
        font-size: 27px;
        line-height: 32px;
    }

    .how-buy__form-button {
        padding: 15px 0px 15px 0px;
    }

    .how-buy__payment-types {
        margin-bottom: 37px;
        gap: 13px;
    }

    .how-buy__button {
        width: 210px;
        padding: 15.5px 0px;
    }
}

@media (max-width: 1170px) {
    .how-buy__title {
        margin-bottom: 33px;
    }

    .how-buy__payment-type-text {
        font-size: 16px;
    }

    .how-buy__feedback-text {
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 27px;
    }

    .how-buy__payment-type-text:not(:last-child) {
        margin-bottom: 10px;
    }

    .how-buy__payment-types {
        margin-bottom: 34px;
    }

    .how-buy__button {
        font-size: 16px;
        padding: 15px 0px;
    }
}

@media (max-width: 1070px) {
    .how-buy {
        padding-bottom: 81px;
    }

    .how-buy__payment-type-descriprion {
        padding: 25px 28px 40px 28px;
    }

    .how-buy__feedback {
        padding: 25px 28px 30px 28px;
    }

    .how-buy__button {
        width: 180px;
        padding: 14.5px 0px;
    }
}

@media (max-width: 991px) {
    .how-buy__title {
        margin-bottom: 30px;
    }

    .how-buy__feedback {
        text-align: center;
    }

    .how-buy__feedback-text {
        max-width: 310px;
    }

    .how-buy__form-button {
        font-size: 16px;
        padding: 14px 0px 14px 0px;
    }
}

@media (max-width: 948px) {
    .how-buy__input {
        margin-bottom: 0 !Important;
        max-width: 290px;
        width: 100%;
    }

    .how-buy__input:nth-of-type(2) {
        max-width: 290px;
    }
}

@media (max-width: 880px) {
    .how-buy {
        padding-bottom: 71px;
    }

    .how-buy__payment-type-descriprion {
        padding: 20px 25px 30px 25px;
    }

    .how-buy__feedback {
        padding: 20px 25px 30px 25px;
    }

    .how-buy__input {
        margin-bottom: 0 !Important;
        max-width: 290px;
        width: 100%;
    }

    .how-buy__payment-type-text:not(:last-child) {
        margin-bottom: 12px;
    }

    .how-buy__payment-types {
        margin-bottom: 28px;
        gap: 10px;
    }

    .how-buy__button {
        width: 150px;
        font-size: 16px;
        padding: 15px 0px;
    }
}

@media (max-width: 850px) {
    .how-buy__payment-type-text {
        font-size: 15px;
    }

    .how-buy__feedback-text {
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 24px;
    }

    .how-buy__button {
        font-size: 15px;
        padding: 14.5px 0px;
    }

    .how-buy__feedback {
        text-align: center;
    }

    .how-buy__feedback-title,
    .how-buy__payment-type-title {
        font-size: 24px;
        line-height: 28px;
    }
}

@media (max-width: 794px) {
    .how-buy {
        padding-bottom: 61px;
    }

    .how-buy__title {
        margin-bottom: 27px;
    }

    .how-buy__payment-types {
        margin-bottom: 25px;
    }

    .how-buy__button {
        width: 145px;
        font-size: 14px;
        padding: 14px 0px;
    }

}

@media (max-width: 650px) {
    .how-buy__payment-types {
        margin-bottom: 32px;
        flex-wrap: wrap;
        gap: 15px;
    }

    .how-buy__button {
        flex: 1 1 calc(50% - 15px);
        font-size: 16px;
        padding: 15px 0px;
    }
}

@media (max-width: 600px) {
    .how-buy__body.bordered-block {
        border-radius: 0px;
        border: none;
    }

    .how-buy__payment-types {
        margin-bottom: 29px;
    }

    .how-buy__payment-type-descriprion {
        border: none;
    }

    .how-buy__feedback {
        border: 1px solid #D9D9D9;
        border-radius: 8px;
        overflow: hidden;
    }

    .how-buy__body {
        flex-direction: column;
    }

    .how-buy__feedback {
        padding: 25px 28px 30px 28px;
    }

    .how-buy__payment-type-descriprion {
        padding: 0px;
        margin-bottom: 20px;
    }

    .how-buy__payment-type-descriprion {
        width: 100%;
    }

    .how-buy__payment-type-text:not(:last-child) {
        margin-bottom: 10px;
    }

    .how-buy__feedback-title,
    .how-buy__payment-type-title {
        font-size: 27px;
        line-height: 32px;
    }

    .how-buy__payment-type-text {
        font-size: 16px;
        max-width: 600px;
    }

    .how-buy__feedback-text {
        max-width: none;
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 27px;
    }

    .how-buy__input {
        max-width: none;
        width: 100%;
    }

    .how-buy__input:nth-of-type(2) {
        max-width: none;
        width: 100%;
    }

    .how-buy__form-button {
        max-width: none;
        width: 100%;
    }

    .how-buy__payment-types {
        margin-bottom: 27px;
    }
}

@media (max-width: 560px) {
    .how-buy {
        padding-bottom: 51px;
    }
}

@media (max-width: 516px) {
    .how-buy__title {
        margin-bottom: 20px;
    }

    .how-buy__feedback-title,
    .how-buy__payment-type-title {
        font-size: 24px;
        line-height: 27px;
    }

    .how-buy__feedback {
        padding: 20px 25px 26px 25px;
    }

    .how-buy__payment-types {
        margin-bottom: 24px;
        gap: 12px;
    }

    .how-buy__button {
        font-size: 15px;
        padding: 14.5px 0px;
    }
}

@media (max-width: 500px) {
    .how-buy {
        padding-bottom: 41px;
    }

    .how-buy__feedback-title,
    .how-buy__payment-type-title {
        font-size: 22px;
        line-height: 25px;
    }

    .how-buy__payment-type-text {
        font-size: 15px;
    }

    .how-buy__feedback-text {
        font-size: 15px;
        margin-bottom: 22px;
    }

    .how-buy__payment-type-text:not(:last-child) {
        margin-bottom: 12px;
    }

    .how-buy__payment-types {
        margin-bottom: 21px;
    }
}

@media (max-width: 425px) {
    .how-buy__feedback {
        padding: 20px 22px 23px 22px;
    }

    .how-buy__feedback-text {
        margin-bottom: 14px;
        line-height: 20px;
    }

    .how-buy__payment-types {
        margin-bottom: 20px;
        gap: 10px;
    }

    .how-buy__button {
        font-size: 14px;
        padding: 14px 0px;
    }
}

@media (max-width: 375px) {
    .how-buy__feedback {
        padding: 20px;
    }

    .how-buy__feedback-title,
    .how-buy__payment-type-title {
        font-size: 20px;
        line-height: 22px;
    }

    .how-buy__payment-type-text {
        font-size: 14px;
    }

    .how-buy__feedback-text {
        font-size: 14px;
        margin-bottom: 10px;
    }
}


/* 6 БЛОК */
.why-us {
    padding-bottom: 100px;
}
.why-us__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.why-us__title {
    line-height: 66px;
    margin-bottom: 50px;
}
.why-us__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.why-us__card {
    display: flex;
    flex: 1 1 calc(50% - 20px);
}
.why-us__card > * {
    flex: 1 1 50%;
}
.why-us__card-body {
    padding: 40px 0px 0px 40px;
}
.why-us__card-title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #83B32B;
}
.why-us__card-list {
    max-width: 311px;
}
.why-us__card-list-item {
    color: #646666;
    margin-left: 18px;
}
.why-us__card-list-item:not(:last-child) {
    margin-bottom: 10px;
}
.why-us__card-list-item::marker {
    display: block;
    width: 6px;
    color: #292929;
}
.why-us__card-img-wrap {
}
.why-us__card-img {
    object-fit: contain;
}


.feedback__title {
    font-size: 36px;
    line-height: 42px;
    max-width: 627px;
}
.feedback__text {
    font-size: 18px;
}
