/* 3 БЛОК */
.our-mission {
    padding-bottom: 100px;
}
.our-mission__container {
}
.our-mission__wrapper {
    display: flex;
}
.our-mission__wrapper > * {
    flex: 1 0 50%;
}
.our-mission__body {
    padding: 40px 40px 30px 40px;
}
.our-mission__title {
    margin-bottom: 10px;
}
.our-mission__text {
    max-width: 603px;
    color: #646666;
}
.our-mission__text:not(:last-child) {
    margin-bottom: 22px;
}
.our-mission__img-wrap {
    width: 100%;
    max-height: 480px;
}
.our-mission__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
@media (max-width: 1400px) {
    .our-mission__text {
        font-size: 17px;
    }
    .our-mission__text:not(:last-child) {
        margin-bottom: 20px;
    }
}

@media (max-width: 1300px) {
    .our-mission__body {
        padding: 30;
    }
    .our-mission__text:not(:last-child) {
        margin-bottom: 18px;
    }
}

@media (max-width: 1230px) {
    .our-mission__text {
        font-size: 16px;
    }
    .our-mission__text:not(:last-child) {
        margin-bottom: 17px;
    }
}

@media (max-width: 1260px) {
    .our-mission {
        padding-bottom: 90px;
    }
}

@media (max-width: 1170px) {
    .our-mission__text:not(:last-child) {
        margin-bottom: 18px;
    }
    .our-mission__title {
        margin-bottom: 12px;
    }
    .our-mission__body {
        padding: 25px;
        flex-basis: 45%;
    }
}

@media (max-width: 1070px) {
    .our-mission {
        padding-bottom: 80px;
    }
}

@media (max-width: 991px) {
    .our-mission__title {
        margin-bottom: 16px;
    }
    .our-mission__text {
        font-size: 15px;
    }
    .our-mission__body {
        padding: 20px 30px 20px 20px;
    }
}

@media (max-width: 880px) {
    .our-mission {
        padding-bottom: 70px;
    }
    .our-mission__text {
        font-size: 14px;
    }
}

@media (max-width: 794px) {
    .our-mission {
        padding-bottom: 60px;
    }
    .our-mission__wrapper {
        flex-direction: column-reverse;
    }
    .our-mission__text:not(:last-child) {
        margin-bottom: 20px;
    }
    .our-mission__img-wrap {
        max-height: none;
    }
    .our-mission__img {
        object-fit: contain;
        width: 100%;
        height: auto;
    }
    .our-mission__text {
        font-size: 17px;
        max-width: none;
    }
    .our-mission__text > br {
        display: none;
    }
    .our-mission__body {
        padding: 28px;
    }
    .our-mission__title {
        margin-bottom: 18px;
    }
}

@media (max-width: 700px) {
    .our-mission__body {
        padding: 25px;
    }
    .our-mission__text {
        font-size: 16px;
    }
}

@media (max-width: 560px) {
    .our-mission {
        padding-bottom: 50px;
    }
    .our-mission__body {
        padding: 23px;
    }
    .our-mission__text {
        font-size: 15px;
    }
}

@media (max-width: 516px) {
    .our-mission__title {
        margin-bottom: 20px;
    }
}

@media (max-width: 500px) {
    .our-mission {
        padding-bottom: 40px;
    }
    .our-mission__text:not(:last-child) {
        margin-bottom: 18px;
    }
}

@media (max-width: 425px) {
    .our-mission__body {
        padding: 20px;
    }
    .our-mission__text {
        font-size: 14px;
    }
}


/* 4 БЛОК */
.our-goal {
    padding-bottom: 100px;
}
.our-goal__container {
}
.our-goal__wrapper {
    display: flex;
}
.our-goal__wrapper > * {
    flex: 1 0 50%;
}
.our-goal__img-wrap {
    overflow: hidden;
    width: 100%;
    max-height: 510px;
}
.our-goal__img {
    height: 100%;
    width: 100%;
    object-fit: cover
}
.our-goal__body {
    padding: 40px 20px 0px 40px;
    max-width: 770px;
}
.our-goal__title {
    margin-bottom: 10px;
}
.our-goal__text {
    color: #646666;
}
.our-goal__text:nth-of-type(2) {
    margin-bottom: 0px!Important;
}
.our-goal__text:not(:last-child) {
    margin-bottom: 22px;
}
.our-goal__list {
    list-style: none;
    margin-bottom: 22px;
}
.our-goal__list-item {
    color: #646666;
}

.our-goal__list-item::before {
    content: '—';
    color: #646666;
    margin-right: 5px;
}

@media (max-width: 1600px) {
    .our-goal__body {
        padding: 40px 20px 30px 40px;
    }

    .our-goal__img-wrap {
        max-height: none;
    }
}
@media (max-width: 1400px) {
    .our-goal__text {
        font-size: 17px;
    }
    .our-goal__text:not(:last-child) {
        margin-bottom: 20px;
    }
    .our-goal__list {
        margin-bottom: 20px;
    }
    .our-goal__list-item {
        font-size: 17px;
    }
}

@media (max-width: 1300px) {
    .our-goal__body {
        padding: 30;
    }
    .our-goal__text:not(:last-child) {
        margin-bottom: 18px;
    }
}

@media (max-width: 1230px) {
    .our-goal__text {
        font-size: 16px;
    }
    .our-goal__text:not(:last-child) {
        margin-bottom: 17px;
    }
    .our-goal__list {
        margin-bottom: 17px;
    }
    .our-goal__list-item {
        font-size: 16px;
    }
}

@media (max-width: 1260px) {
    .our-goal {
        padding-bottom: 90px;
    }
}

@media (max-width: 1170px) {
    .our-goal__title {
        margin-bottom: 12px;
    }
    .our-goal__body {
        padding: 25px;
        flex-basis: 45%;
    }
}

@media (max-width: 1070px) {
    .our-goal {
        padding-bottom: 80px;
    }
}

@media (max-width: 991px) {
    .our-goal__title {
        margin-bottom: 16px;
    }
    .our-goal__text {
        font-size: 15px;
    }
    .our-goal__list-item {
        font-size: 15px;
    }
    .our-goal__body {
        padding: 20px 30px 20px 20px;
    }
}

@media (max-width: 880px) {
    .our-goal {
        padding-bottom: 70px;
    }
    .our-goal__text {
        font-size: 14px;
    }
    .our-goal__list-item {
        font-size: 14px;
    }
}


@media (max-width: 794px) {
    .our-goal {
        padding-bottom: 60px;
    }
    .our-goal__wrapper {
        flex-direction: column;
    }
    .our-goal__text:not(:last-child) {
        margin-bottom: 20px;
    }
    .our-goal__list {
        margin-bottom: 20px;
    }
    .our-goal__list-item {
        font-size: 17px;
    }

    .our-goal__img {
        max-height: none;
    }

    .our-goal__img {
        right: 0;
        object-fit: contain;
        width: 100%;
        height: auto;
    }
    .our-goal__text {
        font-size: 17px;
        max-width: none;
    }
    .our-goal__text > br {
        display: none;
    }
    .our-goal__body {
        padding: 28px;
    }
    .our-goal__title {
        margin-bottom: 18px;
    }
}

@media (max-width: 700px) {
    .our-goal__body {
        padding: 25px;
    }
    .our-goal__text {
        font-size: 16px;
    }
    .our-goal__list-item {
        font-size: 16px;
    }
}

@media (max-width: 560px) {
    .our-goal {
        padding-bottom: 50px;
    }
    .our-goal__body {
        padding: 23px;
    }
    .our-goal__text {
        font-size: 15px;
    }
    .our-goal__list-item {
        font-size: 15px;
    }
}

@media (max-width: 516px) {
    .our-goal__title {
        margin-bottom: 20px;
    }
}

@media (max-width: 500px) {
    .our-goal {
        padding-bottom: 40px;
    }
    .our-goal__text:not(:last-child) {
        margin-bottom: 18px;
    }
    .our-goal__list {
        margin-bottom: 18px;
    }
}

@media (max-width: 425px) {
    .our-goal__body {
        padding: 20px;
    }
    .our-goal__text {
        font-size: 14px;
    }
    .our-goal__list-item {
        font-size: 14px;
    }
}


/* 5 БЛОК */
.our-team {
    padding-bottom: 100px;
}
.our-team__container {
}
.our-team__title {
    margin-bottom: 87px;
}
.our-team__persone-cards {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 114px;
    width: 100%;
}
.our-team__persone-card {
    overflow: visible;
    flex: 1 1 calc(33.333% - 20px);
}
.our-team__persone-card-items {
}
.our-team__persone-card-img-wrap {
    position: relative;
    height: 350px;
    background: #F4F4F4;
    overflow: visible;
}
.our-team__persone-card-img {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}
.our-team__persone-card-description {
    text-align: center;
    padding: 30px 10px 20px 10px;
}
.our-team__persone-card-title {
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: -0.05em;
}
.our-team__persone-card-text {
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: -0.05em;
    color: #646666;
}

.our-team__slider {
    display: none;
}

.our-team__swiper-pagination {
    position: relative;
}

.our-team__swiper > .swiper-wrapper {
    margin-bottom: 15px;
}

@media (max-width: 1400px) {
    .our-team__title {
        margin-bottom: 87px;
    }

    .our-team__persone-card-title {
        font-size: 27px;
        line-height: 36px;
    }

    .our-team__persone-card-img-wrap {
        height: 320px;
    }

    .our-team__persone-card-img {
        max-height: 120%;
    }
}

@media (max-width: 1300px) {
    .our-team__title {
        margin-bottom: 82px;
    }
    .our-team__persone-card-description {
        padding: 25px 10px 20px 10px;
    }
    .our-team__persone-card-text {
        font-size: 18px;
        line-height: 36px;
    }
}

@media (max-width: 1230px) {
    .our-team__persone-card-title {
        font-size: 26px;
        line-height: 36px;
    }
    .our-team__persone-card-img-wrap {
        height: 290px;
    }

    .our-team__persone-card-img {
        max-height: 120%;
    }
    .our-team__persone-card-text {
        font-size: 16px;
        line-height: 28px;
    }
    .our-team__persone-card-description {
        padding: 20px 10px 20px 10px;
    }
    .our-team__persone-card-title {
        font-size: 23px;
        line-height: 30px;
    }
}

@media (max-width: 1260px) {
    .our-team {
        padding-bottom: 90px;
    }
    .our-team__persone-card-title {
        font-size: 23px;
        line-height: 30px;
    }
    .our-team__persone-cards {
        row-gap: 90px;
    }
}

@media (max-width: 1170px) {
    .our-team__title {
        margin-bottom: 70px;
    }

    .our-team__persone-card-img-wrap {
        height: 250px;
    }

    .our-team__persone-card-img {
        max-height: 120%;
    }
    
}

@media (max-width: 1070px) {
    .our-team {
        padding-bottom: 80px;
    }
    .our-team__persone-card-img-wrap {
        height: 220px;
    }

    .our-team__persone-card-img {
        max-height: 120%;
    }
    .our-team__persone-card-text {
        line-height: 25px;
    }
    .our-team__persone-card-title {
        font-size: 21px;
        line-height: 22px;
    }
}

@media (max-width: 991px) {
    .our-team__title {
        margin-bottom: 53px;
    }

    .our-team__persone-cards {
        display: none;
    }

    .our-team__slider {
        display: flex;
        width: 100%;
    }

    .our-team__swiper {
        overflow: visible;
    }
    
    .our-team__swiper-wrapper {
        margin-bottom: 26px !Important;
    }

    .our-team__persone-card-img-wrap {
        height: 290px;
    }

    .our-team__persone-card-img {
        max-height: 110%;
    }

    .our-team__persone-card-title {
        font-size: 27px;
        line-height: 36px;
    }
    .our-team__persone-card-description {
        padding: 25px 10px 20px 10px;
    }
    .our-team__persone-card-text {
        font-size: 18px;
        line-height: 36px;
    }
}

@media (max-width: 880px) {
    .our-team {
        padding-bottom: 70px;
    }
    .our-team__persone-card-img-wrap {
        height: 260px;
    }

    .our-team__persone-card-img {
        max-height: 120%;
    }

    .our-team__persone-card-title {
        font-size: 24px;
        line-height: 28px;
    }
    .our-team__persone-card-text {
        font-size: 17px;
        line-height: 30px;
    }
}

@media (max-width: 794px) {
    .our-team {
        padding-bottom: 60px;
    }

    .our-team__title {
        margin-bottom: 50px;
    }

    .our-team__persone-card-img-wrap {
        height: 240px;
    }

    .our-team__persone-card-img {
        max-height: 120%;
    }

    .our-team__persone-card-title {
        font-size: 22px;
        line-height: 25px;
    }
    .our-team__persone-card-description {
        padding: 20px 10px 20px 10px;
    }
    .our-team__persone-card-text {
        font-size: 16px;
        line-height: 27px;
    }
}

@media (max-width: 700px) {
    .our-team__swiper-wrapper {
        margin-bottom: 23px !Important;
    }

    .our-team__slider>.swiper-slide {
        width: 100% !important;
    }

    .our-team__title {
        margin-bottom: 45px;
    }

    .our-team__persone-card-img-wrap {
        height: 320px;
    }

    .our-team__persone-card-img {
        max-height: 110%;
    }

    .our-team__persone-card-title {
        font-size: 26px;
        line-height: 28px;
    }
    .our-team__persone-card-description {
        padding: 25px 10px 20px 10px;
    }
    .our-team__persone-card-text {
        font-size: 18px;
        line-height: 31px;
    }
}

@media (max-width: 560px) {
    .our-team {
        padding-bottom: 50px;
    }
}

@media (max-width: 516px) {
    .our-team__title {
        margin-bottom: 40px;
    }

    .our-team__swiper-wrapper {
        margin-bottom: 18px !Important;
    }
}

@media (max-width: 500px) {
    .our-team {
        padding-bottom: 40px;
    }
    .our-team__persone-card-img-wrap {
        height: 280px;
    }

    .our-team__persone-card-img {
        max-height: 110%;
    }

    .our-team__persone-card-title {
        font-size: 22px;
        line-height: 25px;
    }
    .our-team__persone-card-description {
        padding: 20px 10px 20px 10px;
    }
    .our-team__persone-card-text {
        font-size: 16px;
        line-height: 27px;
    }
}

@media (max-width: 425px) {
    .our-team__title {
        margin-bottom: 54px;
    }

    .our-team__swiper-wrapper {
        margin-bottom: 15px !Important;
    }

    .our-team__persone-card-img-wrap {
        height: 250px;
    }

    .our-team__persone-card-img {
        max-height: 120%;
    }

    .our-team__persone-card-title {
        font-size: 20px;
        line-height: 22px;
    }

    .our-team__persone-card-text {
        line-height: 23px;
    }
}

@media (max-width: 375px) {
    .our-team__persone-card-img-wrap {
        height: 220px;
    }

    .our-team__persone-card-img {
        max-height: 120%;
    }
    .our-team__persone-card-title {
        font-size: 18px;
        line-height: 20px;
    }
}

@media (max-width: 320px) {
    .our-team__persone-card-img-wrap {
        height: 218px;
    }

    .our-team__persone-card-img {
        max-height: 120%;
    }
    .our-team__persone-card-text {
        line-height: 20px;
    }
}


/* 6 БЛОК */
.why-choose-us {
    padding-bottom: 100px;
}
.why-choose-us__container {
}
.why-choose-us__title {
    margin-bottom: 50px;
}
.why-choose-us__cards {
    display: flex;
    column-gap: 20px;
}
.why-choose-us__card {
    flex: 1 1 50%;
    display: flex;
}
.why-choose-us__card-body {
    padding: 40px 20px 30px 40px;
}
.why-choose-us__card-title {
    font-size: 30px;
    margin-bottom: 16px;
}
.why-choose-us__card-list {
    max-width: 412px;
}
.why-choose-us__card-list-item {
    font-size: 16px;
    line-height: 30px;
    color: #646666;
    display: flex;
    align-items: center;
}
.why-choose-us__card-list-item:not(:last-child) {
    margin-bottom: 2px;
}
.why-choose-us__card-list-item::before {
    content: '•';
    font-size: 18px;
    color: #83B32B;
    margin-right: 10px;
}
.why-choose-us__card-img-wrap {
    margin-left: auto;
    height: 100%;
    max-height: 286px;
    max-width: 286px;
}
.why-choose-us__card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 286 / 286;
}

@media (max-width: 1600px) {
    .why-choose-us__card-title {
        font-size: 28px;
    }
    .why-choose-us__card-list-item {
        line-height: 27px;
    }
    .why-choose-us__card-img-wrap {
        max-height: none;
    }
}

@media (max-width: 1500px) {
    .why-choose-us__card-body {
        padding: 30px 20px 30px 30px;
    }
    .why-choose-us__card-title {
        font-size: 25px;
        margin-bottom: 13px;
    }
}

@media (max-width: 1440px) {
    .why-choose-us__card-list-item {
        font-size: 15px;
        line-height: 24px;
    }
}

@media (max-width: 1400px) {
    .why-choose-us__title {
        margin-bottom: 40px;
    }
}
@media (max-width: 1350px) {
    .why-choose-us__card-list-item {
        line-height: 22px;
    }
}

@media (max-width: 1300px) {
    .why-choose-us__title {
        margin-bottom: 35px;
    }

    .why-choose-us__card-title {
        margin-bottom: 17px;
    }
}

@media (max-width: 1260px) {
    .why-choose-us {
        padding-bottom: 90px;
    }
    .why-choose-us__card-body {
        padding: 25px 20px 25px 25px;
    }
    .why-choose-us__card-title {
        font-size: 22px;
    }
}

@media (max-width: 1190px) {
    .why-choose-us__card {
        flex-direction: column-reverse;
    }
    .why-choose-us__card-img-wrap {
        max-height: 286px;
        max-width: none;
        margin-left: 0;
    }
    .why-choose-us__card-title {
        font-size: 28px;
        margin-bottom: 15px;
    }
    .why-choose-us__card-list {
        max-width: none;
    }
    .why-choose-us__card-list-item {
        font-size: 16px;
        line-height: 25px;
    }
    .why-choose-us__card-body {
        padding: 35px 20px 35px 35px;
    }
}

@media (max-width: 1070px) {
    .why-choose-us {
        padding-bottom: 80px;
    }

    .why-choose-us__title {
        margin-bottom: 33px;
    }

    .why-choose-us__card-body {
        padding: 30px 20px 30px 30px;
        max-height: 290px;
        height: 100%;
    }
}

@media (max-width: 991px) {
    .why-choose-us__title {
        margin-bottom: 30px;
    }

    .why-choose-us__card-body {
        padding: 20px;
    }

    .why-choose-us__card-list-item {
        font-size: 17px;
        line-height: 26px;
    }
}

@media (max-width: 880px) {
    .why-choose-us {
        padding-bottom: 70px;
    }
    .why-choose-us__card-title {
        font-size: 24px;
    }
    .why-choose-us__card-list-item {
        font-size: 16px;
        line-height: 24px;
    }
    .why-choose-us__card-body {
        max-height: none;
        height: 100%;
    }
}

@media (max-width: 830px) {
    .why-choose-us__card-body {
        max-height: 350px;
    }
}

@media (max-width: 794px) {
    .why-choose-us {
        padding-bottom: 60px;
    }

    .why-choose-us__title {
        margin-bottom: 27px;
    }
}

@media (max-width: 750px) {
    .why-choose-us__cards {
        flex-wrap: wrap;
        gap: 20px;
    }
    .why-choose-us__card {
        flex: 1 1 100%;
    }
    .why-choose-us__card-title {
        font-size: 25px;
        margin-bottom: 17px;
    }
    .why-choose-us__card-body {
        padding: 28px;
        max-height: none;
    }
    .why-choose-us__card-list-item {
        font-size: 17px;
        line-height: 26px;
    }
    .why-choose-us__card-img-wrap {
        max-height: 286px;
    }
}

@media (max-width: 700px) {
    .why-choose-us__card-body {
        padding: 25px;
    }
}

@media (max-width: 620px) {
    .why-choose-us__card-title {
        font-size: 24px;
        margin-bottom: 20px;
    }
    .why-choose-us__card-list-item {
        font-size: 16px;
    }
    .why-choose-us__card-list-item:not(:last-child) {
        margin-bottom: 6px;
    }
}

@media (max-width: 600px) {
    .why-choose-us__title {
        margin-bottom: 23px;
    }
}

@media (max-width: 560px) {
    .why-choose-us {
        padding-bottom: 50px;
    }

    .why-choose-us__card-body {
        padding: 23px;
    }
}

@media (max-width: 516px) {
    .why-choose-us__title {
        margin-bottom: 20px;
    }
}

@media (max-width: 500px) {
    .why-choose-us {
        padding-bottom: 40px;
    }

    .why-choose-us__card-title {
        font-size: 22px;
        margin-bottom: 16px;
    }

    .why-choose-us__card-body {
        padding: 20px;
    }
}

@media (max-width: 425px) {
    .why-choose-us__card-title {
        font-size: 20px;
    }
    .why-choose-us__card-body {
        padding: 20px 20px 20px 10px;
    }
    .why-choose-us__card-list-item {
        font-size: 15px;
        line-height: 18px;
        margin-left: 10px;
    }
    .why-choose-us__card-list-item:not(:last-child) {
        margin-bottom: 10px;
    }
    .why-choose-us__card-list-item::before {
        content: '•';
        font-size: 21px;
        color: #83B32B;
        margin-right: 10px;
    }
}
@media (max-width: 375px) {
    .why-choose-us__card-list-item {
        font-size: 14px;
    }
}


/* 7 БЛОК */
.awards {
    padding-bottom: 100px;
}
.awards__container {
}
.awards__title {
    margin-bottom: 50px;
}
.awards__slider {
}
.awards__slider-wrapper {
    margin-bottom: 57.5px;
}
.awards__slide {
    border-radius: 8px;
    overflow: hidden;
    max-height: 550px;
    user-select: none;
    height: 100%;
}
.awards__slide:not(:last-child) {
    margin-right: 20px;
}
.awards__slide-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.awards__slider-pagination {
    position: relative;
}
.awards__slider-pagination > .swiper-pagination-bullet {
    height: 14px;
    width: 14px;
    background: #292929;
    opacity: 1;
}
.awards__slider-pagination > .swiper-pagination-bullet:not(:last-child) {
    margin-right: 21px;
}
.awards__slider-pagination > .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #83B32B;
}

@media (max-width: 1600px) {
    .awards__slider-wrapper {
        margin-bottom: 55px;
    }
    .awards__slider-pagination > .swiper-pagination-bullet {
        height: 14px;
        width: 14px;
    }
    .awards__slider-pagination > .swiper-pagination-bullet:not(:last-child) {
        margin-right: 18px;
    }
}
@media (max-width: 1400px) {
    .awards__title {
        margin-bottom: 40px;
    }
    .awards__slider-wrapper {
        margin-bottom: 52px;
    }
}

@media (max-width: 1300px) {
    .awards__title {
        margin-bottom: 35px;
    }
    .awards__slider-wrapper {
        margin-bottom: 50px;
    }
    .awards__slider-pagination > .swiper-pagination-bullet {
        height: 13px;
        width: 13px;
    }
    .awards__slider-pagination > .swiper-pagination-bullet:not(:last-child) {
        margin-right: 15px;
    }
}

@media (max-width: 1230px) {
    .awards__slider-wrapper {
        margin-bottom: 47px;
    }
    .awards__slider-pagination > .swiper-pagination-bullet {
        height: 12px;
        width: 12px;
    }
    .awards__slider-pagination > .swiper-pagination-bullet:not(:last-child) {
        margin-right: 15px;
    }
}

@media (max-width: 1260px) {
    .awards {
        padding-bottom: 90px;
    }
}

@media (max-width: 1170px) {
    .awards__title {
        margin-bottom: 33px;
    }
    .awards__slider-wrapper {
        margin-bottom: 40px;
    }
    .awards__slider-pagination > .swiper-pagination-bullet {
        height: 10px;
        width: 10px;
    }
    .awards__slider-pagination > .swiper-pagination-bullet:not(:last-child) {
        margin-right: 13px;
    }
}

@media (max-width: 1070px) {
    .awards {
        padding-bottom: 80px;
    }
    .awards__slider-wrapper {
        margin-bottom: 37px;
    }
    .awards__slider-pagination > .swiper-pagination-bullet {
        height: 9px;
        width: 9px;
    }
    .awards__slider-pagination > .swiper-pagination-bullet:not(:last-child) {
        margin-right: 9px;
    }
}

@media (max-width: 991px) {
    .awards__title {
        margin-bottom: 30px;
    }
    .awards__slider-wrapper {
        margin-bottom: 26px;
    }
    .awards__slider-pagination > .swiper-pagination-bullet {
        height: 8px;
        width: 8px;
    }
    .awards__slider-pagination > .swiper-pagination-bullet:not(:last-child) {
        margin-right: 7px;
    }
}

@media (max-width: 880px) {
    .awards {
        padding-bottom: 70px;
    }
}

@media (max-width: 847px) {
    .awards__slider-pagination > .swiper-pagination-bullet {
        height: 8px;
        width: 8px;
    }
    .awards__slider-pagination > .swiper-pagination-bullet:not(:last-child) {
        margin-right: 4px;
    }
}

@media (max-width: 794px) {
    .awards {
        display: none;
    }
}


/* 8 БЛОК */
.stocks {
    padding-bottom: 100px;
}

.stocks__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stocks__title {
    align-self: flex-start;
    margin-bottom: 50px;
}

.stocks__swiper-wrapper {
    display: flex;
    width: 100%;
    margin-bottom: 60px;
}
.stocks__items > * {
    flex: 0 1 50%;
}

.stock__item {
    overflow: hidden;
    flex: 1 1 33.333%;
}

.stock__item:not(:last-child) {
    margin-right: 20px;
}

.stock__item-body {
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    max-height: 460px;
    overflow: hidden;
}

.stock__img-wrap {
    max-height: 350px;
}

.stock__img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 490 / 350;
}

.stock__item-title {
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: -0.05em;
    padding: 30px 0px 40px 39px;
}

.stocks__slider {
    /* display: none; */
    display: flex;
    width: 100%;
    margin-bottom: 60px;
}

.stocks__swiper-pagination {
    position: relative;
}

.stocks__swiper>.swiper-wrapper {
    margin-bottom: 15px;
}

@media (max-width: 1400px) {
    .stocks__title {
        margin-bottom: 40px;
    }

    .stocks__slider  {
        margin-bottom: 55px;
    }

    .stock__item-title {
        font-size: 28px;
        line-height: 38px;
    }
}

@media (max-width: 1300px) {
    .stocks__title {
        margin-bottom: 35px;
    }

    .stocks__slider {
        margin-bottom: 50px;
    }
}

@media (max-width: 1230px) {
    .stock__item-title {
        font-size: 26px;
        line-height: 36px;
    }
}

@media (max-width: 1260px) {
    .stocks {
        padding-bottom: 90px;
    }
}

@media (max-width: 1170px) {
    .stocks__title {
        margin-bottom: 33px;
    }

    .stocks__slider  {
        margin-bottom: 45px;
    }

    .stock__item-title {
        padding: 20px 0px 30px 19px;
        font-size: 23px;
        line-height: 36px;
    }
}

@media (max-width: 1070px) {
    .stocks {
        padding-bottom: 80px;
    }
}

@media (max-width: 991px) {
    .stocks__title {
        margin-bottom: 30px;
    }

    .stocks__slider {
        display: flex;
        margin-bottom: 27px;
        width: 100%;
    }
    
    .stocks__swiper-wrapper {
        margin-bottom: 26px !Important;
    }
}

@media (max-width: 880px) {
    .stocks {
        padding-bottom: 70px;
    }
}

@media (max-width: 847px) {
    .stock__item-title {
        padding: 20px 0px 20px 20px;
    }

    .stocks__slider {
        margin-bottom: 24px;
    }
}

@media (max-width: 794px) {
    .stocks {
        padding-bottom: 60px;
    }

    .stocks__title {
        margin-bottom: 27px;
    }

    .stock__item-title {
        padding: 20px 0px 20px 20px;
    }

    .stocks__slider {
        margin-bottom: 21px;
    }
}

@media (max-width: 700px) {
    .stocks__swiper-wrapper {
        margin-bottom: 23px !Important;
    }

    .stock__img-wrap {
        max-height: none;
    }

    .stocks__slider {
        margin-bottom: 22px;
    }

    .stock__item {
        width: 100%;
    }

    .stocks__slider>.swiper-slide {
        width: 100% !important;
    }

    .stock__item-body {
        max-height: none;
    }

    .stock__item-title {
        font-size: 28px;
        line-height: 38px;
    }

    .stocks__slider {
        margin-bottom: 26px;
    }
}

@media (max-width: 600px) {
    .stocks__title {
        margin-bottom: 23px;
    }

    .stocks__slider {
        margin-bottom: 17px;
    }
}

@media (max-width: 560px) {
    .stocks {
        padding-bottom: 50px;
    }
}

@media (max-width: 516px) {
    .stocks__title {
        margin-bottom: 20px;
    }

    .stocks__swiper-wrapper {
        margin-bottom: 18px !Important;
    }
}

@media (max-width: 500px) {
    .stocks {
        padding-bottom: 40px;
    }

    .stocks__slider {
        margin-bottom: 15px;
    }

    .stock__item-title {
        font-size: 26px;
        line-height: 36px;
    }
}

@media (max-width: 425px) {
    .stocks__swiper-wrapper {
        margin-bottom: 15px !Important;
    }

    .stock__item-title {
        font-size: 20px;
        line-height: 30px;
        padding: 15px 0px 20px 15px;
    }
}

@media (max-width: 390px) {
    .stocks__link {
        max-width: 100%;
    }
}

@media (max-width: 375px) {
    .stock__item-title {
        font-size: 18px;
        line-height: 25px;
        padding: 10px 0px 10px 10px;
    }

    .stocks__slider {
        margin-bottom: 9px;
    }
}

@media (max-width: 320px) {
    .stock__item-title {
        font-size: 16px;
        line-height: 20px;
    }
}
