/* 1 БЛОК */
.top-banner__text {
    line-height: 36px;
    margin-bottom: 30px;
    max-width: 500px;
}

.top-banner__list {
    margin-bottom: 47px;
}

.top-banner__button {
    width: 242px;
}

.top-banner__img-wrap {
    max-height: 510px;
}

@media (max-width: 1600px) {
    .top-banner__img-wrap {
        height: auto;
        width: 100%;
    }
    .banner-title {
        font-size: 60px;
        line-height: 70px!Important;
    }
}

@media (max-width: 1510px) {
    .banner-title {
        font-size: 50px;
        line-height: 60px!Important;
    }
}

@media (max-width: 1440px) {
    .top-banner__text {
        font-size: 24px;
        line-height: 35px;
        margin-bottom: 28px;
        max-width: 400px;
    }
    
    .top-banner__list {
        margin-bottom: 35px;
    }
    
    .top-banner__item {
        font-size: 18px;
        line-height: 23px;
    }
}

@media (max-width: 1300px) {
    .top-banner__text {
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 27px;
    }
    
    .top-banner__list {
        margin-bottom: 30px;
    }
    
    .top-banner__item {
        font-size: 17px;
    }

    .top-banner__left {
        padding: 30px;
    }

    .banner-title {
        font-size: 45px;
        line-height: 55px!Important;
    }
}
@media (max-width: 1280px) {
    .top-banner__container {
        max-height: 500px;
    }
    .top-banner__button {
        max-width: 320px;
        font-size: 17px;
        padding: 16px 0px 16px 0px;
    }
    .top-banner__button-icon {
        margin-left: 6px;
    }
    .top-banner__catalog-info {
    max-width: 320px;
    }
    .top-banner__img-wrap {
        height: auto;
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .top-banner__text {
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 25px;
        max-width: 310px;
    }

    .top-banner__item {
        font-size: 15px;
        line-height: 21px;
    }

    .top-banner__item:not(:last-child) {
        margin-bottom: 5px;
    }
}
@media (max-width: 1170px) {
    .top-banner__left {
        padding: 25px;
    }
}

@media (max-width: 1130px) {
    .top-banner__text {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 21px;
    }

    .top-banner__item {
        font-size: 14px;
        line-height: 20px;
    }

    .banner-title {
        font-size: 42px;
        line-height: 52px!Important;
    }
}

@media (max-width: 991px) {
    .top-banner__left {
        padding: 20px;
    }

    .banner-title {
        font-size: 37px;
        line-height: 46px!Important;
    }
}

@media (max-width: 970px) {
    .top-banner {
        padding-top: calc(30px + 54px);
    }
}

@media (max-width: 880px) {
    .top-banner__container {
        max-height: none;
        flex-direction: column;
        gap: 20px;
    }

    .top-banner__container > * {
        flex: 1 1 100%;
        max-width: none;
    }

    .top-banner__img-wrap {
        max-height: none;
    }

    .banner-title {
        font-size: 45px;
        line-height: 55px!Important;
    }

    .top-banner__text {
        font-size: 22px;
        line-height: 38px;
        margin-bottom: 27px;
    }
    
    .top-banner__button {
        max-width: 350px;
        font-size: 18px;
        padding: 16px 0px 16px 0px;
    }
    .top-banner__catalog-info {
        max-width: 350px;
        }
    .top-banner__list {
        margin-bottom: 40px;
    }
    
    .top-banner__item {
        font-size: 17px;
    }

    .top-banner__left {
        padding: 30px;
    }

    .top-banner__item:not(:last-child) {
        margin-bottom: 10px;
    }
}

@media (max-width: 700px) {
.top-banner__left {
    padding: 25px;
}
.top-banner__text {
    font-size: 21px;
    line-height: 28px;
    margin-bottom: 20px;
}

.top-banner__item {
    font-size: 15px;
    line-height: 21px;
}
.top-banner__button {
    max-width: 320px;
    font-size: 17px;
    padding: 16px 0px 16px 0px;
}
.top-banner__catalog-info {
    max-width: 320px;
    }

    .top-banner__button-icon {
        height: 22px;
        margin-left: 12px;
    }
}

@media (max-width: 850px) {
    .top-banner {
        padding-top: calc(25px + 54px);
    }
}

@media (max-width: 794px) {
    .top-banner {
        padding-top: calc(20px + 54px);
        padding-bottom: 61px;
    }
    .banner-title {
        font-size: 40px;
        line-height: 50px!Important;
    }
    .top-banner__text {
        margin-bottom: 25px;
        line-height: 32px;
    }
    .top-banner__list {
        margin-bottom: 35px;
    }
}

@media (max-width: 600px) {
    .top-banner {
        padding-top: calc(17px + 54px);
    }
    
    .top-banner__item:not(:last-child) {
        margin-bottom: 5px;
    }

    .top-banner__text {
        font-size: 21px;
        line-height: 26px;
        margin-bottom: 17px;
    }
    .banner-title {
        font-size: 33px;
        line-height: 43px!Important;
    }
    .top-banner__button {
        padding: 14px 0px 13px 0px;
    }
}

@media (max-width: 500px) {
    .top-banner__left {
        padding: 26px 13px 35px 13px;
    }
    .top-banner__left > *:not(.button) {
        padding: 0px 10px;
    }
    .banner-title {
        font-size: 28px;
        line-height: 39px!Important;
    }
    .top-banner__catalog-info {
        font-size: 10px;
    }
    .top-banner__button {
        font-size: 16px;
        padding: 13px 0px 12px 0px;
    }
}

@media (max-width: 500px) {
    .top-banner__text {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 14px;
    }
    .top-banner__list {
        margin-bottom: 30px;
    }
}

@media (max-width: 490px) {
    .top-banner {
        padding-top: calc(12px + 54px);
    }
    .top-banner__button {
        width: 100%;
    }
}

@media (max-width: 425px) {
    .top-banner__left {
        padding: 30px 10px 47px 10px;
    }

    .top-banner__item {
        font-size: 14px;
        line-height: 20px;
    }

    .top-banner__text {
        margin-bottom: 10px;
    }

    .top-banner__button-icon {
        height: 20px;
        margin-left: 8px;
    }
}


/* 2 БЛОК */
.advantage-speed {
    padding-bottom: 100px;
}

.advantage-speed__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advantage-speed__title {
    align-self: flex-start;
    margin-bottom: 50px;
}

/* .advantage-speed__items {
    display: flex;
    width: 100%;
} */

.advantage-speed__swiper-wrapper {
    display: flex;
    width: 100%;
}
.advantage-speed__items > * {
    flex: 0 1 50%;
}

.advantage-speed__item {
    overflow: hidden;
}

.advantage-speed__item:not(:last-child) {
    margin-right: 20px;
}

.advantage-speed__item-body {
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    max-height: 460px;
    height: 100%;
    text-align: center;
    overflow: hidden;
}

.advantage-speed__img {
    width: 100%;
    aspect-ratio: 500 / 350;
}

.advantage-speed__item-text {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.05em;
    padding: 30px 40px 32px 40px;
}
.advantage-speed__item:first-child .advantage-speed__item-text {
    padding: 30px 30px 32px 30px;
}

.advantage-speed__slider {
    display: flex;
    width: 100%;
}
/* 
.advantage-speed__slider {
    display: none;
} */

.advantage-speed__swiper-pagination {
    position: relative;
}

.advantage-speed__swiper > .swiper-wrapper {
    margin-bottom: 15px;
}

@media (max-width: 1400px) {
    .advantage-speed__title {
        margin-bottom: 40px;
    }

    .advantage-speed__item-text {
        font-size: 17px;
        padding: 30px 30px 32px 30px;
    }
}

@media (max-width: 1300px) {
    .advantage-speed__title {
        margin-bottom: 35px;
    }
}

@media (max-width: 1280px) {
    .advantage-speed__item-text {
        font-size: 17px;
        padding: 30px 20px 32px 20px;
    }

    .advantage-speed__item:first-child .advantage-speed__item-text {
        padding: 30px 20px 32px 20px;
    }
}

@media (max-width: 1260px) {
    .advantage-speed {
        padding-bottom: 90px;
    }
}

@media (max-width: 1230px) {
    .advantage-speed__item-title {
        font-size: 26px;
        line-height: 36px;
    }

    .advantage-speed__item-text {
        font-size: 16px;
        padding: 25px 20px 25px 20px;
    }

    .advantage-speed__item:first-child .advantage-speed__item-text {
        padding: 25px 20px 25px 20px;
    }
}

@media (max-width: 1170px) {
    .advantage-speed__title {
        margin-bottom: 33px;
    }

    .advantage-speed__item-title {
        padding: 20px 0px 30px 19px;
        font-size: 23px;
        line-height: 36px;
    }

    .advantage-speed__item-text {
        padding: 20px;
        font-size: 14px;
        line-height: 20px;
    }

    .advantage-speed__item:first-child .advantage-speed__item-text {
        padding: 20px;
    }
}

@media (max-width: 1040px) {
    .advantage-speed__item:first-child .advantage-speed__item-text {
        padding: 15px;
    }
}
@media (max-width: 1070px) {
    .advantage-speed {
        padding-bottom: 80px;
    }
}

@media (max-width: 991px) {
    .advantage-speed__title {
        margin-bottom: 30px;
    }

    .advantage-speed__items {
        display: none;
    }

    .advantage-speed__slider {
        display: flex;
        width: 100%;
    }
    
    .advantage-speed__swiper-wrapper {
        margin-bottom: 26px !Important;
    }

    .advantage-speed__item-text {
        font-size: 18px;
        padding: 30px 30px 32px 30px;
    }

    .advantage-speed__item:first-child .advantage-speed__item-text {
        padding: 30px 30px 32px 30px;
    }
}

@media (max-width: 880px) {
    .advantage-speed {
        padding-bottom: 70px;
    }
}

@media (max-width: 847px) {
    .advantage-speed__item-text {
        font-size: 17px;
        padding: 30px 25px 30px 25px;
    }

    .advantage-speed__item:first-child .advantage-speed__item-text {
        padding: 30px 25px 30px 25px;
    }
}

@media (max-width: 794px) {
    .advantage-speed {
        padding-bottom: 60px;
    }

    .advantage-speed__title {
        margin-bottom: 27px;
    }

    .advantage-speed__item-text {
        font-size: 16px;
        padding: 15px;
    }

    .advantage-speed__item:first-child .advantage-speed__item-text {
        padding: 15px;
    }
}

@media (min-width: 701px) {
    .advantage-speed__item-text > br {
        display: none;
    }
}

@media (max-width: 700px) {
    .advantage-speed__swiper-wrapper {
        margin-bottom: 23px !Important;
    }

    .advantage-speed__item {
        width: 100%;
    }

    .advantage-speed__slider>.swiper-slide {
        width: 100% !important;
    }

    .advantage-speed__item-body {
        max-height: none;
    }

    .advantage-speed__item-text {
        font-size: 20px;
        padding: 25px;
    }

    .advantage-speed__item:first-child .advantage-speed__item-text {
        padding: 25px;
    }
}

@media (max-width: 600px) {
    .advantage-speed__item-text {
        font-size: 18px;
    }
}

@media (max-width: 560px) {
    .advantage-speed {
        padding-bottom: 50px;
    }

    .advantage-speed__item-text {
        padding: 20px;
    }

    .advantage-speed__item:first-child .advantage-speed__item-text {
        padding: 20px;
    }
}

@media (max-width: 516px) {
    .advantage-speed__title {
        margin-bottom: 20px;
    }

    .advantage-speed__swiper-wrapper {
        margin-bottom: 18px !Important;
    }

    .advantage-speed__item-text {
        padding: 20px;
    }

    .advantage-speed__item:first-child .advantage-speed__item-text {
        padding: 20px;
    }
}

@media (max-width: 500px) {
    .advantage-speed {
        padding-bottom: 40px;
    }

    .advantage-speed__item-text {
        text-align: start;
        padding: 18px;
    }

    .advantage-speed__item:first-child .advantage-speed__item-text {
        padding: 18px;
    }
}

@media (max-width: 425px) {
    .advantage-speed__swiper-wrapper {
        margin-bottom: 15px !Important;
    }
}

@media (max-width: 392px) {
    .advantage-speed__item-text {
        font-size: 17px;
        padding: 13px;
    }

    .advantage-speed__item:first-child .advantage-speed__item-text {
        padding: 13px;
    }
}

@media (max-width: 375px) {
    .advantage-speed__item-text {
        font-size: 16px;
        padding: 10px;
    }

    .advantage-speed__item:first-child .advantage-speed__item-text {
        padding: 10px;
    }
}


/* 4 БЛОК */
.advantage-reliable {
    padding-bottom: 100px;
}

.advantage-reliable__container {

}

.advantage-reliable__wrapper {
    display: flex;
}


.advantage-reliable__wrapper > * {
    max-height: 546px;
}

.advantage-reliable__left {
    margin-right: 18px;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.advantage-reliable__title {
    margin-top: 6px;
    margin-bottom: 20px;
}

.advantage-reliable__text {
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.05em;
    max-width: 389px;
}

.advantage-reliable__left-img-wrap {
    border-radius: 8px;
    overflow: hidden;
}

.advantage-reliable__banks-logo {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    flex-shrink: 1;
}

.advantage-reliable__banks-logo-group {
    display: flex;
    column-gap: 20px;
}

.advantage-reliable__banks-img-wrap {
    border-radius: 8px;
    overflow: hidden;
}

.advantage-reliable__img {
    object-fit: cover;
    width: 100%;
}

@media (max-width: 1500px) {
    .advantage-reliable__title {
        margin-top: 6px;
        margin-bottom: 10px;
    }

    .advantage-reliable__text {
        font-size: 18px;
        line-height: 23px;
    }
}

@media (max-width: 1400px) {
    .advantage-reliable__title {
        margin-top: 6px;
        margin-bottom: 10px;
    }

    .advantage-reliable__text {
        font-size: 18px;
        line-height: 23px;
    }
}

@media (max-width: 1300px) {
    .advantage-reliable__title {
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .advantage-reliable__text {
        font-size: 17px;
        line-height: 22px;
    }
}

@media (max-width: 1260px) {
    .advantage-reliable {
        padding-bottom: 90px;
    }
}

@media (max-width: 1230px) {
    .advantage-reliable__title {
        margin-bottom: 5px;
    }

    .advantage-reliable__text {
        font-size: 17px;
        line-height: 21px;
    }
}

@media (max-width: 1170px) {
    .advantage-reliable__text {
        font-size: 16px;
        line-height: 21px;
    }
}

@media (max-width: 1070px) {
    .advantage-reliable {
        padding-bottom: 80px;
    }
    .advantage-reliable__text {
        font-size: 15px;
        line-height: 20px;
    }
}

@media (max-width: 991px) {
    .advantage-reliable__text {
        font-size: 14px;
        line-height: 20px;
    }
}

@media (max-width: 880px) {
    .advantage-reliable {
        padding-bottom: 70px;
    }

    .advantage-reliable__wrapper {
        flex-direction: column;
        row-gap: 20px;
    }

    .advantage-reliable__wrapper > * {
        max-height: none;
    }

    .advantage-reliable__left {
        margin-right: 0px;
    }

    .advantage-reliable__title {
        margin-bottom: 20px;
    }
    
    .advantage-reliable__text {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 41px;
    }

    .advantage-reliable__banks-logo-group > * {
        flex: 1 1 50%;
    }
}

@media (max-width: 794px) {
    .advantage-reliable {
        padding-bottom: 60px;
    }
}

@media (max-width: 768px) {
    .advantage-reliable__title {
        margin-bottom: 16px;
    }
    
    .advantage-reliable__text {
        font-size: 18px;
        line-height: 23px;
        margin-bottom: 26px;
    }

    .advantage-reliable__wrapper {
        row-gap: 15px;
    }

    .advantage-reliable__banks-logo {
        row-gap: 15px;
    }

    .advantage-reliable__banks-logo-group {
        column-gap: 15px;
    }
}

@media (max-width: 700px) {
    .advantage-reliable__title {
        margin-bottom: 13px;
    }
    
    .advantage-reliable__text {
        line-height: 22px;
        margin-bottom: 20px;
    }
}

@media (max-width: 560px) {
    .advantage-reliable {
        padding-bottom: 50px;
    }

    .advantage-reliable__title {
        margin-bottom: 12px;
    }
    
    .advantage-reliable__text {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 15px;
    }

    .advantage-reliable__wrapper {
        row-gap: 13px;
    }

    .advantage-reliable__banks-logo {
        row-gap: 13px;
    }

    .advantage-reliable__banks-logo-group {
        column-gap: 13px;
    }
}

@media (max-width: 500px) {
    .advantage-reliable {
        padding-bottom: 40px;
    }
}

@media (max-width: 425px) {
    .advantage-reliable__title {
        margin-bottom: 10px;
    }
    
    .advantage-reliable__text {
        margin-bottom: 12px;
    }

    .advantage-reliable__wrapper {
        row-gap: 10px;
    }

    .advantage-reliable__banks-logo {
        row-gap: 10px;
    }

    .advantage-reliable__banks-logo-group {
        column-gap: 10px;
    }
}

@media (max-width: 375px) {
    .advantage-reliable__text {
        font-size: 15px;
        line-height: 21px;
        margin-bottom: 10px;
    }
}

@media (max-width: 320px) {
    .advantage-reliable__text {
        font-size: 14px;
        line-height: 20px;
    }
}


/* 5 БЛОК */
.advantage-safety {
    padding-bottom: 100px;
}
.advantage-safety__wrapper {
    display: flex;
}
.advantage-safety__wrapper > * {
    flex: 1 1 50%;
}
.advantage-safety__left-text {
    padding: 40px 0px 61px 40px;
}
.advantage-safety__title {
    line-height: 66px;
    margin-bottom: 30px;
}
.advantage-safety__text {
    max-width: 566px;
}
.advantage-safety__text:not(:last-child) {
    margin-bottom: 15px;
}
.advantage-safety__right-text {
    background: #F4F4F4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.advantage-safety__list  {
    list-style-type: none;
    counter-reset: my-counter;
    font-size: 22px;
    line-height: 30px;
}
.advantage-safety__list-item  {
    margin-left: calc(12.5px + 30px);
    position: relative;
  }
.advantage-safety__list-item:not(:last-child)  {
    margin-bottom: 53px;
}
.advantage-safety__list-item:last-child  {
    margin-top: 3px;
}
.advantage-safety__list-item > span > span {
    font-weight: 700;
    color: #83B32B;
}
.advantage-safety__list-item::before {
    content: counter(my-counter);
    counter-increment: my-counter;
    font-size: 18px;
    position: relative;
    left: -30px;
    z-index: 4;
}
.advantage-safety__list-item::after {
    content: "";
    display: block;
    height: 35px;
    width: 35px;
    position: absolute;
    top: 0;
    left: calc(-12.5px - 30px);
    border-radius: 50%;
    background: #D9D9D9;
}

@media (max-width: 1400px) {
    .advantage-safety__title {
        margin-bottom: 27px;
    }

    .advantage-safety__left-text {
        padding: 40px 40px 61px 40px;
    }
    
    .advantage-safety__right-text {
        padding: 0px 40px;
    }
    
    .advantage-safety__text {
        font-size: 17px;
        max-width: 530px;
    }
    .advantage-safety__list  {
        font-size: 20px;
    }
    .advantage-safety__list-item:not(:last-child)  {
        margin-bottom: 45px;
    }
    .advantage-safety__list-item::before {
        top: 2px;
    }
}

@media (max-width: 1300px) {
    .advantage-safety__title {
        margin-bottom: 22px;
    }

    .advantage-safety__left-text {
        padding: 40px 40px 51px 40px;
    }

    .advantage-safety__list  {
        font-size: 20px;
    }

    .advantage-safety__list-item:not(:last-child)  {
        margin-bottom: 40px;
    }
}

@media (max-width: 1230px) {
    .advantage-safety__title {
        margin-bottom: 20px;
    }

    .advantage-safety__left-text {
        font-size: 16px;
        padding: 40px 40px 47px 40px;
    }

    .advantage-safety__list  {
        font-size: 18px;
    }

    .advantage-safety__list-item:not(:last-child)  {
        margin-bottom: 35px;
    }
}

@media (max-width: 1100px) {
    .advantage-safety__left-text {
        padding: 30px;
    }
    .advantage-safety__list-item  {
        display: flex;
    }
    .advantage-safety__right-text {
        padding: 0px 30px;
    }
    .advantage-safety__list-item > span  {
        display: inline-block;
        max-width: 300px;
    }
    .advantage-safety__list-item:not(:last-child)  {
        margin-bottom: 30px;
    }
}

@media (max-width: 991px) {
    .advantage-safety__title {
        margin-bottom: 17px;
    }

    .advantage-safety__text {
        font-size: 15px;
    }

    .advantage-safety__text > br {
        display: none;
    }
    .advantage-safety__list  {
        font-size: 16px;
    }
}

@media (max-width: 794px) {
    .advantage-safety__wrapper {
        display: flex;
        flex-direction: column;
    }

    .advantage-safety__left-text {
        padding: 40px;
    }

    .advantage-safety__title {
        margin-bottom: 22px;
    }

    .advantage-safety__text {
        font-size: 17px;
        max-width: 570px;
    }

    .advantage-safety__list {
        font-size: 18px;
    }
    .advantage-safety__right-text {
        padding: 40px;
        justify-content: flex-start;
    }

    .advantage-safety__list-item:not(:last-child) {
        margin-bottom: 50px;
    }
    .advantage-safety__list-item > span {
        max-width: none;
    }
}

@media (max-width: 768px) {
    .advantage-safety__title {
        margin-bottom: 20px;
    }

    .advantage-safety__text {
        font-size: 16px;
    }

    .advantage-safety__list {
        font-size: 18px;
    }
}

@media (max-width: 700px) {
    .advantage-safety__left-text {
        padding: 30px;
    }

    .advantage-safety__right-text {
        padding: 30px;
    }

    .advantage-safety__list-item:not(:last-child) {
        margin-bottom: 40px;
    }
}

@media (max-width: 560px) {
    .advantage-safety__list {
        font-size: 17px;
    }
    .advantage-safety__list-item:not(:last-child) {
        margin-bottom: 30px;
    }
    .advantage-safety__text {
        font-size: 15px;
    }
}

@media (max-width: 516px) {
    .advantage-safety__title {
        margin-bottom: 15px;
    }
}

@media (max-width: 500px) {
    .advantage-safety__list-item > span {
        max-width: 300px;
    }
    .advantage-safety__left-text {
        padding: 20px;
    }
    .advantage-safety__right-text {
        padding: 20px;
    }

    .advantage-safety__list-item:not(:last-child) {
        margin-bottom: 20px;
    }
    .advantage-safety__list-item::before {
        top: 15px;
    }
    .advantage-safety__list-item::after {
        top: 50%;
        transform: translateY(-50%);
    }
}

@media (max-width: 450px) {
    .advantage-safety__list-item:not(:last-child) {
        margin-bottom: 20px;
    }

    .advantage-safety__text {
        font-size: 14px;
    }
}
@media (max-width: 425px) {
    .advantage-safety__title {
        margin-bottom: 10px;
    }
    .advantage-safety__list-item:not(:last-child) {
        margin-bottom: 15px;
    }
    .stocks__title {
        margin-bottom: 15px;
    }
}

@media (max-width: 350px) {
    .advantage-safety__list {
        font-size: 16px;
    }
}


/* 6 БЛОК */
.mortgage-types {
    padding-bottom: 127px;
}
.mortgage-types__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mortgage-types__title {
    line-height: 66px;
    margin-bottom: 50px;
}
.mortgage-types__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.mortgage-types__card {
    display: flex;
    flex: 1 1 calc(50% - 20px);
}
.mortgage-types__card > * {
    flex: 1 1 50%;
}
.mortgage-types__card-body {
    padding: 40px 0px 0px 40px;
}
.mortgage-types__card-title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #83B32B;
}
.mortgage-types__card-list {
    max-width: 293px;
}
.mortgage-types__card-list-item {
    color: #646666;
    margin-left: 18px;
}
.mortgage-types__card-list-item:not(:last-child) {
    margin-bottom: 10px;
}
.mortgage-types__card-list-item::marker {
    display: block;
    width: 6px;
    color: #292929;
}
.mortgage-types__card-img-wrap {
}
.mortgage-types__card-img {
    object-fit: contain;
}


/* 8 БЛОК */
.mortgage-calculator {
    margin-bottom: 100px;
}
.mortgage-calculator__container {
    
}
.mortgage-calculator__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1500px;
    margin-left: 40px;
}
.mortgage-calculator__inner {
    display: flex;
    margin-bottom: 50px;
}
.mortgage-calculator__left {

}
.mortgage-calculator__right {
    max-width: 642px;
    width: 100%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mortgage-calculator__description {
    margin-bottom: 50px;
}
.mortgage-calculator__title {
    line-height: 66px;
    margin-bottom: 30px;
    letter-spacing: 0;
}
.mortgage-calculator__text {
    color: #000;
    max-width: 609px;
}
.mortgage-calculator__recommendation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 44px 0px;
    background-color: #EFF6FF;
    max-width: 640px;
    width: 100%;
    border-radius: 8px;
}
.mortgage-calculator__recommendation-text {
    max-width: 462px;
}
.mortgage-calculator__calculator {
    display: flex;
    margin-bottom: 50px;
}
.mortgage-calculator__form {
    display: flex;
    flex-wrap: wrap;
    gap: 21px;
    max-width: 743px;
}
.mortgage-calculator__form-item {
    display: inline-block;
    max-height: 68px;
    position: relative;
}
.mortgage-calculator__form-item:nth-of-type(odd) {
    width: 417px;
}
.mortgage-calculator__form-item:nth-of-type(even) {
    width: 305px;
}
.mortgage-calculator__form-lable {
    position: absolute;
    top: 10px; 
    left: 20px;
    font-size: 12px;
    color: #646666;
}
.mortgage-calculator__form-input {
    max-height: 68px;
    height: 100%;
    width: 100%;
    padding: 37px 20px 12px 20px;
    font-size: 16px;
    color: #292929;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
}
.mortgage-calculator__check {
    display: flex;
    flex-direction: column;
    max-height: 144px;
    row-gap: 32px;
    column-gap: 100px;
    flex-wrap: wrap;
    max-width: 462px;
    margin-bottom: 12px;
}
.mortgage-calculator__check-title {
    color: #646666;
    margin-bottom: 10px;
}
.mortgage-calculator__check-title > span {
    margin-left: 6px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: top;
    height: 16px;
    width: 16px;
    color: #000;
    font-size: 12px;
    border-radius: 50%;
    background: #D9D9D9;
    user-select: none;
}
.mortgage-calculator__check-number {
    font-size: 20px;
}
.mortgage-calculator__button {
    align-self: center;
    max-width: 361px;
}

@media (max-width: 1600px) {
    .mortgage-calculator__right {
        max-width: 542px;
    }
    .mortgage-calculator__recommendation-text {
        text-align: center;
    }
}

@media (max-width: 1500px) {
    .mortgage-calculator__title {
        font-size: 50px;
    }
    .mortgage-calculator__text {
        font-size: 17px;
    }
    .mortgage-calculator__right {
        max-width: 542px;
    }
    .mortgage-calculator__recommendation-text {
        text-align: center;
    }
    .mortgage-calculator__form {
        max-width: 643px;
    }
    .mortgage-calculator__form-item:nth-of-type(odd) {
        flex: 0 1 calc(60% - 21px);
    }
    .mortgage-calculator__form-item:nth-of-type(even) {
        flex: 0 1 calc(40% - 21px);
    }
}
@media (max-width: 1400px) {
    .mortgage-calculator__title {
        font-size: 45px;
        line-height: 55px;
        margin-bottom: 30px;
    }
    .mortgage-calculator__recommendation-text {
        font-size: 17px;
    }
    .mortgage-calculator__form {
        max-width: 600px;
    }
    .mortgage-calculator__check-number {
        font-size: 18px;
    }
    .mortgage-calculator__check-title {
        font-size: 17px;
    }
    .mortgage-calculator__check {
        column-gap: 70px;
    }
}
@media (max-width: 1320px) {
    .mortgage-calculator__title {
        font-size: 40px;
        line-height: 50px;
    }
    .mortgage-calculator__text {
        max-width: 540px;
    }
    .mortgage-calculator__right {
        max-width: 442px;
    }
    .mortgage-calculator__form {
        max-width: 550px;
    }
}

@media (max-width: 1240px) {
    .mortgage-calculator__title {
        margin-bottom: 25px;
    }
    .mortgage-calculator__text {
        font-size: 16px;
    }
    .mortgage-calculator__recommendation {
        padding: 30px 20px;
    }
    .mortgage-calculator__recommendation-text {
        font-size: 16px;
    }
    .mortgage-calculator__check-number {
        font-size: 16px;
    }
    .mortgage-calculator__check-title {
        font-size: 16px;
    }
    .mortgage-calculator__check {
        column-gap: 50px;
    }
}
@media (max-width: 1190px) {
    .mortgage-calculator__title {
        margin-bottom: 20px;
    }
    .mortgage-calculator__text {
        max-width: 460px;
    }
    .mortgage-calculator__recommendation {
        margin-top: 5%;
        padding: 30px 20px;
    }
    .mortgage-calculator__right {
        max-width: 400px;
    }
    .mortgage-calculator__form {
        max-width: 500px;
    }
}
@media (max-width: 1070px) {
    .mortgage-calculator__description {
        margin-bottom: 40px;
    }
    .mortgage-calculator__title {
        font-size: 35px;
        line-height: 45px;
    }
    .mortgage-calculator__text {
        font-size: 14px;
        max-width: 460px;
    }
    .mortgage-calculator__recommendation {
        font-size: 14px;
    }
    .mortgage-calculator__recommendation-text {
        font-size: 14px;
    }
    .mortgage-calculator__right {
        max-width: 400px;
    }
    .mortgage-calculator__form {
        max-width: 450px;
    }
    .mortgage-calculator__form-lable {
        left: 13px;
    }
    .mortgage-calculator__form-input {
        padding: 37px 13px 12px 13px;
    }
    .mortgage-calculator__check-number {
        font-size: 15px;
    }
    .mortgage-calculator__check-title {
        font-size: 15px;
    }
    .mortgage-calculator__check {
        column-gap: 30px;
        row-gap: 25px;
    }
    .mortgage-calculator__inner {
        margin-bottom: 45px;
    }
}

@media (max-width: 991px) {
    .mortgage-calculator__title {
        font-size: 38px;
        line-height: 48px;
    }
    .mortgage-calculator__wrapper {
        margin-left: 0;
    }
    .mortgage-calculator__inner {
        justify-content: space-evenly;
    }
    .mortgage-calculator__form-item:nth-of-type(odd) {
        flex: 0 1 100%;
    }
    .mortgage-calculator__form-item:nth-of-type(even) {
        flex: 0 1 100%;
    }
    .mortgage-calculator__check {
        max-height: none;
        column-gap: 100px;
        flex-wrap: nowrap;
        max-width: 462px;
        margin-bottom: 12px;
    }
    .mortgage-calculator__right {
        margin-left: 0px;
        max-width: 300px;
    }
    .mortgage-calculator__form-lable {
        left: 20px;
    }
    .mortgage-calculator__form-input {
        padding: 37px 20px 12px 20px;
    }
    .mortgage-calculator__check {
        row-gap: 45px;
    }
}
@media (max-width: 880px) {
    .mortgage-calculator__right {
        max-width: 350px;
    }
    .mortgage-calculator__left {
        max-width: 400px;
    }
    .mortgage-calculator__form {
        max-width: 350px;
    }
    .mortgage-calculator__inner {
        margin-bottom: 40px;
    }
}

@media (max-width: 768px) {
    .mortgage-calculator__title {
        font-size: 33px;
        line-height: 43px;
    }
}
@media (max-width: 750px) {
    .mortgage-calculator__inner {
        flex-direction: column;
    }
    .mortgage-calculator__right {
        max-width: none;
    }
    .mortgage-calculator__left {
        max-width: none;
    }
    .mortgage-calculator__form {
        max-width: none;
    }
    .mortgage-calculator__form-item:nth-of-type(odd) {
        flex: 0 1 calc(55% - 20px);
    }
    .mortgage-calculator__form-item:nth-of-type(even) {
        flex: 0 1 45%;
    }
    .mortgage-calculator__check {
        display: flex;
        flex-direction: column;
        max-height: 144px;
        row-gap: 32px;
        column-gap: 70px;
        flex-wrap: wrap;
        max-width: 462px;
        margin-bottom: 0px;
        width: 100%;
    }
    .mortgage-calculator__recommendation {
        max-width: none;
        margin-bottom: 20px;
        margin-top: 0;
    }

    .mortgage-calculator__left {
        margin-bottom: 25px;
    }

    .mortgage-calculator__right {
        align-items: center;
    }

    .mortgage-calculator__title {
        margin-bottom: 20px;
    }
    .mortgage-calculator__recommendation-text {
        font-size: 17px;
    }
    .mortgage-calculator__text {
        font-size: 17px;
        max-width: 560px;
    }
    .mortgage-calculator__check-number {
        font-size: 18px;
    }
    .mortgage-calculator__check-title {
        font-size: 17px;
    }
    .mortgage-calculator__description {
        margin-bottom: 25px;
    }
    .mortgage-calculator__form {
        gap: 20px;
    }
}

@media (max-width: 600px) {
    .mortgage-calculator__check {
        row-gap: 28px;
        column-gap: 50px;
        margin-bottom: 12px;
    }

    .mortgage-calculator__left {
        margin-bottom: 22px;
    }

    .mortgage-calculator__right {
        align-items: center;
    }

    .mortgage-calculator__title {
        margin-bottom: 20px;
    }
    .mortgage-calculator__recommendation-text {
        font-size: 16px;
    }
    .mortgage-calculator__text {
        font-size: 16px;
    }
    .mortgage-calculator__check-number {
        font-size: 17px;
    }
    .mortgage-calculator__check-title {
        font-size: 16px;
    }
    .mortgage-calculator__description {
        margin-bottom: 22px;
    }
    .mortgage-calculator__inner {
        margin-bottom: 32px;
    }
}
@media (max-width: 500px) {
    .mortgage-calculator__title {
        font-size: 29px;
        line-height: 39px;
    }
    .mortgage-calculator__text {
        padding-right: 20px;
    }
    .mortgage-calculator__check {
        row-gap: 20px;
        column-gap: 0;
    }

    .mortgage-calculator__check-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1 1 50%;
    }

    .mortgage-calculator__left {
        margin-bottom: 22px;
    }

    .mortgage-calculator__right {
        align-items: center;
    }

    .mortgage-calculator__title {
        margin-bottom: 20px;
    }
    .mortgage-calculator__recommendation-text {
        font-size: 16px;
    }
    .mortgage-calculator__text {
        font-size: 16px;
    }
    .mortgage-calculator__recommendation {
        padding: 25px 20px;
    }
    .mortgage-calculator__check-number {
        font-size: 18px;
    }
    .mortgage-calculator__check-title {
        font-size: 16px;
    }
    .mortgage-calculator__description {
        margin-bottom: 22px;
    }
}

@media (max-width: 440px) {
    .mortgage-calculator__check {
        row-gap: 20px;
        column-gap: 0;
    }

    .mortgage-calculator__check-item {
        align-items: flex-start;
    }

    .mortgage-calculator__left {
        margin-bottom: 20px;
    }

    .mortgage-calculator__right {
        align-items: center;
    }

    .mortgage-calculator__title {
        margin-bottom: 20px;
    }
    .mortgage-calculator__recommendation-text {
        text-align: start;
        font-size: 15px;
    }
    .mortgage-calculator__text {
        font-size: 15px;
    }
    .mortgage-calculator__recommendation {
        padding: 20px;
    }
    .mortgage-calculator__check-number {
        font-size: 18px;
    }
    .mortgage-calculator__check-title {
        font-size: 16px;
    }
    .mortgage-calculator__description {
        margin-bottom: 20px;
    }
    .mortgage-calculator__check {
        max-height: none;
        flex-wrap: nowrap;
    }
    .mortgage-calculator__right {
        align-items: center;
    }
    .mortgage-calculator__form-item:nth-of-type(odd) {
        flex: 0 1 100%;
    }
    .mortgage-calculator__form-item:nth-of-type(even) {
        flex: 0 1 100%;
    }
    .mortgage-calculator__inner {
        margin-bottom: 20px;
    }
}

@media (max-width: 425px) {
    .mortgage-calculator__title {
        font-size: 26px;
        line-height: 36px;
    }
}
@media (max-width: 390px) {
    .mortgage-calculator__text {
        padding-right: 0;
    }
    .mortgage-calculator__button {
        width: 100%;
    }
}

@media (max-width: 320px) {
    .mortgage-calculator__title {
        font-size: 24px;
        line-height: 34px;
    }
}


/* 9 БЛОК */
.trade-in {
    padding-bottom: 110px;
}
.traid-in__container {
}
.traid-in__wrapper {
    display: flex;
}
.traid-in__wrapper > * {
    flex: 1 1 50%;
}
.traid-in__body {
    padding: 40px;
}
.traid-in__title {
    line-height: 66px;
    margin-bottom: 20px;
}
.trade-in__text {
    max-width: 550px;
    color: #646666;
    margin-bottom: 25px;
}
.trade-in__list {
    margin-bottom: 43px;
    list-style: none;
    max-width: 410px;
}
.trade-in__list-item {
    color: #646666;
    display: flex;
    align-items: center;
}

.trade-in__list-item::before {
    content: '•';
    font-size: 21px;
    color: #83B32B;
    margin-right: 17px;
}
.trade-in__list-item:not(:last-child) {
    margin-bottom: 20px;
}
.trade-in__link {
    max-width: 326px;
}
.traid-in__img-wrap {
    width: 100%;
}
.traid-in__img {
    height: 100%;
    object-fit: cover;
}

@media (max-width: 1500px) {
    .traid-in__wrapper > * {
        flex: 1 0 50%;
    }
}

@media (max-width: 1400px) {
    .trade-in__text {
        font-size: 17px;
    }
    .trade-in__list {
        font-size: 17px;
        margin-bottom: 36px;
    }
    .trade-in__list-item:not(:last-child) {
        margin-bottom: 18px;
    }
}

@media (max-width: 1300px) {
    .trade-in__list {
        margin-bottom: 32px;
    }
    .traid-in__img-wrap {
        position: relative;
        overflow: hidden;
    }
    .traid-in__img {
        position: relative;
        right: 10%;
    }
    .traid-in__text {
        margin-bottom: 23px;
    }
}

@media (max-width: 1230px) {
    .trade-in__text {
        font-size: 16px;
    }
    .trade-in__list {
        font-size: 16px;
    }
    .trade-in__list-item:not(:last-child) {
        margin-bottom: 16px;
    }
}

@media (max-width: 1260px) {
    .trade-in {
        padding-bottom: 90px;
    }
    .traid-in__img {
        right: 15%;
    }
    .traid-in__img-wrap {
        max-height: 600px;
    }
    .trade-in__list-item::before {
        margin-right: 15px;
        font-size: 19px;
    }
}

@media (max-width: 1170px) {
    .traid-in__img {
        right: 20%;
    }
}

@media (max-width: 1100px) {
    .traid-in__body {
        padding: 30px;
    }
    .traid-in__img {
        right: 25%;
    }
    .traid-in__text {
        margin-bottom: 20px;
    }
}

@media (max-width: 1070px) {
    .trade-in {
        padding-bottom: 80px;
    }
}

@media (max-width: 991px) {
    .traid-in__text {
        font-size: 15px;
    }
    .trade-in__list {
        font-size: 15px;
    }
    .trade-in__list-item::before {
        margin-right: 10px;
    }
}

@media (max-width: 880px) {
    .trade-in {
        padding-bottom: 70px;
    }
    .traid-in__img {
        right: 30%;
    }
}

@media (max-width: 847px) {
    .traid-in__img {
        right: 35%;
    }
}
@media (max-width: 810px) {
    .traid-in__img {
        right: 40%;
    }
}

@media (max-width: 794px) {
    .trade-in {
        padding-bottom: 60px;
    }
    .trade-in__list-item::before {
        margin-right: 15px;
        font-size: 19px;
    }
    .traid-in__text {
        margin-bottom: 23px;
    }
    .traid-in__wrapper {
        flex-direction: column-reverse;
    }
    .traid-in__img {
        right: 0;
        object-fit: contain;
        width: 100%;
        height: auto;
    }
    .traid-in__body {
        padding: 40px;
    }
    .trade-in__text {
        font-size: 17px;
    }
    .trade-in__list {
        font-size: 17px;
        margin-bottom: 36px;
    }
    .trade-in__list-item:not(:last-child) {
        margin-bottom: 18px;
    }
    .traid-in__img-wrap {
        max-height: none;
    }
}

@media (max-width: 700px) {
    .traid-in__body {
        padding: 30px;
    }
    .trade-in__text {
        font-size: 16px;
    }
    .trade-in__list {
        font-size: 16px;
        margin-bottom: 29px;
    }
    .trade-in__list-item:not(:last-child) {
        margin-bottom: 16px;
    }
}

@media (max-width: 600px) {
    .traid-in__text > br {
        display: none;
    }
    .trade-in__list-item > br {
        display: none;
    }
}

@media (max-width: 560px) {
    .trade-in {
        padding-bottom: 50px;
    }
}

@media (max-width: 516px) {
    .trade-in__text {
        font-size: 15px;
        margin-bottom: 20px;
    }
    .trade-in__list {
        font-size: 15px;
        margin-bottom: 23px;
    }
    .trade-in__list-item:not(:last-child) {
        margin-bottom: 13px;
    }
}

@media (max-width: 500px) {
    .trade-in {
        padding-bottom: 40px;
    }
    .traid-in__body {
        padding: 20px;
    }
    .trade-in__list-item::before {
        margin-right: 10px;
    }
}

@media (max-width: 425px) {
    .trade-in__list {
        margin-bottom: 20px;
    }
    .trade-in__text {
        font-size: 14px;
    }
    .trade-in__list {
        font-size: 14px;
        margin-bottom: 20px;
    }
}

@media (max-width: 390px) {
    .trade-in__link {
        max-width: 100%;

    }
}

@media (max-width: 375px) {
    .trade-in__list-item:not(:last-child) {
        margin-bottom: 10px;
    }
}


/* 10 БЛОК */
.payment {
    padding-bottom: 100px;
}

.payment__wrapper {
    border: 1px solid #D9D9D9;
    padding: 39px 0px 43px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.payment__title {
    margin-bottom: 50px;
}

.payment__items {
    align-self: normal;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
}

.payment__item {
    flex: 1 1 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.payment__icon {
    max-height: 120px;
    margin-bottom: 20px;
}

.payment__name {
    font-size: 30px;
    letter-spacing: -0.05em;
}

@media (max-width: 1400px) {
    .payment__items {
        margin-bottom: 54px;
    }

    .payment__title {
        margin-bottom: 40px;
    }
}

@media (max-width: 1386px) {
    .payment__name {
        font-size: 25px;
    }
}

@media (max-width: 1300px) {
    .payment__items {
        margin-bottom: 47px;
    }

    .payment__title {
        margin-bottom: 37px;
    }
}

@media (max-width: 1260px) {
    .payment {
        padding-bottom: 90px;
    }
}

@media (max-width: 1170px) {
    .payment__items {
        margin-bottom: 42px;
    }

    .payment__wrapper {
        padding: 35px 0px 35px 0px;
    }

    .payment__icon {
        max-height: 110px;
        margin-bottom: 18px;
    }

    .payment__name {
        font-size: 22px;
    }

    .payment__title {
        margin-bottom: 33px;
    }
}

@media (max-width: 1070px) {
    .payment {
        padding-bottom: 80px;
    }
}

@media (max-width: 1030px) {
    .payment__icon {
        max-height: 95px;
        margin-bottom: 16px;
    }
}

@media (max-width: 991px) {
    .payment__items {
        margin-bottom: 37px;
    }

    .payment__wrapper {
        padding: 30px 0px 30px 0px;
    }

    .payment__icon {
        max-height: 80px;
        margin-bottom: 16px;
    }

    .payment__name {
        font-size: 22px;
    }

    .payment__title {
        margin-bottom: 30px;
    }
}

@media (max-width: 930px) {
    .payment__title {
        text-align: center;
        max-width: 600px;
    }
}

@media (max-width: 880px) {
    .payment {
        padding-bottom: 70px;
    }
}

@media (max-width: 794px) {
    .payment {
        padding-bottom: 60px;
    }

    .payment__items {
        margin-bottom: 32px;
    }

    .payment__wrapper {
        padding: 27px 0px 27px 0px;
    }

    .payment__items {
        row-gap: 25px;
    }

    .payment__item {
        flex: 1 1 50%;
    }

    .payment__icon {
        max-height: 85px;
        margin-bottom: 16px;
    }

    .payment__title {
        margin-bottom: 27px;
    }
}

@media (max-width: 768px) {
    .payment__title {
        max-width: 500px;
    }
}

@media (max-width: 650px) {
    .payment__items {
        margin-bottom: 27px;
    }

    .payment__icon {
        max-height: 80px;
        margin-bottom: 13px;
    }

    .payment__name {
        font-size: 18px;
    }

    .payment__title {
        margin-bottom: 22px;
    }
}

@media (max-width: 600px) {
    .payment__wrapper {
        padding: 25px;
    }
}

@media (max-width: 560px) {
    .payment {
        padding-bottom: 50px;
    }
}

@media (max-width: 516px) {
    .payment__items {
        margin-bottom: 21px;
    }

    .payment__title {
        margin-bottom: 20px;
    }
}

@media (max-width: 500px) {
    .payment {
        padding-bottom: 40px;
    }

    .payment__wrapper {
        padding: 20px;
    }

    .payment__items {
        row-gap: 20px;
    }

    .payment__icon {
        max-height: 60px;
        margin-bottom: 10px;
    }

    .payment__name {
        font-size: 16px;
    }
}

@media (max-width: 425px) {
    .payment__wrapper {
        padding: 20px 10px;
    }

    .payment__link {
        max-width: 100%;
    }
}

@media (max-width: 390px) {
    .payment__link {
        max-width: 100%;
    }
}


/* 11 блок */
.stocks {
    padding-bottom: 100px;
}

.stocks__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stocks__title {
    align-self: flex-start;
    margin-bottom: 50px;
}

/* .stocks__items {
    display: flex;
    width: 100%;
    margin-bottom: 60px;
} */
.stocks__swiper-wrapper {
    display: flex;
    width: 100%;
    margin-bottom: 60px;
}
.stocks__items > * {
    flex: 0 1 50%;
}

.stock__item {
    overflow: hidden;
}

.stock__item:not(:last-child) {
    margin-right: 20px;
}

.stock__item-body {
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    max-height: 460px;
}

.stock__img {
    width: 100%;
    aspect-ratio: 490 / 350;
}

.stock__item-title {
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: -0.05em;
    padding: 30px 0px 40px 39px;
}

.stocks__slider {
    /* display: none; */
    display: flex;
    width: 100%;
    margin-bottom: 60px;
}

.stocks__swiper-pagination {
    position: relative;
}

.stocks__swiper>.swiper-wrapper {
    margin-bottom: 15px;
}

@media (max-width: 1400px) {
    .stocks__title {
        margin-bottom: 40px;
    }

    .stocks__slider  {
        margin-bottom: 55px;
    }

    .stock__item-title {
        font-size: 28px;
        line-height: 38px;
    }
}

@media (max-width: 1300px) {
    .stocks__title {
        margin-bottom: 35px;
    }

    .stocks__slider {
        margin-bottom: 50px;
    }
}

@media (max-width: 1230px) {
    .stock__item-title {
        font-size: 26px;
        line-height: 36px;
    }
}

@media (max-width: 1260px) {
    .stocks {
        padding-bottom: 90px;
    }
}

@media (max-width: 1170px) {
    .stocks__title {
        margin-bottom: 33px;
    }

    .stocks__slider  {
        margin-bottom: 45px;
    }

    .stock__item-title {
        padding: 20px 0px 30px 19px;
        font-size: 23px;
        line-height: 36px;
    }
}

@media (max-width: 1070px) {
    .stocks {
        padding-bottom: 80px;
    }
}

@media (max-width: 991px) {
    .stocks__title {
        margin-bottom: 30px;
    }

    /* .stocks__items {
        display: none;
    } */

    .stocks__slider {
        display: flex;
        margin-bottom: 27px;
        width: 100%;
    }
    
    .stocks__swiper-wrapper {
        margin-bottom: 26px !Important;
    }
}

@media (max-width: 880px) {
    .stocks {
        padding-bottom: 70px;
    }
}

@media (max-width: 847px) {
    .stock__item-title {
        padding: 20px 0px 20px 20px;
    }

    .stocks__slider {
        margin-bottom: 24px;
    }
}

@media (max-width: 794px) {
    .stocks {
        padding-bottom: 60px;
    }

    .stocks__title {
        margin-bottom: 27px;
    }

    .stock__item-title {
        padding: 20px 0px 20px 20px;
    }

    .stocks__slider {
        margin-bottom: 21px;
    }
}

@media (max-width: 700px) {
    .stocks__swiper-wrapper {
        margin-bottom: 23px !Important;
    }

    .stocks__slider {
        margin-bottom: 22px;
    }

    .stock__item {
        width: 100%;
    }

    .stocks__slider>.swiper-slide {
        width: 100% !important;
    }

    .stock__item-body {
        max-height: none;
    }

    .stock__item-title {
        font-size: 28px;
        line-height: 38px;
    }

    .stocks__slider {
        margin-bottom: 26px;
    }
}

@media (max-width: 600px) {
    .stocks__slider {
        margin-bottom: 17px;
    }
}

@media (max-width: 560px) {
    .stocks {
        padding-bottom: 50px;
    }
}

@media (max-width: 516px) {
    .stocks__title {
        margin-bottom: 20px;
    }

    .stocks__swiper-wrapper {
        margin-bottom: 18px !Important;
    }
}

@media (max-width: 500px) {
    .stocks {
        padding-bottom: 40px;
    }

    .stocks__slider {
        margin-bottom: 15px;
    }

    .stock__item-title {
        font-size: 26px;
        line-height: 36px;
    }
}

@media (max-width: 425px) {
    .stocks__swiper-wrapper {
        margin-bottom: 15px !Important;
    }

    .stock__item-title {
        font-size: 20px;
        line-height: 30px;
        padding: 15px 0px 20px 15px;
    }
}

@media (max-width: 390px) {
    .stocks__link {
        max-width: 100%;
    }
}

@media (max-width: 375px) {
    .stock__item-title {
        font-size: 18px;
        line-height: 25px;
        padding: 10px 0px 10px 10px;
    }

    .stocks__slider {
        margin-bottom: 9px;
    }
}

@media (max-width: 320px) {
    .stock__item-title {
        font-size: 16px;
        line-height: 20px;
    }
}
